div#inner-wrap
  div#content-row
    div#left-content
      p ruta 
    div#rigth-content
      div#recuadro
        div#contenido
          a(href="/proyecto/antecedentes") Antecedentes LOTA fase I
          br
          a(href="/proyecto/lota2") Presentación LOTA fase II
          br
          a(href="/proyecto/quienes") Quiénes somos
  div#content-row
    div#left-content
      img#flotaderecha(src='/images/caratulalota1.jpg')
      br  
      p Luego de la conformación de la Comisión Tripartita, se establecen los Lineamientos para la Ordenación Territorial de Antioquia -LOTA- fase I, como una prioridad enmarcada en la “Estrategia Tripartita para la Gestión Territorial Integrada”. 
      br
      p Con el apoyo técnico de la cooperación del Ministerio de Planeación de Chile - MIDEPLAN y la Agencia de Cooperación Alemana - GTZ, inicia este proceso en el 2006, con un método de planificación enfocada a la acción: 
      br 
      ol
        li 1. Participación: trasciende la sola entrega de información
        li 2. Rapidez: información disponible, sentido de oportunidad 
        li 3. Simpleza: fácil comprensión para todos los actores
      br
  
      h2 Objetivo genera LOTA fase I
      br
      p Fijar de manera concertada y participativa los lineamientos territoriales, inicialmente como una política pública de largo plazo que oriente la organización espacial del territorio, su ocupación y aprovechamiento, definiendo una adecuada estructura y sus criterios de actuación.
      br 
      h2 Lineamientos formulados
      br
      h3 Estratégicos: para el escenario territorial de referencia
      br
      ol
        li 1. Aprovechamiento sostenible de la riqueza natural y consolidación del sistema de áreas protegidas departamental 
        li 2. Fortalecimiento del sistema urbano regional departamental. 
        li 3. Integración nacional e internacional de Antioquia. 
      br
      h2 Específicos: para la zonificación funcional 
      br
      h3 Sectores productivos 
      ol
        li 1. Preservación y beneficio de las zonas agrícolas. 
        li 2. Fomento y aprovechamiento de la actividad pecuaria. 
        li 3. Desarrollo de la producción acuícola y pesquera. 
        li 4. Aprovechamiento del potencial productivo del sector forestal comercial. 
        li 5. Consolidación de la producción minera. 
        li 6. Fortalecimiento del turismo en Antioquia
      br
      h3 Sector ambiental 
      ol
        li 1. Uso racional y gestión del recurso hídrico. 
        li 2. Manejo integral del riesgo y la implementación de acciones de recuperación para las áreas degradadas. 
        li 3. Fortalecimiento y consolidación de los sistemas de áreas protegidas para el manejo sostenible de los recursos naturales. 
        li 4. Aprovechamiento sostenible de los bosques naturales. 
        li 5. Saneamiento básico. 
        li 6. Manejo regulado de las formas terrestres singulares.
      br
      h2 Diferenciados: para el área andina policéntrica, industrial y de servicios
      br
      ol
        li 1. Sostenibilidad ambiental y dependencia ecológica. 
        li 2. Visión suprasubregional para la planificación 
        li 3. Manejo del suelo rural como sistema estructurante. 
        li 4. Plataforma para la competitividad.
      br
      a#pdf(href='/docs/SINTESIS_LOTA_I.pdf') Leer más
      br
      a#pdf(href='http://www.antioquia.gov.co/antioquia-v1/organismos/planeacion/corporativo/publicaciones.html', target='blank') Ver documento completo LOTA fase I

    div#right-content
      div#recuadro
        div#titulo
          p 
            b ESTRUCTURA Y METODOLOGÍA
        div#contenido
          ul
            li Visión y modelo de desarrollo
            li Escenario territorial de referencia
            li Propuesta pública de usos preferentes
            li Sistema urbano regional y áreas funcionales estructurantes del territorio
            li Formulación de lineamientos
            li Estrategia de gestión
            li Participación de instituciones y actores públicos

      div#recuadro
        div#titulo
          p 
            b ¿QUÉ SON LINEAMIENTOS?
        div#contenido
          p Son pautas o criterios que permiten guiar el ordenamiento y la toma de decisiones respecto
          p al modelo de ocupación, a la asignación de usos y funciones y la localización de proyectos en el territorio,
          p los cuales deben orientar los planes y acciones de los actores con intereses sobre el uso del territorio
