div#centered-content
  h1 Boletines externos
  table
      tbody
        tr
          th Fecha de publicación
          th Información
        tr
          td Boletín # 1. Noviembre 16 de 2011
          td 
            a(href='/docs/boletines_externos/BoletбnExterno1.pdf') Antioquia adelanta iniciativa de ordenamiento territorial departamental de largo plazo.
        tr
          td Boletín # 2. Diciembre 6 de 2011
          td
            a(href='/docs/boletines_externos/BoletбnExterno1.pdf') Talleres subregionales LOTA: espacios para la participación.