div#centered-content
  h1 Boletines de prensa
  table
    tbody
      tr
        th Fecha de publicación
        th Información
      tr
        td Septiembre 8 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa1.pdf') Inician talleres subregionales LOTA
      tr
        td Septiembre 8 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa2.pdf') Taller LOTA Subregión en Urabá 
      tr
        td Octubre 5 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa3.pdf') Taller LOTA Subregión Norte
      tr
        td Octubre 5 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa4.pdf') Taller LOTA Subregión Occidente
      tr
        td Octubre 14 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa5.pdf') Taller LOTA Subregión Oriente
      tr
        td Noviembre 2 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa6.pdf') Taller LOTA Subregión Suroeste
      tr
        td Noviembre 3 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa7.pdf') Generalidades Proyecto LOTA Fase II
      tr
        td Noviembre 15 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa8.pdf') Taller LOTA Subregión Bajo Cauca
      tr
        td Noviembre 21 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa9.pdf') Taller LOTA Subregión Nordeste
      tr
        td Noviembre 30 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa10.pdf') Taller LOTA Subregión Magdalena Medio
      tr
        td Diciembre 12 de 2011
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa11.pdf') Encuentro de discusión técnica Valle de Aburrá
      tr
        td Enero 31 de 2012
        td 
          a(href='/docs/boletines_prensa/BoletбnPrensa12.pdf') Taller para la socialización de resultados Subregión Norte
