h3 Qué es Ordenamiento Territorial (OT)?
br
p El ordenamiento territorial se ocupa de identificar, potenciar y aprovechar los rasgos positivos de una estructura territorial, así como de aprovechar las oportunidades de cambio que revelan las tendencias positivas en el territorio. Por otro lado, el OT busca además revertir las tendencias negativas que agravarían problemas históricos. 

br
h3 Qué es LOTA?
br
p Es un ejercicio que produce lineamientos territoriales de escala departamental, con contenidos específicos de escala subregional, como marco de referencia para los diferentes procesos de planeación que vienen constituyéndose, así como para orientar adecuadamente la localización espacial de los proyectos que en materia económica, sociocultural o de infraestructura se formulen en Antioquia.

br
h3 Quién es el responsable de aplicar los LOTA?
br
p En este ejercicio se entienden como destinatarios principales de los lineamientos a las entidades territoriales o administrativas que ejercen competencias en la regulación de los usos del suelo y en la planificación del territorio en sus ámbitos natural, económico y social, es decir, el departamento de Antioquia, sus 125 municipios y el Área Metropolitana del Valle de Aburrá, los cuales deberán acogerlos como directrices de actuación territorial.

br
h3 Cómo se hicieron los LOTA?
br
p Para hacer los LOTA se eligió un enfoque inductivo que permite hacer conjeturas de carácter departamental a partir de observaciones subregionales. Para estudiar la situación de cada subregión se trabajaron cinco componentes, uno que dicta el contexto socioterritorial y los otros cuatro analizaron rasgos específicos de lo que ha ocurrido y está sucediendo en el territorio. Se desarrollaron tres etapas: la descripción y el análisis del territorio constituyen el diagnóstico, a partir del cual se formulan los lineamientos y los instrumentos de gestión, como lo muestra la figura.

center
  img(src="/images/nuevoLook/etapas.png", style="margin: 0 auto") 

br
h3 Qué es una tensión en el territorio?
br
p Las tensiones se definen como situaciones que se generan cuando sobre un mismo territorio se superponen intereses en conflicto por el uso, apropiación y explotación de recursos naturales renovables o no renovables. Algunas tensiones tienen expresiones cartográficas concretas, otras ocurren en el ámbito social y son determinantes de tensiones territoriales localizadas. LOTA se ocupa de aquellas que la ordenación territorial puede ayudar a resolver.

br
h3 Qué es una potencialidad territorial?
br
p El potencial de usos del territorio en LOTA, se compone de aquellas áreas que están siendo utilizadas en una determinada actividad económica y se consideran adecuadas de acuerdo con el uso actual del territorio, tomado del estudio de coberturas terrestres del IGAC (2007), concertadas también con los usos preferentes determinados en el primer ejercicio de LOTA (2007).

br
h3 Qué es un lineamiento?
br
p Un lineamiento se constituye de una serie de acciones del gobierno departamental y local, que van desde postulados normativos y de política pública, hasta acciones y programas, orientados a desactivar las tensiones territoriales y a promover la consolidación de las potencialidades del territorio. 
