br
h3 Modelo de Ocupación Propuesto para el Departamento de Antioquia
div(style="float:right;padding-left:10px")
  a#lineamiento(href='/images/modelo_ocupa_propuesto.png')
    img(src='/images/t_modelo_ocupa_propuesto.png')
div
  br
  p Los modelos teóricos, tan propios de la ciencia y de la técnica, pierden poder explicativo y sobre todo eficacia como propuesta, cuando se refieren a fenómenos tan complejos como la ordenación del territorio, bien se trate de explicar el proceso histórico, espontáneo que produce una determinada organización de la relación espacio-sociedad, o bien se refiera este ordenamiento a una acción planificada pretendidamente deseable desde algún enfoque o paradigma. 
  br
  p Esta advertencia previa a la presentación de la propuesta de escenario territorial planificado, es para alertar al lector de que no se trata de suplantar un complejo social natural, con fuertes elementos históricos, políticos y económicos, por una expresión plástica, por un mapa. Más bien el modelo de ocupación se refiere a la expresión espacial de la máxima aspiración para el territorio perfectamente ordenado; no es la máxima aspiración de los planificadores, ni se trata de una propuesta política ideologizada; la máxima aspiración es la consolidación de la meta, del arreglo socio-territorial óptimo para el modelo analítico y según el paradigma o modelo de "orden" utilizado. 
  br
  p En el caso de LOTA, el paradigma ambiental prioriza los valores de protección de la naturaleza, uso racional de los recursos naturales y justicia social, este último como corequisito de los dos anteriores. En consecuencia se propone un modelo conservacionista que, no obstante, admite los valores propios de la historia económica de Antioquia y las raíces profundas que tienen algunos problemas atávicos a nuestra sociedad. 
  br
  p El Modelo Propuesto, por tanto, es el que resultaría del "mejor" equilibrio uso/conservación del territorio; el más rentable a largo plazo, el que generaría más oportunidades para superar la pobreza de algunos antioqueños y antioqueñas; el más adecuado para la protección de la diversidad biológica y cultural; el más sostenible. 
  br
div(style="clear:both")
  p A partir de las tensiones y potencialidades halladas, fruto del análisis del territorio departamental en sus distintas dimensiones, se plantean un grupo de lineamientos que responden a ellas: 
  br
  table
    tbody
      tr
        th Situación encontrada
        th Lineamiento resumido
      tr
        td Áreas protegidas con títulos y/o actividad minera 
        td Antioquia dará prioridad a la función protectora sobre la minería en las áreas declaradas para tal fin. En consecuencia se estudiará la continuidad de títulos mineros en áreas protegidas y en el futuro, el Departamento no avalará los títulos mineros concedidos sobre áreas protegidas actuales o sobre las iniciativas de conservación, que se eleven a categoría de áreas protegidas.
      tr
        td Áreas protegidas con uso pecuario, agrario y agropecuario	
        td El Departamento, en asociación con los municipios, autoridades ambientales y la UAESPNN, contribuirá a la recuperación de la función protectora de todas las áreas protegidas afectadas por dichos usos, a través de acuerdos de conservación con las comunidades, la compensación por servicios ambientales y la difusión de los planes de manejo, entre otros mecanismos.
      tr
        td Áreas protegidas con centros poblados mayores y procesos de urbanización	
        td Debe aplicarse el Plan de Manejo de las Reservas Forestales Protectoras, se procurará por desarrollos urbanísticos que impliquen el menor consumo de suelo y se respetarán los cuerpos y corrientes de agua, en aplicación de la normativa vigente.
      tr
        td Reservas de la ley 2º de 1959 con títulos y actividad minera	
        td Se promoverá la redelimitación y sustracción de zonas específicas de la reserva forestal no se requieran para consolidar el Sistema Departamental de Áreas Protegidas SIDAP. Para otrogar los títulos mineros y los permisos de explotación, se dará prioridad a las familias campesinas que habitan la zona, asociadas al desarrollo de actividades mineras tradicionales.
      tr
        td Iniciativas de conservación vs. Títulos y actividad minera	
        td El Departamento, las autoridades ambientales y los municipios propenderán por la recuperación de la función protectora de las incitativas de conservación afectadas por estos usos que afectan la calidad ecosistémica de las mismas. A su vez, se propenderá por elevarlas a la categoría de áreas protegidas.
      tr
        td Iniciativas de conservación vs. Centros poblados mayores y procesos de urbanización	
        td Deberán sustraerse de las iniciativas de conservación los suelos urbanos definidos actualmente en los Planes de Ordenamiento Territorial de los municipios afectados; así como las cabeceras corregimentales que resulten inscritas bajo esta figura, conservando libres de edificación los retiros a cuerpos y corrientes de agua.
      tr
        td Centros poblados mayores y procesos de urbanización vs. Títulos y actividad minera	
        td En el Departamento se deben redelimitar los títulos mineros para que se garantice que el perímetro urbano, el suelo de expansión y las áreas suburbanas existentes y programadas en los planes de ordenamiento territorial, queden por fuera de la eventual actividad minera.
      tr
        td Centros poblados mayores y procesos de urbanización vs. Actividad petrolera y/o agroindustrial	
        td En el Departamento debe garantizarse que permanezcan libres de explotaciones y exploraciones petroleras y del uso de agroquímicos y fumigaciones, todas las zonas urbanas, el suelo de expansión urbana y las áreas suburbanas existentes y programadas en los Planes de Ordenamiento Territorial; este mismo lineamiento es aplicable a los perímetros de los centros poblados rurales, a las cabeceras corregimentales y a sus zonas de expansión en caso de poseerlas, que se fijen en los términos del Decreto 3600 de 2007 y la Ley 388 de 1997.
      tr
        td Distrito agrario vs. Procesos urbanos	
        td Deberá evaluarse la delimitación actual del Distrito Agrario y su vigencia, conforme con el uso actual del suelo y su vocación para la producción agropecuaria. Lo anterior con el objetivo de que dicha delimitación sea incorporada en los planes de ordenamiento territorial y en las políticas para su implementación.
      tr
        td Territorios colectivos vs. Títulos y actividad minera	
        td En Antioquia se promoverá el desistimiento de títulos mineros concedidos para explotación minera en territorios indígenas y tierras de comunidades negras que se encuentran vigentes, cuyos titulares sean empresas privadas y personas naturales. En cambio se favorecerán programas de explotación sostenible de minerales por las propias comunidades, a quienes se trasladará la titularidad, si así lo quiere la comunidad indígena o negra.
      tr
        td Sistema Urbano Regional	
        td 
          p necesario transitar hacia una estructura urbano-regional más equilibrada y mejor conectada, con la presencia en todas las subregiones de centros de servicios a los que puedan acceder la mayor parte de los municipios de la subregión. Esto requiere llevar las nuevas polaridades que generarán los proyectos de vías troncales (Autopistas de la Montaña o Autopistas para la Prosperidad), programar un conjunto de vías de integración subregional que deben conformar un grupo especial de vías a mejorar e innovar en cuanto al número y localización de centros subregionales interconectados. 
          p Esta nueva estructura debe reconocer también las dinámicas de frontera que explican y potencian actividades económicas y demandas de servicios urbanos de alcance supradepartamental.
      tr
        td Conflicto por la tenencia de la Tierra	
        td 
          p En Antioquia se debe propender por organizar un servicio público de formalización de la propiedad rural, dentro del proyecto de Ordenamiento Social de la propiedad Rural.
          p Además se propone ampliar la consulta a las comunidades del Cañon del Melcocho en el Carmen de Viboral, San José de Apartadó en Apartadó y Alto Cimitarra en Remedios-Segovia, para la eventual creación de Zonas de Reserva Campesina, con arreglo a lo establecido en la Ley 160 de 1994.
          p Así mismo, se debe evitar la aprobación de proyectos mineros, agroindustriales o de infraestructura en áreas con tierras protegidas por la Ley 387 de 1997, hasta que se complete el ciclo y las tierras sean restituidas a quienes las protegieron mediante este mecanismo legal.
      tr
        td Estudios de amenaza y riesgo	
        td El lineamiento propone establecer prioridades en materia de estudios detallados de amenazas naturales, a escala 1:2.000 urbano y 1:25.000 rural, vinculados a la base catastral, de modo que se pueda afectar el registro catastral exacto de los predios con restricciones a nivel de amenaza y riesgo.
      tr
        td Megaproyectos	
        td 
          p En el Departamento se dará prioridad a los Tramos III, II y I en su orden, de Autopistas de La Montaña, por el efecto que tendrían en el desarrollo subregional, al igual que la conexión Suroeste-Urabá, a través de la vía Bolombolo - Santa Fe de Antioquia.
          p El robustecimiento de un centro subregional de frontera como Apartadó mediante el mejoramiento de las vías de acceso de la región central de Antioquia y la implementación de la troncal de las Américas, suponen uno de los insumos básicos en la consolidación del desarrollo portuario de Urabá.
          p Igualmente se debe insistir en la recuperación del Puerto de Berrío y con ello en la navegabilidad del río Magdalena y la oportunidad de crear allí un Centro de Transferencia Multimodal, aprovechando el Tramo III de Autopistas para la Prosperidad y la recuperación del sistema ferroviario en el enlace entre el ferrocarril del Pacífico y el del Atlántico, actualmente inconexo.
          p En el Departamento no se deben autorizar proyectos de micro centrales por debajo de 10 MW cuando la capacidad de la fuente sea mayor, con el fin de favorecer las rentas municipales. En todo caso, en el evento de estos proyectos deberá primar el uso social del agua por comunidades locales y el concesionario de la fuente se obliga a garantizarlo.
      tr
        td Iniciativas de conservación	
        td 
          p Buscando equilibrar la estructura del SIDAP, se dará prioridad para la declaratoria de áreas protegidas a las iniciativas de conservación de las subregiones Bajo Cauca, Nordeste y Magdalena Medio, que tienen la menor cantidad de área destinada a la protección de los recursos naturales, y porque además, presentan mayores conflictos ambientales asociados a sistemas productivos inadecuados y a la extracción de minerales. 
        p Las zonificación de manglares y los sistemas de páramos, ciénagas y humedales también se consideran prioritarias debido a su singularidad y valor ecosistémico, enfatizando su incidencia en la estabilización de los efectos adversos del cambio climático.
      tr
        td Áreas con potencial agrícola y agropecuario
        td 
          p El Departamento buscará proteger los suelos con potencialidad de uso agrícola y agropecuario a fin de garantizar la seguridad alimentaria y la continuidad de las actividades productivas primarias, de acuerdo con lo establecido en el Art. 4 del Decreto 3600 de 2007.
          p Se debe apoyar la constitución, gestión y desarrollo de Distritos Agrarios en los sectores de importancia y potencialidad para la producción alimentaria. Por otra parte, se debe incentivar la constitución de Reservas Campesinas y apoyar la gestión de su desarrollo en las áreas asociadas a Reservas Forestales de Ley 2 y en territorios donde la titulación de predios requiere formalizarse y presentan tradición de usos agrícolas y agropecuarios.
      tr
        td Áreas con potencial pecuario	
        td En aras de propiciar la competitividad del uso pecuario del suelo y atenuar los efectos que sobre el medio ambiente genera la actividad ganadera, se promoverá la responsabilidad social y paisajística con la incorporación a dichas áreas, de sistemas y prácticas silvopastoriles y mejoramiento del paisaje.
      tr
        td Áreas con potencial forestal comercial	
        td El Departamento en asocio con los municipios interesados, regulará las reforestaciones comerciales en las áreas identificadas con potencial para ello, privilegiando la figura asociativa empresa-campesino sobre la monopolización de la tenencia y manejo del suelo por parte de empresas privadas. 
      tr
        td Áreas con potencial forestal protector	
        td El Departamento en asociación con los municipios y las autoridades ambientales, promoverá la protección, uso y aprovechamiento sostenible de los bosques por parte de las comunidades que se encuentran allí asentadas, mediante la implementación de un programa integral orientado a vincular a los campesinos en la conservación de los bosques que habitan, como una manera alternativa de obtención de ingresos; éste incluirá un componente de educación ambiental y el pago de compensaciones por los bienes y servicios ambientales que prestan los ecosistemas protegidos.
      tr
        td Áreas con potencial minero	
        td 
          p Los títulos que actualmente se encuentren en fases de exploración y/o explotación y que no pongan en riesgo la existencia de otras actividades o usos del suelo indispensable o necesario para la garantía de la seguridad alimentaria municipal o subregional, se constituyen en zonas de prioridad para la minería.
          p En el Departamento deberá adelantarse un proyecto de revisión de títulos mineros otorgados sobre áreas con poblaciones vulnerables por desplazamiento y conflicto armado, así como en las áreas con virtudes asociadas a las "Áreas para la producción agrícola y ganadera y de explotación de recursos naturales" y a las "Áreas del sistema de servicios públicos domiciliarios", definidas en el Artículo 4 del Decreto 3600 de 2007.
      tr
        td Áreas con potencial desarrollo de procesos urbanos	
        td 
          p Los procesos urbanos que vienen consolidándose respetarán los nodos y corredores de la Red Ecológica Principal.
          p Los nuevos desarrollos justificarán y garantizarán la relación efectiva entre la oferta y la demanda de agua, el manejo integral de residuos sólidos, el saneamiento básico, y el saneamiento hídrico de las quebradas, lo cual incluye la estrategia de recolección, transporte, separación y disposición de las aguas residuales y lluvias.
          p Se procurará por desarrollos con bajas densidades de ocupación y la integración de estos con el paisaje y el entorno.

  br
  h3 Cómo aplicar los LOTA?
  br
  p La estrategia de gestión para la implementación de los LOTA, está compuesta por los instrumentos que proporciona el ordenamiento jurídico colombiano y por el conjunto de acciones de política y gestión territorial concreta, que deben ser efectuadas para garantizar el cumplimiento de los objetivos propuestos en estos lineamientos. Para ello se plantean tres tipos de instrumentos: unos de política pública, otros normativos e intrumentos de carácter programático.

