br
h3 Modelo de Ocupación Actual en el Departamento de Antioquia
br
div(style="float: right; padding-left:10px")
  a#lineamiento(href='/images/modelo_ocupa_actual.png')
    img(src='/images/t_modelo_ocupa_actual.png')
div
  p Por modelo de ocupación puede entenderse la forma de ocupar, utilizar y transformar el espacio en unas condiciones históricas determinadas (Serrano Rodríguez, 2002), lo cual implica además, considerar la complejidad que se desprende de aspectos naturales, económicos, históricos, políticos y sociales que interactúan dándole un sentido particular a las formas de habitar y usar el territorio. 
  br
  p La noción de modelo de ocupación puede referirse a diferentes momentos en el tiempo, aludiendo en específico a su uso para diagnosticar el territorio, o bien para proyectar sobre él diferentes aspiraciones sociales que pasan necesariamente por la concertación entre actores.
  br
  p En este apartado, se hace referencia al modelo de ocupación actual, en alusión a las formas de uso y transformación del territorio que son representativas de la manera como un colectivo social ha establecido en el tiempo su concreción de la idea de desarrollo en el presente. Idea que, lejos de ser homogénea y exenta de conflictividad social, se sustenta en la presencia de tensiones y potencialidades que le dan sentido y forma al territorio.
  br
  p Las tensiones no son más que la superposición de intereses por usos del territorio que reflejan a su vez las múltiples lecturas e intervenciones, muchas veces contrapuestas en diferentes niveles de conflictividad, de las que es objeto el espacio. Por otra parte, también se manifiestan potencialidades entendidas como aquellos usos actuales que se juzgan convenientes a partir de su validación social, son coherentes con los potenciales de uso definidos para el Departamento por el IGAC y se ajustan a la noción de usos preferentes definidas en LOTA fase I.
  br
  p La lectura del modelo de ocupación a través de la configuración de las tensiones y potencialidades es lo que permite el establecimiento de los acuerdos necesarios para desactivar las primeras y proponer vías alternas de desarrollo sobre la base de las segundas en el marco de ejercicios de concertación técnica, social y política de alta complejidad como lo es LOTA.
  br
  p De esta manera, el modelo de ocupación actual es la herramienta útil que permite el reconocimiento del estado inicial de los retos a emprender para la ordenación del territorio.
  br
div(style="clear: both")
  h3 Principales tensiones
  table
    tbody
      tr
        th Tensiones
        th Descripción
      tr
        td Áreas protegidas vs. Títulos y actividad minera	
        td La tensión se identificó en 28.403 ha, afectando 5,85% del total de áreas protegidas y 3,39% de los títulos mineros otorgados en Antioquia.
      tr
        td Áreas protegidas vs. Uso pecuario, agrario y agropecuario	
        td 92.805 ha de áreas protegidas se encuentran afectadas por usos pecuarios, correspondientes al 19,1% de dichas áreas; 3.575 ha o 0,73% de la extensión de las Áreas Protegidas tienen usos agrícolas y 29.532 ha (0,47%) se encuentran afectadas por usos agropecuarios.
      tr
        td Área protegida vs. Centros poblados mayores y procesos de urbanización	
        td Se presenta en la RFP del Río León y en la RFP del Río Nare, en una superficie total de 8.878 ha.
      tr
        td Reservas de la ley 2º de 1959 vs. Títulos y actividad minera	
        td La reservas forestales de la Ley 2 ocupan 1.357.606 ha, 21,41% del territorio departamental, de las cuales 209.802 ha contienen títulos o actividad minera, lo que equivale a 15,45% del total de suelos bajo Ley 2 y al 25,01% de los suelos títulos mineros otorgados en Antioquia.
      tr
        td Iniciativas de conservación vs. Títulos y actividad minera	
        td 57.981,32 ha (6,91% del total) de títulos mineros se traslapan con alguna de las iniciativas de conservación, afectando el 7,7% de éstas áreas.
      tr
        td Iniciativas de conservación vs. Uso pecuario, agrario y agropecuario	
        td La tensión con el uso pecuario se presenta en 249.177 ha, el 33% del área de las Incitativas de Conservación; el uso agrícola se ha implantado en 12.595 ha de Iniciativas de Conservación (1,67% de su territorio), mientras que el 3,16% del área de las Iniciativas de Conservación (23.829,17 ha) está afectada con uso agropecuario.
      tr
        td Iniciativas de conservación vs. Centros poblados mayores y procesos de urbanización	
        td Esta tensión se presenta en la Reserva de Recursos Naturales de la Zona Ribereña del Río Cauca, en las Sabanas y Humedales de Magdalena Medio y en la Zona de Manglares en Urabá, en una superficie de 22.760 ha.
      tr
        td Centros poblados mayores y procesos de urbanización vs. Títulos y actividad minera	
        td En Antioquia esta tensión comprende una superficie de 21.166 ha, afectando cabeceras urbanas en todas las subregiones.
      tr
        td Centros poblados mayores y procesos de urbanización vs. Actividad petrolera y/o agroindustrial	
        td 
          p Se genera por la existencia de actividades petroleras en el entorno de la cabecera de Yondó en el Magdalena Medio, en una superficie de 926 ha. 
          p Así mismo, la presencia de agroindustria con uso intensivo de agroquímicos y fumigaciones aéreas que inciden negativamente en la salud de la población se manifiesta entorno de las cabeceras de Chigorodó, Apartadó, Carepa y Turbo, así como en los centros poblados de Currulao, El Tres y El Reposo, entre otros, en una superficie de 21.669 ha.
      tr
        td Distrito agrario vs procesos urbanos	
        td En el Oriente, el Distrito Agrario Regional fue concebido como un espacio para la producción agropecuaria campesina y se superpone con la implementación de nuevos espacios comerciales y de servicios, vivienda en parcelaciones, condominios, fincas de recreo e infraestructura vial en 30.799 ha. 
      tr
        td Territorios colectivos vs. Títulos y actividad minera	
        td 
          p De los 45 resguardos indígenas formalmente constituidos en Antioquia, 23 presentan títulos mineros, el 57,5%, en 76.027,28 ha.
          p Adicionalmente, hay 21.222 ha o 7,67% del área en títulos colectivos de Tierras de Comunidades Negras que tienen títulos mineros a su interior.
      tr
        td Tensión sistema urbano regional 	
        td 
          p El 71,8% de la población antioqueña está concentrada en el Valle de Aburrá, que a su vez concentra la mayoría de los servicios y equipamientos del Departamento, mostrando fuertes desequilibrios con las demás subregiones.
          p Se suma a esta condición la baja conectividad vial, pues la infraestructura vial obedece a un sistema radial y dependiente del centro departamental, donde la accesibilidad al interior de las subregiones es débil y en muchos casos precaria.
      tr
        td Conflicto por la tenencia de la tierra
        td 
          p La tenencia de la tierra implica al menos dos grandes procesos; la formalización de la propiedad y el acceso a tierra productiva. El análisis de estos dos temas arroja la misma conclusión: una gran cantidad de campesinos antioqueños no tienen mínimas garantías de acceso a la tierra y aún muchos de ellos, pese a trabajar la tierra en un mismo lugar hace una o más generaciones, tienen, en términos de la Ley 160 de 1994 (de reforma Agraria vigente), una "mera expectativa de propiedad" (Colombia, 1994b).
          p A ello se suman los altos índices de concentración de la propiedad y el desplazamiento forzado asociado al despojo o abandono de tierras.
      tr
        td Estudios de amenaza y riesgo
        td 
          p Los estudios de amenaza y riesgo en Antioquia presentan una diversidad de metodologías, escalas y análisis que no permiten su utilización con fines de ordenamiento territorial, con excepción de los recientes estudios de microzonificación de amenaza y riesgo adelantados en algunos municipios del área metropolitana del Valle de Aburrá.
          p Por su diversidad geográfica, Antioquia presenta gran cantidad y tipología de amenazas que deben estudiarse a fin de tomar decisiones que prevengan futuros desastres.

  br
  h3 Principales potencialidades
  table
    tbody
      tr
        th Potencialidades
        th Descripción
      tr
        td Megaproyectos	
        td Se agrupan en dos grandes tipos de obras: las vías troncales como Autopistas de La Montaña o Autopistas para la Prosperidad y la Transversal de las Américas, y las centrales de generación hidroeléctrica, desde microcentrales hasta Pescadero-Ituango, la de mayor potencial de generación.
      tr
        td Áreas con potencial de conservación	
        td De llevarse las iniciativas de conservación a la categoría de áreas protegidas, el Departamento elevaría a 19,48% la proporción de su territorio bajo alguna figura de protección formal, orientada a la singularidad ecosistémica entre otros criterios de conservación ecológica, con énfasis en el Magdalena Medio y en el Bajo Cauca.
      tr
        td Áreas con potencial agrícola y agropecuario	
        td El 2.62% de Antioquia se reconoce con potencial para uso agrícola, mientras que el 8,59% del suelo departamental posee potencial agropecuario, principalmente en Suroeste, Nordeste, Norte y Urabá.
      tr
        td Áreas con potencial pecuario	
        td Representa el 22.72% del territorio departamental, primando en Urabá, Bajo Cauca, Oriente y Occidente.
      tr
        td Áreas con potencial forestal comercial	
        td Este potencial se presenta en todas las subregiones de Antioquia, con predominio en Norte, Urabá y Nordeste. Según los reportes de las Estadísticas de la Cadena Forestal de Antioquia (2011), en el Departamento se encuentran plantadas 64.104,9 ha equivalentes al 1% del territorio antioqueño.
      tr
        td Áreas con potencial forestal protector	
        td 
          p Coinciden parcialmente con los bosques de Ley 2º de 1959 que conservan buena cobertura de bosque natural, localizados en el Atrato Medio y la serranía de Abibe en Urabá; la serranía de San Lucas en Nordeste y Bajo Cauca; en cercanías a la serranía de Ayapel entre las subregiones Norte (Ituango) y Bajo Cauca (Tarazá); en los alrededores de la Reserva Natural Bajo Cauca - Nechí, en los municipios de Tarazá, Cáceres y Zaragoza (Bajo Cauca); en Yondó (Magdalena Medio); y en El Carmen de Viboral, San Francisco y Sonsón (Oriente).
          p Ocupan 2.685.840 ha, es decir un 42.35% del territorio departamental.
      tr
        td Áreas con potencial minero	
        td Las áreas con potencial minero se presentan en todas las subregiones de Antioquia, ocupando en total 554.990 ha, equivalentes a 8,75% del Departamento, con predominio en el Nordeste y Bajo Cauca.
      tr
        td Áreas con potencial desarrollo de procesos urbanos	
        td En el Departamento existen 64.301 ha, bajo esta condición, en las subregiones Oriente, Occidente y Norte.
