div#inner-wrap
  div#fill
  div#centered-content
    br
    div#centrado
      h3.contacto  GOBERNACIÓN DE ANTIOQUIA
      p.contacto  Nancy Ruíz Muñoz - Planeación Estratégica Departamental
      p.contacto  
        a(href="mailto:nancy.ruiz@antioquia.gov.co") nancy.ruiz@antioquia.gov.co
      br
      p.contacto  Gabriel Márquez García - Planeación Estratégica Departamental
      p.contacto  
        a(href="mailto:nancy.ruiz@antioquia.gov.co") gabriel.marquez@antioquia.gov.co
      br
      p.contacto  John Jairo Ramírez Gaviria - Planeación Estratégica Departamental
      p.contacto  
        a(href="mailto:nancy.ruiz@antioquia.gov.co") john.ramirez@antioquia.gov.co
      br
      br
      h3.contacto  MUNICIPIO DE MEDELLÍN
      p.contacto  Sergio Alberto Zapata - Planeación Municipal
      p.contacto  
        a(href="mailto:nancy.ruiz@antioquia.gov.co") sergioa.zapata@medellin.gov.co
      br
      br
      h3.contacto  ÁREA METROPOLITANA DEL VALLE DE ABURRÁ
      p.contacto  Magda Marcela Restrepo - planeación del Área Metropolitana del Valle de Aburrá
      p.contacto  
        a(href="mailto:nancy.ruiz@antioquia.gov.co") magda.restrepo@meropol.gov.co
  div#fill
