div#inner-wrap
  div#fill
  div#fill
  div#fill
  div#centered-content
    br
    div#centrado
      p.contacto  Instituto de Estudios Regionales
      p.contacto  Universidad de Antioquia
      p.contacto  Calle 67 # 53 -108
      p.contacto  Bloque 9, oficina 243
      p.contacto  Medellín - Colombia
      p.contacto  Teléfono: (574) 2195699
      p.contacto
        a(href="http://iner.udea.edu.co", target="blank") http://iner.udea.edu.co
      p.contacto
        a(href="mailto:comunicacioneslota2@gmail.com") comunicacioneslota2@gmail.com

