div#centered-content
  h1 Contacto
div#fill
div#centered-content
  br
  p(align="center") Escríbanos sus inquietudes y comentarios al correo electrónico: 
    a(href="mailto:comunicacioneslota2@gmail.com") comunicacioneslota2@gmail.com
  br
  p(align="center") Llámenos al teléfono: 219 5699- Instituto de Estudios Regionales de la Universidad de Antioquia –Iner- 

div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
