div#centered-content
  h1 Información de contacto
div#fill
div#centered-content
  br
  div#centrado
    p  Instituto de Estudios Regionales
    p  Universidad de Antioquia
    p  Calle 67 # 53 -108
    p  Bloque 9, oficina 243
    p  Medellín - Colombia
    p  Teléfono: (574) 2195699
    p
      a(href="http://iner.udea.edu.co", target="blank") http://iner.udea.edu.co
    p
      a(href="mailto:comunicacioneslota2@gmail.com") comunicacioneslota2@gmail.com

div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill
