div#centered-content
  h1 Fotos LOTA II
  br
  h3 Equipo LOTA II
  a.grouped_elements(href="/images/Galeria/equipo_lota/equipo1.JPG",rel="equipo")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/equipo_lota/equipo2.JPG",rel="equipo")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Bajo Cauca, Noviembre 23 de 2011 -Caucasia-
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca1.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca2.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca3.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Magadalena Medio, Diciembre 6 de 2011-Puerto Berrío-
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio1.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio2.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio3.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Nordeste, Noviembre 29 de 2011 -Vegachí-
  a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste1.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste2.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Norte, Octubre 11 de 2011. Trabajo por subgrupos-Socioterritorial
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte1.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte2.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte3.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Occidente, Octubre 13 de 2011. Trabajo por subgrupos-Urbano Regional
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente1.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente2.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente3.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller subregional Oriente, Octubre 19. Trabajo por subgrupos- Urbano Regional
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente1.jpg",rel="Oriente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente2.JPG",rel="Oriente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente3.jpg",rel="Oriente")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Suroeste Amagа, Noviembre 10 de 2011 - trabajo subgrupos
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste1.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste2.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste3.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste4.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste5.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste6.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Urabа. Septiembre 13 de 2011 -Trabajo subgrupos-
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Uraba2.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа1.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа3.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  br
  br
  h3 Encuentro de discusión técncia Valle de Aburrа, Diciembre 13 de 2011 -Medellín-
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа1.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа2.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа3.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/w_foto1.JPG", width=130, heigth=98)