div#centered-content
  h1 Fotos LOTA II
  br
  h3 Equipo LOTA II
  a.grouped_elements(href="/images/Galeria/equipo_lota/equipo1.JPG",rel="equipo")
    img(src="/images/Galeria/thumbnail/equipo_lota/w_equipo1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/equipo_lota/equipo2.JPG",rel="equipo")
    img(src="/images/Galeria/thumbnail/equipo_lota/w_equipo2.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Bajo Cauca, Noviembre 23 de 2011 -Caucasia-
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca1.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca2.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca3.JPG",rel="BajoCauca")
    img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca3.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Magadalena Medio, Diciembre 6 de 2011-Puerto Berrío-
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio1.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio2.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio3.JPG",rel="MagdalenaMedio")
    img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio3.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregión Nordeste, Noviembre 29 de 2011 -Vegachí-
  a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste1.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/talleres/Nordeste/w_Nordeste1.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste2.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/talleres/Nordeste/w_Nordeste2.jpg", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Norte, Octubre 11 de 2011. Trabajo por subgrupos-Socioterritorial
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte1.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte2.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte3.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte3.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Occidente, Octubre 13 de 2011. Trabajo por subgrupos-Urbano Regional
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente1.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente2.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente3.JPG",rel="Occidente")
    img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente3.JPG", width=130, heigth=98)
  br
  br
  h3 Taller subregional Oriente, Octubre 19. Trabajo por subgrupos- Urbano Regional
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente1.jpg",rel="Oriente")
    img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente1.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente2.JPG",rel="Oriente")
    img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente3.jpg",rel="Oriente")
    img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente3.jpg", width=130, heigth=98)
  br
  br
  h3 Taller Suroeste Amagа, Noviembre 10 de 2011 - trabajo subgrupos
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste1.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste2.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste3.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste3.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste4.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste4.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste5.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste5.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste6.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste6.JPG", width=130, heigth=98)
  br
  br
  h3 Taller Subregional Urabа. Septiembre 13 de 2011 -Trabajo subgrupos-
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Uraba2.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Uraba2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа1.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Urabа1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа3.JPG",rel="Uraba")
    img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Urabа3.JPG", width=130, heigth=98)
  br
  br
  h3 Encuentro de discusión técncia Valle de Aburrа, Diciembre 13 de 2011 -Medellín-
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа1.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа2.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа3.JPG",rel="ValleAburra")
    img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа3.JPG", width=130, heigth=98)