div#centered-content
  h1 LOTA fase II
  br
  a#single_image(href="/images/represariogrande.jpg")
    img(src="/images/represariogrande.jpg", width=940)
  br
  br
  p El proyecto Construcción de Lineamientos de Ordenación Territorial para Antioquia –LOTA- Fase II se constituye en una iniciativa ejemplar en Colombia. Cinco universidades ponen al servicio de Antioquia su trayectoria en temas de planificación territorial para liderar la formulación de los lineamientos: la Universidad de Antioquia, la Universidad Nacional, la Universidad de Medellín, la Universidad Pontificia Bolivariana y la Escuela de Ingeniería de Antioquia.

  p Definir pautas de ordenación territorial que contengan un análisis integrador de los ámbitos municipal, metropolitano, subregional y departamental, es el reto de LOTA Fase II. Los lineamientos guiarán la toma de decisiones respecto a la asignación de usos y funciones del territorio y, en esencia, dirigirán la acción pública y privada para los próximos periodos de administración pública en Antioquia. De ahí la importancia de esta propuesta que brindará valiosos aportes para la elaboración del próximo Plan de Desarrollo del Departamento.

