h1 Antecedentes 

p Luego de la conformación de la Comisión Tripartita, se establecen los Lineamientos para la Ordenación Territorial de Antioquia -LOTA- fase I, como una prioridad enmarcada en la “Estrategia Tripartita para la Gestión Territorial Integrada”. 

p Con el apoyo técnico de la cooperación del Ministerio de Planeación de Chile - MIDEPLAN y la Agencia de Cooperación Alemana - GTZ, inicia este proceso en el 2006, con un método de planificación enfocada a la acción: 
br
p 
  ol
    li
      b 1. Participación:
      span trasciende la sola entrega de información
    li
      b 2. Rapidez: 
      span información disponible, sentido de oportunidad 
    li
      b 3. Simpleza:
      span fácil comprensión para todos los actores
br
h1 Objetivo genera LOTA fase I
p Fijar de manera concertada y participativa los lineamientos territoriales, inicialmente como una política pública de largo plazo que oriente la organización espacial del territorio, su ocupación y aprovechamiento, definiendo una adecuada estructura y sus criterios de actuación.
br 
h1 Estructura y metodología 
ul
  li 
    b Visión y modelo de desarrollo
  li 
    b Escenario territorial de referencia
  li 
    b Propuesta pública de usos preferentes
  li 
    b Sistema urbano regional y áreas funcionales estructurantes del territorio
  li 
    b Formulación de lineamientos
  li 
    b Estrategia de gestión
  li 
    b Participación de instituciones y actores públicos
br
h1 Lineamientos formulados
ul
  li 
    b Estratégicos: 
    span para el escenario territorial de referencia
    br
    ol
      li 1. Aprovechamiento sostenible de la riqueza natural y consolidación del sistema de áreas protegidas departamental 
      li 2. Fortalecimiento del sistema urbano regional departamental. 
      li 3. Integración nacional e internacional de Antioquia. 
  br
  li 
    b Específicos: 
    span para la zonificación funcional 

  li 
  b Sectores productivos 
  ol  
    li 1. Preservación y beneficio de las zonas agrícolas. 
    li 2. Fomento y aprovechamiento de la actividad pecuaria. 
    li 3. Desarrollo de la producción acuícola y pesquera. 
    li 4. Aprovechamiento del potencial productivo del sector forestal comercial. 
    li 5. Consolidación de la producción minera. 
    li 6. Fortalecimiento del turismo en Antioquia
  br
  li
  b Sector ambiental 
  ol 
    li 1. Uso racional y gestión del recurso hídrico. 
    li 2. Manejo integral del riesgo y la implementación de acciones de recuperación para las áreas degradadas. 
    li 3. Fortalecimiento y consolidación de los sistemas de áreas protegidas para el manejo sostenible de los recursos naturales. 
    li 4. Aprovechamiento sostenible de los bosques naturales. 
    li 5. Saneamiento básico. 
    li 6. Manejo regulado de las formas terrestres singulares.
  br
  li 
  b Diferenciados: 
  span para el área andina policéntrica, industrial y de servicios
  ol
    li 1. Sostenibilidad ambiental y dependencia ecológica. 
    li 2. Visión suprasubregional para la planificación 
    li 3. Manejo del suelo rural como sistema estructurante. 
    li 4. Plataforma para la competitividad.
br
p Leer más (me lleva a la síntesis de LOTA fase I)
Ver documento completo (link al sitio de la Gobernación para descargar el libro) http://www.antioquia.gov.co/antioquia-v1/organismos/planeacion/corporativo/publicaciones.html
p Ruta: Gobernación- Departamentos administrativos- Planeación- Publicaciones
br
p Poner una píldora, puede ser a un lado de la página con este texto: 
h1 ¿Qué son lineamientos?
br
p Son pautas o criterios que permiten guiar el ordenamiento y la toma de decisiones respecto al modelo de ocupación, a la asignación de usos y funciones y la localización de proyectos en el territorio, los cuales deben orientar los planes y acciones de los actores con intereses sobre el uso del territorio
