div#centered-content
  div#contIndex
    div#video
      div.video_lota
        p VIDEO
    div#tres_cuadros
      div.cuadro
       p CUADRO 1
      div.cuadro
       p CUADRO 1
      div.cuadro
       p CUADRO 1
