!!!
html
  head
  meta(name="google-site-verification",content="UKtHkz9bvx5aOBbwkB9pvil6p-t9NoVM2u_VH2QIg_0")
  title= title
  link(rel='stylesheet', href='/stylesheets/nstyle.css')
  body
    div#superwrap
      div#top
        div.wrap
          div#logo
            a(href='/')
              img(src="/images/nuevoLook/logo.png")
          div#menu
            a(href='/proyecto/antecedentes')
              img(src="/images/nuevoLook/btnLota.png")
            img(src="/images/nuevoLook/separador.png")
            a(href="/lineamientos/0")
              img(src="/images/nuevoLook/btnLineamientos.png")
            img(src="/images/nuevoLook/separador.png")
            a(href="/instrumentos")
              img(src="/images/nuevoLook/btnInstGestion.png")
            img(src="/images/nuevoLook/separador.png")
            a(href="/cartilla")
              img(src="/images/nuevoLook/btnABC.png")
            img(src="/images/nuevoLook/separador.png")
            a(href='/contacto')
              img(src="/images/nuevoLook/btnContacto.png")

      div#floating-banner
        div#slide-banner
          div.wrap
            div#slides
              img(src="/images/nuevoLook/slideBanner.png")  

      div#wrap-recuadro
        div#slogan
          div.wrap
            div#texto-slogan
              img(src="/images/nuevoLook/slogan.png")
        div#content
          div.wrap!= partial('inicio.jade')
      
      div#bottom
        div.wrap
          div.footer
            img(src="/images/nuevoLook/footer.png")

// Fancybox
link(rel='stylesheet', href='/javascripts/thirdparty/fancybox/fancybox/jquery.fancybox-1.3.4.css', type='text/css', media='screen')
script(src="/javascripts/thirdparty/fancybox/jquery-1.4.3.min.js", type="text/javascript")
script(src="/javascripts/thirdparty/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js", type="text/javascript")
script(src="/javascripts/thirdparty/fancybox/fancybox/jquery.easing-1.3.pack.js", type="text/javascript")
script(src="/javascripts/thirdparty/fancybox/fancybox/jquery.mousewheel-3.0.4.pack.js", type="text/javascript")

script(src="/javascripts/client.js", type="text/javascript")