div#centered-content
  div#contIndex
    div#video
      div.video_lota
        img(src="/images/nuevoLook/video.png")
    div#tres_cuadros
      div.cuadro
       h3 Publicación >>
       img(src="/images/nuevoLook/publicacion.png")
      div.cuadro
       a(href='/participacion')
         h3 Estrategia de Participación >>
         img(src="/images/nuevoLook/estparticipacion.png")
      div.cuadro
       a(href='/contacto')
         h3 Contacto >>
         img(src="/images/nuevoLook/contacto.png")
