div#centered-content
  div#contIndex
    div#video
      div.video_lota
        iframe(width="600", height="347", src="http://www.youtube.com/embed/n8TgvhQanuY", frameborder="0", allowfullscreen="true")
    div#tres_cuadros
      div.cuadro
       a(href='/proyecto/lota2')
         h3 Publicación fase II >>
         img(src="/images/nuevoLook/publicacion.png")
         br
         br
         p La formulación de Lineamientos de Ordenación Territorial para Antioquia -LOTA- Fase II es un proyecto de la Comisión Tripartita, ejecutado por la Universidad Nacional, la Universidad de Antioquia, la Universidad Pontificia Bolivariana, la Universidad de ...          
      div.cuadro
       a(href='/participacion')
         h3 Estrategia de Participación fase II >>
         img(src="/images/nuevoLook/estparticipacion.png")
         br
         br
         p LOTA fase II asume como criterio fundamental la participación de actores estratégicos públicos y privados en todas las subregiones. Se trata de instalar socialmente el proceso para movilizar opiniones, ideas, aspiraciones y proyectos  ....
      div.cuadro
       a(href='/contacto')
         h3 Contacto >>
         img(src="/images/nuevoLook/contacto.png")
         br
         br
         h3(style="text-align:center") GOBERNACIÓN DE ANTIOQUIA
         br
         h3(style="text-align:center") MUNICIPIO DE MEDELLÍN
         br
         h3(style="text-align:center") ÁREA METROPOLITANA DEL VALLE DE ABURRÁ

