div
  p Son todas aquellas acciones puntuales y esencialmente t√©cnicas que es preciso ejecutar y que se soportan en el reconocimiento de cada tensi√≥n o potencialidad. Constituyen acciones a corto plazo, que est√°n orientadas a hacer operativos los instrumentos normativos descritos o a desarrollar y ejecutar los elementos fundamentales de pol√≠tica p√∫blica que se han planteado para hacer realidad el modelo de ocupaci√≥n propuesto para el Departamento.
  br
  h3 Programa espec√≠fico de acuerdos de conservaci√≥n 
  br
  p Para superar la afectaci√≥n de la base natural del Departamento generada a partir de la superposici√≥n de intereses por el uso, apropiaci√≥n y explotaci√≥n de recursos naturales renovables o no renovables, a partir de actividades mineras, agr√≠colas, pecuarias o agropecuarias dentro de las √°reas protegidas y especialmente dentro de los parques nacionales naturales, as√≠ como para favorecer el desarrollo de la pol√≠tica p√∫blica departamental referida a la base natural, es indispensable para el Departamento el dise√±o de un programa espec√≠fico de acuerdos de conservaci√≥n, bajo una estructura de acuerdos multilaterales que involucren tanto a la gobernaci√≥n, a los municipios como a las autoridades ambientales y a la Unidad Administrativa Especial de Parques Nacionales (UAEPNN) para la atenci√≥n de los habitantes y comunidades asentadas en los parques nacionales naturales. Para el desarrollo de dicho programa, los municipios deber√°n adquirir mayor protagonismo en la gesti√≥n de parques nacionales con el acompa√±amiento del Departamento. Esto implica un fortalecimiento de las instituciones para el ejercicio de competencias ambientales de manera articulada, de tal forma que los municipios, el Departamento y la Unidad de Parques efect√∫en un seguimiento y acompa√±amiento constante a los acuerdos de conservaci√≥n a trav√©s de procesos de informaci√≥n y difusi√≥n p√∫blica de los planes de manejo.
  br
  p En la formulaci√≥n de los acuerdos de conservaci√≥n deber√° hacerse √©nfasis en las acciones a implementar para la atenci√≥n de la poblaci√≥n asentada en dichos territorios y que en consecuencia, es vulnerable por la presencia de grupos armados y por la inseguridad jur√≠dica frente a la tenencia de la tierra. Estos elementos deber√°n tenerse presentes para su inclusi√≥n en proyectos que propicien y promuevan el desarrollo econ√≥mico y social de estas comunidades.
  br
  p De igual modo, la participaci√≥n de los municipios en esta estrategia comporta la necesidad de que se adelanten las gestiones indispensables ante la naci√≥n para efectos de obtener el reconocimiento de compensaciones por los efectos catastrales de las √°reas protegidas que se encuentren dentro de su jurisdicci√≥n, as√≠ como la discusi√≥n de los recursos pertinentes en el sistema general de participaciones.
  br
  p El departamento de Antioquia y los municipios en los que se presenta la problem√°tica de deben igualmente, asumir como prioridad la gesti√≥n de proyectos y recursos a trav√©s del Sistema General de Regal√≠as, en los t√©rminos de los art√≠culos 25, 26, 27 del Decreto 4923 de 2011, Por el cual se garantiza la operaci√≥n del Sistema General de Regal√≠as , el cual consagra de manera expresa la posibilidad incluso de que puedan presentarse proyectos de inversi√≥n por parte de comunidades ind√≠genas y afrodescendientes. Estos proyectos podr√°n ser viabilizados con cargo a los Fondos de Compensaci√≥n Regional o de Desarrollo Regional, de conformidad con los cuales se priorizan, entre otros, los proyectos que atienden a criterios de impacto territorial, econ√≥mico, social, ambiental; de mejoramiento de las condiciones de vida de las comunidades negras, ind√≠genas; de contribuci√≥n a la integraci√≥n municipal, regional, nacional y fronteriza; de conformaci√≥n de esquemas asociativos a trav√©s del mecanismo de contratos plan; de proyectos orientativos al mejoramiento de infraestructura en las zonas de frontera y de proyectos de recuperaci√≥n y estabilizaci√≥n ambiental, reforestaci√≥n y recuperaci√≥n de ecosistemas. 

  br
  h3 Dise√±o del programa espec√≠fico para la implementaci√≥n de sistemas agroecol√≥gicos y silvopastoriles
  br
  p El Departamento, en asocio con los municipios y las autoridades ambientales, promover√°n e implementar√°n ejercicios de planificaci√≥n predial en las iniciativas de conservaci√≥n, as√≠ como la generaci√≥n de acuerdos de conservaci√≥n con los habitantes, en concordancia con los respectivos planes de manejo, cuando los tengan, y en caso de no existir se propender√°n por la formulaci√≥n de los mismos.
  br
  p  En coherencia con lo anterior se promover√° el cambio hacia t√©cnicas agroecol√≥gicas y sistemas silvopastoriles mediante la operaci√≥n del sistema de compensaciones e incentivos para dichos cambios. El Departamento junto con los municipios y las autoridades ambientales crear√°n un fondo de compensaci√≥n destinado a estas transformaciones productivas, el cual incorporar√° recursos para el fomento, promoci√≥n, divulgaci√≥n, implementaci√≥n y seguimiento del desarrollo de estas actividades.
  br
  p En el marco de dicho programa espec√≠fico se propiciar√° la concurrencia de las dependencias departamentales cuyos ejes de acci√≥n se enfocan hacia temas como la agricultura, el medio ambiente, la productividad y la competitividad; de los municipios y de las corporaciones aut√≥nomas a efectos de propiciar esfuerzos conjuntos y la adopci√≥n de medidas arm√≥nicas y coherentes.
  br
  h3 Programa espec√≠fico de formalizaci√≥n de tierra
  br
  p El Departamento de Antioquia, procurar√° adelantar procesos dirigidos a la formalizaci√≥n de la propiedad y al acceso a la productividad de la tierra. En este sentido, se deber√° propender por la formulaci√≥n y ejecuci√≥n de un proyecto de ordenamiento social de la propiedad rural, que contemple al menos, las siguientes fases:
  br
  p 1. La solicitud de Antioquia al Gobierno Nacional, de las competencias en materia de titulaci√≥n de bald√≠os, con soporte en las disposiciones sobre descentralizaci√≥n que trae la ley 160 de 1994. 
  br
  p 2. Se emprende un programa de titulaci√≥n de bald√≠os rurales en Antioquia a cargo de la Unidad de Tierras del Departamento que se crear√° para este fin espec√≠fico y para atender temas de posesiones y otras formas de tenencia.
  br
  p 3. Tomando como base la subregi√≥n de Urab√° se emprende un programa de formalizaci√≥n que debe atender todas las situaciones de posesiones y tenedores de tierras rurales, en asocio con los municipios de la subregi√≥n.
  br
  p Las fases mencionadas pueden ser paralelas guardando los tiempos de los procesos.
  br
  p As√≠ mismo, en el marco de este programa, el Departamento debe atender de manera prioritaria el tema de la protecci√≥n de tierras de la poblaci√≥n desplazada, en los t√©rminos de la Ley de V√≠ctimas y Restituci√≥n de Tierras, Ley 1448 de 2011 por la cual se dictan medidas de atenci√≥n, asistencia y reparaci√≥n integral a las v√≠ctimas del conflicto armado interno y se dictan otras disposiciones, y cooperar con las unidades especializadas creadas recientemente por Minagricultura en Antioquia, con el prop√≥sito que a nivel territorial que se tomen dos acciones concretas: 
  br
  p La primera consistente en ampliar la consulta a las comunidades del Ca√±√≥n del Melcocho en jurisdicci√≥n de El Carmen de Viboral, San Jos√© de Apartad√≥ en Apartad√≥ y Alto Cimitarra en Remedios y Segovia, para la eventual creaci√≥n de Zonas de Reserva Campesina , con arreglo a lo establecido en la Ley 160 de 1994. Se tratar√≠a de reconocer en esas zonas la organizaci√≥n campesina, la lucha por la tierra y la vulnerabilidad de sus habitantes frente a riesgos de despojo a√∫n latentes. Igualmente, implementar medidas econ√≥micas y sociales que permitan la consolidaci√≥n de los distritos agrarios en el Oriente de Antioquia, como una √¢Äúpropuesta que busca proteger las econom√≠as campesinas y tener una estructura socioproductiva rural, incentivar la producci√≥n agroecol√≥gica y el mercado justo, promover la soberan√≠a alimentaria y generar bienestar y calidad de vida para la poblaci√≥n rural√¢Äù . En este sentido, a efectos de preservar la econom√≠a agropecuaria campesina los municipios deber√°n tener en cuenta en sus planes de ordenamiento las categor√≠as de protecci√≥n de suelo rural, definidos por el art√≠culo 4√Ç¬∞ del Decreto 3600 de 2007 que establece como normas urban√≠sticas de car√°cter estructural de acuerdo con la Ley 388 de 1997, las √°reas para la producci√≥n agr√≠cola y ganadera y de explotaci√≥n de recursos naturales. En consecuencia, deber√°n ser incluidas en dichas √°reas √¢Äúlos terrenos que deban ser mantenidos y preservados por su destinaci√≥n a usos agr√≠colas, ganaderos, forestales o de explotaci√≥n de recursos naturales. √¢Ä¬¶en estos terrenos no podr√°n autorizarse actuaciones urban√≠sticas de subdivisi√≥n, parcelaci√≥n o edificaci√≥n de inmuebles que impliquen la alteraci√≥n o transformaci√≥n de su uso actual. Dentro de esta categor√≠a se incluir√°n, entre otros, y de conformidad con lo previsto en el art√≠culo 54 del Decreto-ley 1333 de 1986, los suelos que seg√∫n la clasificaci√≥n del Instituto Geogr√°fico Agust√≠n Codazzi, IGAC, pertenezcan a las clases I, II y III, y aquellos correspondientes a otras clases agrol√≥gicas que sean necesarios para la conservaci√≥n de los recursos de aguas, control de procesos erosivos y zonas de protecci√≥n forestal√¢Äù .
  br
  p La segunda de las acciones prioritarias que debe adelantar el Departamento, es evitar la aprobaci√≥n de proyectos mineros, agroindustriales o de infraestructura, en √°reas que presenten tierras protegidas por las disposiciones de la Ley 387 de 1997, hasta que se complete el ciclo de protecci√≥n y sean restituidas las tierras a quienes las protegieron mediante este mecanismo legal, que las puso fuera del mercado. Esta medida operar√≠a por 10 a√±os, tiempo prudencial en atenci√≥n a la magnitud del √°rea protegida en Antioquia.
  br
  h3 Creaci√≥n de un programa departamental para la formaci√≥n, articulaci√≥n y consolidaci√≥n de ejes y √°reas de desarrollo territorial
  br
  p Para la superaci√≥n del debilitamiento de la red urbana subregional, pese a la emergencia de centros urbanos regionales no planificados, una iniciativa de importancia que debe ejecutar el gobierno departamental para trascender hacia una estructura urbano regional m√°s equilibrada, consiste en la formulaci√≥n de un programa para la integraci√≥n territorial que considere como m√≠nimo los siguientes aspectos:
  br
  p 1)	El fortalecimiento de los ejes fronterizos: Puerto Berr√≠o (Santander- Caldas), Caucasia (Sur de C√≥rdoba y de Bol√≠var); Monter√≠a (Norte de Urab√°). 
  br
  p 2)	La incorporaci√≥n de estrategias diferenciadas de desarrollo regional que promuevan las capacidades institucionales de n√∫cleos municipales como Anor√≠, San Pedro de Urab√°, Peque, Nech√≠, Nari√±o, Caramanta, Abriaqu√≠, Argelia, Sabanalarga, Urrao y San Luis.
  br
  p 3)	Consolidaci√≥n de corredores viales que potenciar√≠an el desarrollo en √°reas de influencia. Este aspecto, es muy importante, sobre todo por los efectos que se suscitar√°n en las din√°micas urbanas a partir de la ejecuci√≥n de proyectos como Autopistas de la Monta√±a o V√≠as para la Prosperidad.
  br
  p 4)	Fortalecimiento de los Centros subregionales y mejoramiento o construcci√≥n de infraestructura vial:
  br
  p Caucasia: Centro subregional de frontera: Municipios del sur de C√≥rdoba + v√≠a Zaragoza √¢Äì C√°ceres. Autopista de la Monta√±a.
  br
  p Vegach√≠: Centro subregional Nordeste + v√≠a Amalfi _ Vegach√≠. Autopista de la Monta√±a.
  br
  p Puerto Berr√≠o: Centro Subregional del Frontera: Municipios de Santander + Puente de Puerto Nare, la Troncal de Magdalena y la v√≠a f√©rrea tur√≠stica (entre Puerto Berr√≠o y Puerto Nare.
  br
  p Apartad√≥: Centro subregional Urab√°. Autopista de la Monta√±a.
  br
  p Andes: Centro subregional Suroeste. V√≠a Andes-Jeric√≥ por el corregimiento de San Jos√©. 
  br
  p Rionegro: Centro subregional.
  br
  p Yarumal: Centro subregional. V√≠a Pescadero Ituango. 
  br
  p Santa Fe de Antioquia: Centro subregional. V√≠a Santa fe de Antioquia √¢Äì Olaya, v√≠a Santa fe de Antioquia √¢Äì Sopetr√°n, incluye en puente del r√≠o Aburr√° y la v√≠a de la vereda el Tunal. Autopista de la Monta√±a.
  br
  p Necocl√≠: Centro subregional Urab√° Norte
  br
  p Vig√≠a del Fuerte: Centro subregional Urab√° Choc√≥ para vincular los municipios del Departamento del Choc√≥ como: Bojay√° (Bellavista), Carmen del Dari√©n (Curbarad√≥), Medio Atrato (Bet√©).
  br
  p 5)	Para la integraci√≥n de la zona del Atrato Medio del Urab√° antioque√±o, se deben desarrollar estrategias tanto de integraci√≥n interdepartamental, como de mejoramiento de la cabecera de Vig√≠a del Fuerte a efectos de proveerla de equipamientos e infraestructura suficiente para la atenci√≥n de la poblaci√≥n de la regi√≥n. De igual modo, el mejoramiento del sistema de transporte fluvial y a√©reo para la zona constituye un elemento crucial para la dotaci√≥n de mejores oportunidades de desarrollo y equidad territorial a la zona.
  br
  p 6)	La recuperaci√≥n de la navegabilidad por el r√≠o Magdalena.
  br
  p Dentro de la propuesta de programa departamental para la formaci√≥n, articulaci√≥n y consolidaci√≥n de ejes y √°reas de desarrollo territorial, es de especial relevancia darle continuidad a propuestas de l√≠nea de trabajo conjunta entre las diferentes instancias territoriales, como la que se viene efectuando a trav√©s de la alianza √ÉÅrea Metropolitana del valle de Aburr√±a, Medell√≠n y Antioquia. As√≠, una vez se transite hacia una consolidaci√≥n institucional auspiciada bajo alguno de los modelos asociativos previstos en la Ley Org√°nica de Ordenamiento Territorial, dentro de la agenda de cooperaci√≥n, deben considerarse los siguientes grandes proyectos: 
  br
  p a.	Consolidaci√≥n del Parque Central de Antioquia a partir de un cintur√≥n verde metropolitano.
  br
  p b.	Solidaridad ambiental regional. Conlleva tres iniciativas: 
  br
  p √¢Ä¬¢	Creaci√≥n del Fondo regional del Agua, en principio con Belmira y los municipios del Norte. 
  br
  p √¢Ä¬¢	Saneamiento B√°sico para las comunidades ribere√±as del r√≠o Aburr√°-Porce-Nech√≠. 
  br
  p √¢Ä¬¢	Seguridad Alimentaria Regional, a partir de un modelo de organizaci√≥n campesina y comercializaci√≥n directa de productos agr√≠colas, en n√∫cleos de producci√≥n en el √ÉÅrea Metropolitana.
  br
  p c.	Consolidar centros subregionales a partir de equipamientos y v√≠as interregionales. 
  br
  p d.	Instaurar redes urbanas de frontera departamental, en torno a los centros urbanos de Puerto Berr√≠o, Caucasia, Arboletes y Vig√≠a del Fuerte.
  br
  p e.	Equilibrar la distribuci√≥n de √°reas protegidas en el Departamento, elevando a la categor√≠as del Decreto 2372 de 2010 de Minambiente, las iniciativas de conservaci√≥n identificadas por el SIDAP y LOTA, priorizando aquellas localizadas en el Bajo Cauca, Magdalena Medio y Occidente.
  br
  p f.	Formalizaci√≥n de la propiedad rural en Antioquia, a partir de la implementaci√≥n de sistemas modernos de teledetecci√≥n y SIG, entre los catastros municipal y departamental, como apoyo a la solicitud de delegaci√≥n al Departamento de Antioquia, para titular bald√≠os rurales.
  br
  p g.	Programa de balance emisiones coberturas. Medell√≠n establece, con comunidades en las subregiones de Antioquia, programas de reforestaci√≥n comercial y cuidado de √°reas de bosque no protegidas, como contribuci√≥n al balance emisiones coberturas de Medell√≠n y su √°rea metropolitana. 
  br
  h3 Estrategias para la prevenci√≥n y atenci√≥n de los asentamientos en riesgo
  br
  p La recurrencia espacial de amenazas naturales en el territorio antioque√±o, aunado al hecho de que no se dispone de estudios especializado de detalle que permita a escalas cartogr√°ficas adecuadas la adopci√≥n de decisiones en materia de ordenaci√≥n territorial, sit√∫a al Departamento ante el imperativo de establecer como prioridades los estudios detallados de amenazas, vinculados a la base catastral, de modo que se pueda afectar el registro catastral exacto de los predios con restricciones a nivel de amenaza y riesgo. En el Departamento se deber√° abordar primero los estudios de detalle de los municipios de Nech√≠, Murind√≥, Betulia y Caicedo; por su presunta necesidad de reubicaci√≥n. Posteriormente se deben abordar los estudios de detalle urbano sobre los tipos de amenaza principal y posteriormente los estudios rurales priorizados.
  br
  p El objetivo de esta estrategia es garantizar que ning√∫n municipio del Departamento revise su Plan de Ordenamiento Territorial (L√©ase PBOT, EOT) sin contar previamente con los resultados de los estudios indicados en el lineamiento formulado al respecto.
Esta estrategia est√° en concordancia con el Art√≠culo 189 del Decreto-Ley 0019 de 2012, Por el cual se dictan normas para suprimir o reformar regulaciones, procedimientos y tr√°mites innecesarios existentes en la Administraci√≥n P√∫blica, el cual sobre la incorporaci√≥n de la gesti√≥n del riesgo en la revisi√≥n de los planes de ordenamiento territorial, indica que: 
  br
  p ART√ÉçCULO 189. INCORPORACION DE LA GESTION DEL RIESGO EN LA REVISION DE LOS PLANES DE ORDENAMIENTO TERRITORIAL. Con el fin de promover medidas para la sostenibilidad ambiental del territorio, s√≥lo proceder√° la revisi√≥n de los contenidos de mediano y largo plazo del plan de ordenamiento territorial o la expedici√≥n del nuevo plan de ordenamiento territorial cuando se garantice la delimitaci√≥n y zonificaci√≥n de las √°reas de amenaza y la delimitaci√≥n y zonificaci√≥n de las √°reas con condiciones de riesgo adem√°s de la determinaci√≥n de las medidas espec√≠ficas para su mitigaci√≥n, la cual deber√° incluirse en la cartograf√≠a correspondiente. 
  br
  p El Gobierno Nacional reglamentar√° las condiciones y escalas de detalle teniendo en cuenta la denominaci√≥n de los planes de ordenamiento territorial establecida en el art√≠culo 9 de la Ley 388 de 1997.
As√≠ mismo, los municipios antioque√±os, deber√°n tener en cuenta el Art√≠culo 218 de la Ley 1450 de 2011 que los obliga a recoger y suministrar al Ministerio de Ambiente, Vivienda y Desarrollo Territorial, la informaci√≥n necesaria para conformar el Inventario Nacional de Asentamientos en riesgo de desastres.
