div#inner-wrap
  br
  p Los instrumentos para la implementación de los lineamientos, constituyen mecanismos que buscan propiciar una efectiva coordinación interinstitucional y articular competencias para la intervención de las problemáticas territoriales más relevantes y el desarrollo eficiente del territorio. Para este ejercicio se han identificado instrumentos de diverso tipo que permiten aplicar los lineamientos, intervenir las tensiones territoriales identificadas y potencializar el territorio antioqueño. Por tanto, se hará referencia a tres categorías de instrumentos que se consideran imprescindibles para la incorporación, seguimiento y desarrollo de los lineamientos por parte de sus destinatarios inmediatos. En la primera de estas categorías, se enunciarán los instrumentos de carácter político, entre los cuales se exponen todas aquellas políticas públicas que el Departamento debe diseñar, impulsar y consolidar a fin de cumplir los objetivos anunciados. En segundo lugar, se identifican una serie de instrumentos de gestión que son el resultado de los más recientes desarrollos legislativos en la materia, en particular de la ley orgánica de ordenamiento territorial, entre otras; y finalmente, se plantean una serie de instrumentos programáticos, concebidos como acciones y proyectos concretos que deben ser diseñados y ejecutados para implementación de los lineamientos, los cuales se describirán en el apartado final de este capítulo.
  br
  div#tabs
    ul
      li
        a(href="#tabs-1") Instrumentos de política pública
      li
        a(href="#tabs-2") Instrumentos de Normativos
      li
        a(href="#tabs-3") Instrumentos de caracter programático

    div#tabs-1
      div!= partial('instrpolpub.jade');
    div#tabs-2
      div!= partial('instrnorma.jade');
    div#tabs-3
      div!= partial('instrprograma.jade');

