div#inner-wrap
  br
  p La estrategia de gestión para la implementación de los lineamientos de ordenación territorial para Antioquia, que se presenta en este apartado está compuesta tanto por los instrumentos que proporciona el ordenamiento jurídico colombiano que habilitan y validan la actividad de las distintas autoridades administrativas sobre el territorio, como por el conjunto de acciones de política y gestión territorial concreta, que deben ser efectuadas para garantizar el cumplimiento de los objetivos que apuntan a revertir las tendencias negativas de la organización territorial y a potencializar la diversidad geográfica y social del territorio antioqueño. 
  br
  p Desde esta perspectiva, en este capítulo se presenta en primer lugar el fundamento normativo de los lineamientos con el propósito de exponer desde el plano jurídico-institucional el sustento que confiere validez a la actividad que viene adelantando la Comisión Tripartita, para la definición de lineamientos para la ordenación y planificación del espacio en el territorio departamental. En segundo lugar, se desarrolla y precisa el alcance de los lineamientos a partir del reconocimiento de los actores o instancias administrativas que en virtud de sus competencias son destinatarios de dichas orientaciones y directrices en tanto constituyen los sujetos encargados de adelantar las gestiones indispensables para su implementación. En tercer lugar, se presentan y desarrollan los instrumentos de aplicación de los lineamientos, los cuales constituyen mecanismos políticos, normativos y programáticos que buscan propiciar una efectiva coordinación interinstitucional y articular competencias para la intervención de las problemáticas territoriales más relevantes y el desarrollo óptimo del territorio, algunos de ellos, derivados principalmente de recientes avances legislativos como los originados en la Ley 1454 de 2011, orgánica de ordenamiento territorial (LOOT). Finalmente, se enuncian y describen aquellas estrategias complementarias de gestión que han sido identificadas como acciones puntuales y de corto plazo, tanto técnicas como administrativas, y que se soportan en el reconocimiento de cada tensión o potencialidad. 
  br
  ul
    li - Fundamento normativo de los lineamientos de ordenación territorial para Antioquia
    br
    li - Aplicación y alcance de los lineamientos a partir de la identificación de sus principales destinatarios
    br
    li - Instrumentos para la aplicación de los lineamientos
