div
  p Son todas aquellas acciones puntuales y esencialmente técnicas que es preciso ejecutar y que se soportan en el reconocimiento de cada tensión o potencialidad. Constituyen acciones a corto plazo, que están orientadas a hacer operativos los instrumentos normativos descritos o a desarrollar y ejecutar los elementos fundamentales de política pública que se han planteado para hacer realidad el modelo de ocupación propuesto para el Departamento.
  br
  h3 Programa específico de acuerdos de conservación 
  br
  p Para superar la afectación de la base natural del Departamento generada a partir de la superposición de intereses por el uso, apropiación y explotación de recursos naturales renovables o no renovables, a partir de actividades mineras, agrícolas, pecuarias o agropecuarias dentro de las áreas protegidas y especialmente dentro de los parques nacionales naturales, así como para favorecer el desarrollo de la política pública departamental referida a la base natural, es indispensable para el Departamento el diseño de un programa específico de acuerdos de conservación, bajo una estructura de acuerdos multilaterales que involucren tanto a la gobernación, a los municipios como a las autoridades ambientales y a la Unidad Administrativa Especial de Parques Nacionales (UAEPNN) para la atención de los habitantes y comunidades asentadas en los parques nacionales naturales. Para el desarrollo de dicho programa, los municipios deberán adquirir mayor protagonismo en la gestión de parques nacionales con el acompañamiento del Departamento. Esto implica un fortalecimiento de las instituciones para el ejercicio de competencias ambientales de manera articulada, de tal forma que los municipios, el Departamento y la Unidad de Parques efectúen un seguimiento y acompañamiento constante a los acuerdos de conservación a través de procesos de información y difusión pública de los planes de manejo.
  br
  p En la formulación de los acuerdos de conservación deberá hacerse énfasis en las acciones a implementar para la atención de la población asentada en dichos territorios y que en consecuencia, es vulnerable por la presencia de grupos armados y por la inseguridad jurídica frente a la tenencia de la tierra. Estos elementos deberán tenerse presentes para su inclusión en proyectos que propicien y promuevan el desarrollo económico y social de estas comunidades.
  br
  p De igual modo, la participación de los municipios en esta estrategia comporta la necesidad de que se adelanten las gestiones indispensables ante la nación para efectos de obtener el reconocimiento de compensaciones por los efectos catastrales de las áreas protegidas que se encuentren dentro de su jurisdicción, así como la discusión de los recursos pertinentes en el sistema general de participaciones.
  br
  p El departamento de Antioquia y los municipios en los que se presenta la problemática de deben igualmente, asumir como prioridad la gestión de proyectos y recursos a través del Sistema General de Regalías, en los términos de los artículos 25, 26, 27 del Decreto 4923 de 2011, Por el cual se garantiza la operación del Sistema General de Regalías , el cual consagra de manera expresa la posibilidad incluso de que puedan presentarse proyectos de inversión por parte de comunidades indígenas y afrodescendientes. Estos proyectos podrán ser viabilizados con cargo a los Fondos de Compensación Regional o de Desarrollo Regional, de conformidad con los cuales se priorizan, entre otros, los proyectos que atienden a criterios de impacto territorial, económico, social, ambiental; de mejoramiento de las condiciones de vida de las comunidades negras, indígenas; de contribución a la integración municipal, regional, nacional y fronteriza; de conformación de esquemas asociativos a través del mecanismo de contratos plan; de proyectos orientativos al mejoramiento de infraestructura en las zonas de frontera y de proyectos de recuperación y estabilización ambiental, reforestación y recuperación de ecosistemas. 

  br
  h3 Diseño del programa específico para la implementación de sistemas agroecológicos y silvopastoriles
  br
  p El Departamento, en asocio con los municipios y las autoridades ambientales, promoverán e implementarán ejercicios de planificación predial en las iniciativas de conservación, así como la generación de acuerdos de conservación con los habitantes, en concordancia con los respectivos planes de manejo, cuando los tengan, y en caso de no existir se propenderán por la formulación de los mismos.
  br
  p  En coherencia con lo anterior se promoverá el cambio hacia técnicas agroecológicas y sistemas silvopastoriles mediante la operación del sistema de compensaciones e incentivos para dichos cambios. El Departamento junto con los municipios y las autoridades ambientales crearán un fondo de compensación destinado a estas transformaciones productivas, el cual incorporará recursos para el fomento, promoción, divulgación, implementación y seguimiento del desarrollo de estas actividades.
  br
  p En el marco de dicho programa específico se propiciará la concurrencia de las dependencias departamentales cuyos ejes de acción se enfocan hacia temas como la agricultura, el medio ambiente, la productividad y la competitividad; de los municipios y de las corporaciones autónomas a efectos de propiciar esfuerzos conjuntos y la adopción de medidas armónicas y coherentes.
  br
  h3 Programa específico de formalización de tierra
  br
  p El Departamento de Antioquia, procurará adelantar procesos dirigidos a la formalización de la propiedad y al acceso a la productividad de la tierra. En este sentido, se deberá propender por la formulación y ejecución de un proyecto de ordenamiento social de la propiedad rural, que contemple al menos, las siguientes fases:
  br
  p 1. La solicitud de Antioquia al Gobierno Nacional, de las competencias en materia de titulación de baldíos, con soporte en las disposiciones sobre descentralización que trae la ley 160 de 1994. 
  br
  p 2. Se emprende un programa de titulación de baldíos rurales en Antioquia a cargo de la Unidad de Tierras del Departamento que se creará para este fin específico y para atender temas de posesiones y otras formas de tenencia.
  br
  p 3. Tomando como base la subregión de Urabá se emprende un programa de formalización que debe atender todas las situaciones de posesiones y tenedores de tierras rurales, en asocio con los municipios de la subregión.
  br
  p Las fases mencionadas pueden ser paralelas guardando los tiempos de los procesos.
  br
  p Así mismo, en el marco de este programa, el Departamento debe atender de manera prioritaria el tema de la protección de tierras de la población desplazada, en los términos de la Ley de Víctimas y Restitución de Tierras, Ley 1448 de 2011 por la cual se dictan medidas de atención, asistencia y reparación integral a las víctimas del conflicto armado interno y se dictan otras disposiciones, y cooperar con las unidades especializadas creadas recientemente por Minagricultura en Antioquia, con el propósito que a nivel territorial que se tomen dos acciones concretas: 
  br
  p La primera consistente en ampliar la consulta a las comunidades del Cañón del Melcocho en jurisdicción de El Carmen de Viboral, San José de Apartadó en Apartadó y Alto Cimitarra en Remedios y Segovia, para la eventual creación de Zonas de Reserva Campesina , con arreglo a lo establecido en la Ley 160 de 1994. Se trataría de reconocer en esas zonas la organización campesina, la lucha por la tierra y la vulnerabilidad de sus habitantes frente a riesgos de despojo aún latentes. Igualmente, implementar medidas económicas y sociales que permitan la consolidación de los distritos agrarios en el Oriente de Antioquia, como una "propuesta que busca proteger las economías campesinas y tener una estructura socioproductiva rural, incentivar la producción agroecológica y el mercado justo, promover la soberanía alimentaria y generar bienestar y calidad de vida para la población rural" . En este sentido, a efectos de preservar la economía agropecuaria campesina los municipios deberán tener en cuenta en sus planes de ordenamiento las categorías de protección de suelo rural, definidos por el artículo 4º del Decreto 3600 de 2007 que establece como normas urbanísticas de carácter estructural de acuerdo con la Ley 388 de 1997, las áreas para la producción agrícola y ganadera y de explotación de recursos naturales. En consecuencia, deberán ser incluidas en dichas áreas "los terrenos que deban ser mantenidos y preservados por su destinación a usos agrícolas, ganaderos, forestales o de explotación de recursos naturales. ... en estos terrenos no podrán autorizarse actuaciones urbanísticas de subdivisión, parcelación o edificación de inmuebles que impliquen la alteración o transformación de su uso actual. Dentro de esta categoría se incluirán, entre otros, y de conformidad con lo previsto en el artículo 54 del Decreto-ley 1333 de 1986, los suelos que según la clasificación del Instituto Geográfico Agustín Codazzi, IGAC, pertenezcan a las clases I, II y III, y aquellos correspondientes a otras clases agrológicas que sean necesarios para la conservación de los recursos de aguas, control de procesos erosivos y zonas de protección forestal" .
  br
  p La segunda de las acciones prioritarias que debe adelantar el Departamento, es evitar la aprobación de proyectos mineros, agroindustriales o de infraestructura, en áreas que presenten tierras protegidas por las disposiciones de la Ley 387 de 1997, hasta que se complete el ciclo de protección y sean restituidas las tierras a quienes las protegieron mediante este mecanismo legal, que las puso fuera del mercado. Esta medida operaría por 10 años, tiempo prudencial en atención a la magnitud del área protegida en Antioquia.
  br
  h3 Creación de un programa departamental para la formación, articulación y consolidación de ejes y áreas de desarrollo territorial
  br
  p Para la superación del debilitamiento de la red urbana subregional, pese a la emergencia de centros urbanos regionales no planificados, una iniciativa de importancia que debe ejecutar el gobierno departamental para trascender hacia una estructura urbano regional más equilibrada, consiste en la formulación de un programa para la integración territorial que considere como mínimo los siguientes aspectos:
  br
  p 1)	El fortalecimiento de los ejes fronterizos: Puerto Berrío (Santander- Caldas), Caucasia (Sur de Córdoba y de Bolívar); Montería (Norte de Urabá). 
  br
  p 2)	La incorporación de estrategias diferenciadas de desarrollo regional que promuevan las capacidades institucionales de núcleos municipales como Anorí, San Pedro de Urabá, Peque, Nechí, Nariño, Caramanta, Abriaquí, Argelia, Sabanalarga, Urrao y San Luis.
  br
  p 3)	Consolidación de corredores viales que potenciarían el desarrollo en áreas de influencia. Este aspecto, es muy importante, sobre todo por los efectos que se suscitarán en las dinámicas urbanas a partir de la ejecución de proyectos como Autopistas de la Montaña o Vías para la Prosperidad.
  br
  p 4)	Fortalecimiento de los Centros subregionales y mejoramiento o construcción de infraestructura vial:
  br
  p Caucasia: Centro subregional de frontera: Municipios del sur de Córdoba + vía Zaragoza - Cáceres. Autopista de la Montaña.
  br
  p Vegachí: Centro subregional Nordeste + vía Amalfi - Vegachí. Autopista de la Montaña.
  br
  p Puerto Berrío: Centro Subregional del Frontera: Municipios de Santander + Puente de Puerto Nare, la Troncal de Magdalena y la vía férrea turística (entre Puerto Berrío y Puerto Nare.
  br
  p Apartadó: Centro subregional Urabá. Autopista de la Montaña.
  br
  p Andes: Centro subregional Suroeste. Vía Andes-Jericó por el corregimiento de San José. 
  br
  p Rionegro: Centro subregional.
  br
  p Yarumal: Centro subregional. Vía Pescadero Ituango. 
  br
  p Santa Fe de Antioquia: Centro subregional. Vía Santa fe de Antioquia - Olaya, vía Santa fe de Antioquia - Sopetrán, incluye en puente del río Aburrá y la vía de la vereda el Tunal. Autopista de la Montaña.
  br
  p Necoclí: Centro subregional Urabá Norte
  br
  p Vigía del Fuerte: Centro subregional Urabá Chocó para vincular los municipios del Departamento del Chocó como: Bojayá (Bellavista), Carmen del Darién (Curbaradó), Medio Atrato (Beté).
  br
  p 5)	Para la integración de la zona del Atrato Medio del Urabá antioqueño, se deben desarrollar estrategias tanto de integración interdepartamental, como de mejoramiento de la cabecera de Vigía del Fuerte a efectos de proveerla de equipamientos e infraestructura suficiente para la atención de la población de la región. De igual modo, el mejoramiento del sistema de transporte fluvial y aéreo para la zona constituye un elemento crucial para la dotación de mejores oportunidades de desarrollo y equidad territorial a la zona.
  br
  p 6)	La recuperación de la navegabilidad por el río Magdalena.
  br
  p Dentro de la propuesta de programa departamental para la formación, articulación y consolidación de ejes y áreas de desarrollo territorial, es de especial relevancia darle continuidad a propuestas de línea de trabajo conjunta entre las diferentes instancias territoriales, como la que se viene efectuando a través de la alianza Área Metropolitana del valle de Aburrña, Medellín y Antioquia. Así, una vez se transite hacia una consolidación institucional auspiciada bajo alguno de los modelos asociativos previstos en la Ley Orgánica de Ordenamiento Territorial, dentro de la agenda de cooperación, deben considerarse los siguientes grandes proyectos: 
  br
  p a.	Consolidación del Parque Central de Antioquia a partir de un cinturón verde metropolitano.
  br
  p b.	Solidaridad ambiental regional. Conlleva tres iniciativas: 
  br
  ul 
    li - Creación del Fondo regional del Agua, en principio con Belmira y los municipios del Norte. 
    li - Saneamiento Básico para las comunidades ribereñas del río Aburrá-Porce-Nechí. 
    li - Seguridad Alimentaria Regional, a partir de un modelo de organización campesina y comercialización directa de productos agrícolas, en núcleos de producción en el Área Metropolitana.
  br
  p c.	Consolidar centros subregionales a partir de equipamientos y vías interregionales. 
  br
  p d.	Instaurar redes urbanas de frontera departamental, en torno a los centros urbanos de Puerto Berrío, Caucasia, Arboletes y Vigía del Fuerte.
  br
  p e.	Equilibrar la distribución de áreas protegidas en el Departamento, elevando a la categorías del Decreto 2372 de 2010 de Minambiente, las iniciativas de conservación identificadas por el SIDAP y LOTA, priorizando aquellas localizadas en el Bajo Cauca, Magdalena Medio y Occidente.
  br
  p f.	Formalización de la propiedad rural en Antioquia, a partir de la implementación de sistemas modernos de teledetección y SIG, entre los catastros municipal y departamental, como apoyo a la solicitud de delegación al Departamento de Antioquia, para titular baldíos rurales.
  br
  p g.	Programa de balance emisiones coberturas. Medellín establece, con comunidades en las subregiones de Antioquia, programas de reforestación comercial y cuidado de áreas de bosque no protegidas, como contribución al balance emisiones coberturas de Medellín y su área metropolitana. 
  br
  h3 Estrategias para la prevención y atención de los asentamientos en riesgo
  br
  p La recurrencia espacial de amenazas naturales en el territorio antioqueño, aunado al hecho de que no se dispone de estudios especializado de detalle que permita a escalas cartográficas adecuadas la adopción de decisiones en materia de ordenación territorial, sitúa al Departamento ante el imperativo de establecer como prioridades los estudios detallados de amenazas, vinculados a la base catastral, de modo que se pueda afectar el registro catastral exacto de los predios con restricciones a nivel de amenaza y riesgo. En el Departamento se deberá abordar primero los estudios de detalle de los municipios de Nechí, Murindó, Betulia y Caicedo; por su presunta necesidad de reubicación. Posteriormente se deben abordar los estudios de detalle urbano sobre los tipos de amenaza principal y posteriormente los estudios rurales priorizados.
  br
  p El objetivo de esta estrategia es garantizar que ningún municipio del Departamento revise su Plan de Ordenamiento Territorial (Léase PBOT, EOT) sin contar previamente con los resultados de los estudios indicados en el lineamiento formulado al respecto.
  br
  p Esta estrategia está en concordancia con el Artículo 189 del Decreto-Ley 0019 de 2012, Por el cual se dictan normas para suprimir o reformar regulaciones, procedimientos y trámites innecesarios existentes en la Administración Pública, el cual sobre la incorporación de la gestión del riesgo en la revisión de los planes de ordenamiento territorial, indica que: 
  br
  p ARTÍCULO 189. INCORPORACION DE LA GESTION DEL RIESGO EN LA REVISION DE LOS PLANES DE ORDENAMIENTO TERRITORIAL. Con el fin de promover medidas para la sostenibilidad ambiental del territorio, sólo procederá la revisión de los contenidos de mediano y largo plazo del plan de ordenamiento territorial o la expedición del nuevo plan de ordenamiento territorial cuando se garantice la delimitación y zonificación de las áreas de amenaza y la delimitación y zonificación de las áreas con condiciones de riesgo además de la determinación de las medidas específicas para su mitigación, la cual deberá incluirse en la cartografía correspondiente. 
  br
  p El Gobierno Nacional reglamentará las condiciones y escalas de detalle teniendo en cuenta la denominación de los planes de ordenamiento territorial establecida en el artículo 9 de la Ley 388 de 1997.
  br
  p Así mismo, los municipios antioqueños, deberán tener en cuenta el Artículo 218 de la Ley 1450 de 2011 que los obliga a recoger y suministrar al Ministerio de Ambiente, Vivienda y Desarrollo Territorial, la información necesaria para conformar el Inventario Nacional de Asentamientos en riesgo de desastres.
