div 
  h2 LINEAMIENTOS DE ORDENACIÓN TERRITORIAL
  br
  p A partir de las tensiones y potencialidades detectadas fruto del análisis del territorio departamental en sus distintas dimensiones o componentes, a continuación se plantean un grupo de lineamientos que responden directamente a las situaciones halladas, tanto a las positivas que deben ser impulsadas, como a las negativas que deben revertirse o modificarse para lograr una armonía en un Departamento planificado y ordenado.
  br
  p Algunas tensiones se agruparon en un solo lineamiento luego de concluir que las propuestas de acciones o políticas hechas allí se pueden aplicar con buenos resultado ante diversas situaciones.
  br
  table
    tbody
      tr
        th Tensiones
      tr
        td Áreas protegidas vs. Títulos y actividad minera
      tr
        td Áreas protegidas vs. Uso pecuario, agrario y agropecuario	
      tr
        td Área protegida vs. Centros poblados mayores y procesos de urbanización	
      tr
        td Reservas de la ley 2º de 1959 vs. Títulos y actividad minera	
      tr
        td Iniciativas de conservación vs. Títulos y actividad minera	
      tr
        td Iniciativas de conservación vs. Uso pecuario, agrario y agropecuario	
      tr
        td Iniciativas de conservación vs. Centros poblados mayores y procesos de urbanización	
      tr
        td Centros poblados mayores y procesos de urbanización vs. Títulos y actividad minera	
      tr
        td Centros poblados mayores y procesos de urbanización vs. Actividad petrolera y/o agroindustrial
      tr
        td Distrito agrario vs procesos urbanos	
      tr
        td Territorios colectivos vs. Títulos y actividad minera
      tr
        td 
      tr
        td Tensión sistema urbano regional	
      tr
        td Conflicto por la tenencia de la tierra	
      tr
        td Estudios de amenaza y riesgo	
      tr
        td Megaproyectos	
      tr
        th Potencialidades
      tr
        td Áreas con potencial de conservación	
      tr
        td Áreas con potencial agrícola y agropecuario	
      tr
        td Áreas con potencial forestal protector	
      tr
        td Áreas con potencial minero	
      tr
        td Áreas con potencial desarrollo de procesos urbanos	
      tr
        td Áreas con potencial forestal comercial	
