div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin19.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin19.jpg')

div
  h2 Áreas con potencial forestal comercial
  br
  p El Departamento en asocio con los municipios interesados, regulará las reforestaciones comerciales en las áreas identificadas con potencial para ello, privilegiando la figura asociativa empresa-campesino sobre la monopolización de la tenencia y manejo del suelo por parte de empresas privadas. 
  br
  p Para facilitar el ejercicio de regulación, el Departamento promoverá la conformación de los comités de coordinación Interinstitucional estipulados en el artículo 14 del decreto 2803 de 2010 , que incluya un representante del Departamento, los municipios, la autoridad ambiental competente, las organizaciones sociales del territorio donde se han registrado plantaciones, entre otros, de manera que se constituya en un instrumento que facilite:
  br
  ul
    li - El ejercicio de control por parte de las autoridades ambientales, para el cumplimiento de los requisitos y el manejo de las áreas con plantaciones forestales, a fin de garantizar la permanencia de los bosques naturales pre-existentes, haciendo un especial énfasis en las áreas protegidas, iniciativas de conservación, zonas de protección declaradas en los POT municipales, las áreas de abastecimiento de acueductos urbanos y rurales, y las demás figuras estipuladas en el Artículo 7 de la Ley 1377 de 2010 "por medio de la cual se reglamenta la actividad de reforestación comercial".
    br
    li - El ejercicio de control por parte del Departamento y los municipios en relación al respeto por las comunidades locales, su seguridad alimentaria, el mantenimiento y recuperación de las vías afectadas por los aprovechamientos forestales, así como la restauración de caminos y servidumbres que dichos aprovechamientos afecten.
  br
  p Por otra parte, el Departamento en asocio con los municipios y las autoridades ambientales, para el caso del establecimiento de grandes extensiones de plantaciones forestales, exigirán a las empresas involucradas responsabilidad social y paisajística, garantizando a las comunidades afectadas, ya sea por ofertas de compra de predios o cambios en la movilidad y conformación del paisaje, el cumplimiento al derecho a información y a decisión previa libre e informada; y exigirá la incorporación de herramientas de manejo del paisaje que garanticen la conectividad ecológica y la protección de áreas de retiro y nacimientos de agua. Así mismo se exigirá excluir de estas actividades productivas las áreas de conservación y protección ambiental según el Decreto 3600 de 2007 o en áreas objeto de protección patrimonial de población desplazada (ley 387 de 1997).
  br
  p No obstante, teniendo en cuenta las tensiones expresadas en los talleres en relación con la instauración de este uso del suelo, en las áreas con usos agrícolas, agropecuarios o pecuarios de subsistencia campesina o importantes para la seguridad alimentaria departamental, subregional o municipal, el Departamento y los municipios fortalecerán dichas actividades con base en lo estipulado en el lineamiento asociado al potencial agrícola, agropecuario y pecuario, como una forma de contener la venta indiscriminada de predios para la actividad forestal comercial.

br
