div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin14.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin14.jpg')

div
  h2 Estudios de amenaza y riesgo
  br
  p El lineamiento propone establecer prioridades en materia de estudios detallados de amenazas naturales, a escala 1:2.000 urbano y 1:5.000 rural , vinculados a la base catastral, de modo que se pueda afectar el registro catastral exacto de los predios con restricciones a nivel de amenaza y riesgo. La ruta crítica consiste en abordar primero estudios de detalle de los municipios de Nechí, Murindó, Betulia y Caicedo; por su presunta necesidad de reubicación. Posteriormente se debe abordar los estudios de detalle urbano sobre los tipos de amenaza principal y posteriormente los estudios rurales priorizados.
  br
  p En concordancia con el Art. 189 del Decreto-Ley 0019 de 2012 (Ley Antitrámites), ningún municipio debe revisar su Plan de Ordenamiento Territorial (léase PBOT, EOT) sin contar previamente con los resultados de los estudios indicados en este lineamiento. Los estudios se deberán adelantar en concordancia con la reglamentación que se expida sobre la incorporación de la gestión del riesgo en la revisión de los POT. A la letra, el citado Artículo indica que:
  br
  p "ARTÍCULO 189. INCORPORACION DE LA GESTION DEL RIESGO EN LA REVISION DE LOS PLANES DE ORDENAMIENTO TERRITORIAL. Con el fin de promover medidas para la sostenibilidad ambiental del territorio, sólo procederá la revisión de los contenidos de mediano y largo plazo del plan de ordenamiento territorial o la expedición del nuevo plan de ordenamiento territorial cuando se garantice la delimitación y zonificación de las áreas de amenaza y la delimitación y zonificación de las áreas con condiciones de riesgo además de la determinación de las medidas específicas para su mitigación, la cual deberá incluirse en la cartografía correspondiente.
  br
  p El Gobierno Nacional reglamentará las condiciones y escalas de detalle teniendo en cuenta la denominación de los planes de ordenamiento territorial establecida en el artículo 9 de la Ley 388 de 1997".

br
