div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin10.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin10.jpg')

div
  h2 Distrito agrario vs. Procesos urbanos
  br
  p Por parte del Departamento, en articulación con la Asociación de Municipios del Altiplano del Oriente Antioqueño y la Corporación Ambiental, deberá evaluarse la delimitación actual del distrito agrario y su vigencia, conforme con el uso actual del suelo y su vocación para la producción agropecuaria. Lo anterior con el objetivo de que dicha delimitación sea incorporada en los planes de ordenamiento territorial y en las políticas para su implementación.
  br
  p En las áreas que se incorporen dentro del distrito agrario regional, se priorizará el uso agropecuario frente al proceso urbanizador y se formularán e implementarán políticas orientadas a contener tales procesos.
  br
  p Conforme con el propósito anterior se requiere atender cuatro problemas graves estrechamente correlacionados: la tendencia a la fragmentación predial, la escasez de tierra que padecen al menos la mitad de los propietarios rurales en el distrito agrario, la pérdida de importancia de la producción de alimentos en la subregión que mayor importancia tiene en el abastecimiento alimentarios del Departamento y la pérdida de integridad ecológica de los ecosistemas subregionales."La estrategia adecuada es aquella que éste vinculada a la planeación del desarrollo, y el ordenamiento y gestión del territorio; por la vía de la reglamentación de la clasificación y uso del suelo rural". 
  br
  p En este sentido, tanto el Departamento como los municipios implicados en la figura y la Corporación Ambiental, deberán promover un proceso de consolidación del Distrito Agrario que esté enmarcado en tres aspectos:
  br
  ol
    li 1.	Las áreas que los municipios en coordinación con la corporación ambiental determinen incorporar en la figura del distrito agrario, serán declaradas bajo la categoría Áreas de conservación y protección para la producción agrícola, ganadera, paisajística estipulada en el decreto 3600 de 2007 , las cuales serán acogidas por los POT municipales de manera que pueda darse un soporte legal sólido a la propuesta de distrito agrario del altiplano del oriente Antioqueño. 
    br
    li 2.	Se implementarán programas de asociación de productores, otorgando asistencia técnica y ambiental, a las veredas y población que hagan parte del área declarada como Distrito Agrario, entre otras acciones orientadas a la viabilidad y materialización del mismo.
    br
    li 3.	Adicionalmente "Se respetaran los Nodos y Corredores de la Red Ecológica Regional, establecidos como suelos de protección; en los cuales el Artículo 4º del Decreto 3600 de 2007, acogiendo el Parágrafo del artículo 3º del Decreto 096 de 2006, establece que no podrán autorizarse actuaciones urbanísticas de subdivisión, parcelación o edificación de inmuebles que impliquen la alteración o transformación del uso actual"

br
