div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin11.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin11.jpg')

div
  h2 Territorios colectivos vs. Títulos y actividad minera
  br
  p En Antioquia se promoverá el desistimiento de títulos mineros concedidos para explotación minera en territorios indígenas y tierras de comunidades negras que se encuentran vigentes, cuyos titulares sean empresas privadas y personas naturales. En cambio se favorecerán programas de explotación sostenible de minerales por las propias comunidades, a quienes se trasladará la titularidad, si así lo quiere la comunidad indígena o negra. Los esquemas de asociación con empresas privadas y/o públicas o con inversionistas particulares, que en ejercicio de su libre determinación plantearan en el futuro las comunidades indígenas o negras titulares de los derechos de exploración y explotación, serán especialmente vigiladas por una comisión interinstitucional que conformaría la gerencia indígena, la gerencia de negritudes del Departamento o la entidad que haga sus veces. En Antioquia no se avalará el otorgamiento de nuevos títulos mineros en territorios indígenas o tierras de comunidades negras, sino con arreglo a lo establecido en este lineamiento.
  br
  p Además se promoverá de forma especial la titulación de nuevos territorios colectivos a comunidades indígenas, así como la consolidación de consejos comunitarios en las tierras que se reclamen como ocupadas por comunidades afro-descendientes, dando prioridad a los territorios interdepartamentales que puedan resultar en el Medio y Bajo Atrato, para lo cual se incluirá esta temática en una agenda de cooperación con el Departamento del Chocó.

br
div#fill
div#fill
div#fill
