div
  h2 Áreas con potencial agrícola y agropecuario

div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin17_1.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin17_1.jpg')

div.mapa
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin17_2.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin17_2.jpg')


div
  br
  p El Departamento buscará proteger los suelos con potencialidad de uso agrícola y agropecuario a fin de garantizar la seguridad alimentaria y la continuidad de las actividades productivas primarias, de acuerdo con lo establecido en el Art. 4 del Decreto 3600 de 2007. Brindará especial protección a la producción de alimentos, dado que se debe garantizar su disponibilidad, en cantidades suficientes y calidad adecuada, especialmente para las poblaciones más desfavorecidas, en cumplimiento de lo consagrado por la Constitución Política (Arts. 44 y 65) y acogiéndose los Objetivos del Milenio, con lo cual se contribuye a la erradicación de la pobreza (Objetivo 1).
  br
  p Se debe apoyar la constitución, gestión y desarrollo de Distritos Agrarios en los sectores de importancia y potencialidad para la producción alimentaria. Por otra parte, se debe incentivar la constitución de Reservas Campesinas y apoyar la gestión de su desarrollo en las áreas asociadas a Reservas Forestales de Ley 2 y en territorios donde la titulación de predios requiere formalizarse y presentan tradición de usos agrícolas y agropecuarios. Con las Secretarías de Agricultura y Desarrollo Rural, de Participación y del Medio Ambiente, el INCODER y entidades afines, el Departamento establecerá un programa de apoyo técnico y financiero a estas iniciativas.
  br
  p El Departamento contribuirá a la compatibilidad ambiental de los usos del suelo agrícola y agropecuario con la generación de incentivos y compensaciones por cambios técnicos que incorporen mecanismos de producción limpia en producciones empresariales y adopten sistemas agroecológicos en producciones campesinas. Para ello se debe constituir un fondo de compensaciones ambientales, se debe gestionar su financiación con entidades nacionales e internacionales y se deben establecer los mecanismos de su operación.
  br
  p A su vez, se promoverá la formulación y el desarrollo de un plan maestro de abastecimiento alimentario departamental, desde donde se proyectará el sistema de equipamientos y se priorizará la ejecución de las infraestructuras de apoyo para la comercialización, transformación y desarrollo logístico de productos agropecuarios y abastecimiento alimentario, buscando articulación y equilibrio territorial entre las subregiones; además se buscará generar alianzas entre productores y consumidores, y articular de manera justa y equitativa los diferentes actores de las cadenas de comercialización con los productores.

br
