div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin16.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin16.jpg')

div
  h2 Iniciativas de conservación
  br
  p Dado el potencial que tienen las iniciativas de conservación identificadas por el SIDAP por poseer recursos ecosistémicos valiosos para la sociedad, éstas deben ser declaradas como áreas protegidas bajo alguna de las figuras reconocidas en los términos del Decreto 2372 de 2010. En este sentido, debe también formularse para dichas áreas un plan de manejo acorde con el interés colectivo que éstas generan y en virtud de la importancia ecosistémica y ambiental que la sociedad les otorga, así como establecer las estrategias de sostenibilidad financiera para su administración y gestión.
  br
  p Con el propósito de equilibrar la estructura del sistema de Áreas protegidas del Departamento, se dará prioridad a las iniciativas de conservación de las subregiones Bajo Cauca, Nordeste y Magdalena Medio, toda vez resulta comparativamente insignificante en estas subregiones la cantidad de área con destino a la conservación y protección "legal" de los recursos naturales y porque además, son las que presentan mayores conflictos ambientales asociados a sistemas productivos inadecuados y a la extracción de minerales. Las iniciativas como la zonificación de manglares y los sistemas de páramos, ciénagas y humedales también se consideran prioritarias debido a su singularidad y valor ecosistémico, sumado al hecho que no están representados en las áreas que hacen parte SIDAP y poseen una relativa alta incidencia en la estabilización de los efectos adversos del cambio climático.
  br
  p De manera adicional se reconoce el alto impacto tanto de asentamientos humanos como de usos agrarios sobre estos escenarios lo que obliga a través del Departamento a propiciar la implementación de acuerdos de manejo y ordenamiento predial que contribuyan a la recuperación y preservación de ecosistemas por parte de las comunidades que los habitan, basado en un sistema de incentivos provenientes de un fondo de compensaciones, cuyos recursos el Departamento y los municipios gestionarán ante la nación y organismos internacionales.
  br
  p Las CAR y el SIDAP deben fijar a corto plazo un orden de prioridad para llevar estas iniciativas de conservación a la categoría de áreas protegidas.

br
