div.mapa 
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div
  h2 Sistema Urbano Regional
  br
  p El análisis del sistema Urbano Regional del Departamento deja conclusiones claras: las zonas más aisladas coinciden con las áreas que registran mayor presencia de actividades ilícitas y reflejan los mayores índices de pobreza material. El sistema urbano regional de Antioquia no cuenta con centros subregionales en todas las subregiones, de modo que se erijan en espacios de relevo de servicios que se prestan en el Área Metropolitana o en centros de mayor jerarquía con servicios de alta calidad. Apartadó y Rionegro son excepciones a esta regla pero este hecho territorial no ha sido premeditado ni planificado. En cambio subregiones como el Norte, el Suroeste, el Nordeste, el Magdalena medio, el Bajo Cauca y porciones subregionales en el Oriente antioqueño (Bosques y Páramo), Urabá (Norte), entre otras, no cuentan con un centro subregional que preste de servicios de gram complejidad como los ofrecidos en la metrópoli regional. En otras palabras, el sistema urbano-regional de Antioquia se encuentra débilmente estructurado, entre otras razones por la deficiente conectividad interregional entre los centros locales y poblaciones urbanas básicas y los que deben fungir como centros subregionales.
  br
  p Otra conclusión es que existen centros urbanos cuyas características de aislamiento y/o de emplazamiento geográfico, imponen una atención en materia de equipamientos que rebase la regla típica de equipamientos acorde a la jerarquía urbana. Estos son Anorí, San Pedro de Urabá, Peque, Nechí, Nariño, Caramanta, Abriaquí, Argelia, Sabanalarga, Urrao y San Luis. Estos 11 centros comportan oportunidades y necesidades de dotación especial de equipamientos a nivel hospitalario, de educación y de conectividad virtual, directamente proporcionales a las dificultades de integrarlos con vías de calidad a los centros subregionales que les corresponden en cada subregión.
  br
  p Es necesario transitar hacia una estructura urbano-regional más equilibrada y mejor conectada, con la presencia en todas las subregiones de centros de servicios a los que puedan acceder la mayor parte de los municipios de la subregión. Esto requiere llevar las nuevas polaridades que generarán los proyectos de vías troncales (Autopistas de la Montaña o Vías para la Prosperidad), programar un conjunto de vías de integración subregional que deben conformar un grupo especial de vías a mejorar e innovar en cuanto al número y localización de centros subregionales interconectados. Esta nueva estructura debe reconocer también las dinámicas de frontera que explican y potencian actividades económicas y demandas de servicios urbanos de alcance supradepartamental. Los sistemas de frontera se ubican en torno de Puerto Berrío (Santander - Caldas), Caucasia (Sur de Córdoba y de Bolívar) y Norte de Urabá (Montería). 
  br
  p Los centros subregionales que pueden reconocerse y deben consolidarse, junto con los proyectos de conexión vial necesarios para la funcionalidad de los mismos, son: 
  br
  b Centros Subregionales.
  br
  ol
    li 1.	Caucasia: Centro subregional de frontera, su área de influencia cubre parte de la subregión y municipios del sur de Córdoba. Las vías que requieren mejoramiento prioritario a efectos del funcionamiento de éste centro subregional son las siguientes: vía Zaragoza - Cáceres, Vía Nechí Caucasia. Se incluye el Tramo II de Autopista de la Montaña, como proyecto estratégico. 
    li 2.	Vegachí: Centro subregional Nordeste. Las vías que requieren mejoramiento prioritario son Amalfi - Vegachí, tramo entre Santo Domingo y la vía Medellín - Puerto Berrío, tramo entre Santo Roque y la vía Medellín - Puerto Berrío. Se incluye el Tramo II de Autopista de la Montaña, como proyecto estratégico.
    li 3.	 Puerto Berrío: Centro subregional de Frontera, su área de influencia cubre parte de los municipios de Santander; es estratégica la construcción de un puente entre Puerto Nare y la Troncal del Magdalena Medio permitiendo una mayor conectividad de esta parte de la subregión con Puerto Triunfo, Puerto Berrío y el resto del país. Este proyecto optimizaría los tiempos de recorrido, sin construir nuevas vías paralelas a la Troncal del Magdalena Medio, aprovechando así los buenos niveles de servicio que ofrece la misma.
  br
  p La vía férrea turística (entre Puerto Berrío y Puerto Nare), mejoraría la conectividad entre estas cabeceras y los centros poblados de Estación Cocorná, Estación Pita, Puerto Perales.
  br
  ol
    li 4.	Apartadó: Centro subregional Urabá Centro. Autopista de la Montaña. 
    br
    li 5.	Andes: Centro subregional Suroeste. Se requiere el mejoramiento de la vía Andes - Jericó por el corregimiento de San José. 
    br
    li 6.	Rionegro: Centro subregional de Oriente. Se requiere mejorar la vía Nariño - Sonsón, Argelia - Sonsón, con el objetivo de que sea efectiva la prestación de servicios desde Sonsón a estos municipios, ya que de la zona de Páramos Sonsón es el mayor prestador de servicios.
    br
    li 7.	Yarumal: Centro subregional del Norte. Se requiere la vía Pescadero Ituango. 
    br
    li 8.	Santa Fe de Antioquia: Centro subregional de Occidente. Requieren las vías Santa Fe de Antioquia - Olaya, Santa Fe de Antioquia - Sopetrán incluyendo el puente del río Aurrá y la vía de la vereda el Tunal, influenciados por las Autopistas de la Montaña.
    br
    li 9.	Necoclí: Centro subregional de Urabá Norte. Se deberá mejorar la vía Arboletes - Montería, ya que presenta mayor proximidad con esta cabecera municipal, así como la conexión a San Pedro de Urabá.
    br
    li 10.	Vigía del Fuerte: Centro subregional de Urabá-Chocó para vincular los municipios del Departamento del Chocó como Bojayá (Bellavista), Carmen del Darién (Curbaradó) y Medio Atrato (Beté).

  br
  p Merece una mención especial el sistema aislado (de la Antioquia Andina y Costera) del Atrato Medio, conformado por los municipios de Vigía del Fuerte y Murindó, en cambio fuertemente integrados social, cultural e históricamente al sur del Bajo y al Medio Atrato Chocoano. Esta paradoja entre aislamiento de Antioquia e integración con Chocó, se propone como oportunidad para conformar en Vigía del Fuerte, un centro subregional de servicios de alta calidad urbanística, para atender la población en esta frontera departamental y consolidar un sistema urbano regional especial fluvial, de frontera. Ello implicaría romper con la idea de dotaciones convencionales en materia de salud, optimizar y modernizar la conexión aérea y fluvial, y profundizar la conectividad virtual entre los centros urbanos y con el centro de Antioquia.

br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
