div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin13.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin13.jpg')

div
  h2 Conflicto por la tenencia de la Tierra
  br
  p En Antioquia se debe propender por organizar un servicio público de formalización de la propiedad rural, dentro del proyecto de Ordenamiento Social de La propiedad Rural. Se proponen para este proyecto tres fases a saber: 
  br
  ol
    li 1. La solicitud de Antioquia al Gobierno Nacional de las competencias en materia de titulación de baldíos, para lo cual se puede invocar la experiencia reciente del convenio citado atrás, con soporte en las disposiciones sobre descentralización que trae la ley 160 de 1994. 
    br
    li 2. Se emprende un programa de titulación de baldíos rurales en Antioquia a cargo de la Unidad de Tierras del Departamento que se creará para este fin específico y para atender temas de posesiones y otras formas de tenencia.
    br
    li 3. Tomando como base la región de Urabá se emprende un programa de formalización que debe atender todas las situaciones de posesiones y tenedores de tierras rurales, en asocio con los municipios de la subregión.
  br
  p Las fases mencionadas pueden ser paralelas guardando los tiempos de los procesos.
  br
  p Un segundo objetivo dentro de este lineamiento es atender al tema de la protección de tierras de la población desplazada, ahora en el marco de la ley de Tierras. Además de la cooperación con las unidades especializadas creadas recientemente por Minagricultura en Antioquia, se propone, a nivel territorial que se tomen dos acciones concretas: 
  br
  p La primera es ampliar la consulta a las comunidades del Cañon del Melcocho en jurisdicción del Carmen de Viboral, San José de Apartadó en Apartadó y Alto Cimitarra en Remedios-Segovia, para la eventual creación de Zonas de Reserva Campesina , con arreglo a lo establecido en la Ley 160 de 1994. Se trataría de reconocer en esas zonas la organización campesina, la lucha por la tierra y la vulnerabilidad de sus habitantes frente a riesgos de despojo aún latentes. Igualmente, implementar medidas económicas y sociales que permitan la consolidación de los distritos agrarios en el Oriente de Antioquia, como una "propuesta que busca proteger las economías campesinas y tener una estructura socioproductiva rural, incentivar la producción agroecológica y el mercado justo, promover la soberanía alimentaria y generar bienestar y calidad de vida para la población rural"
  br
  p La segunda es evitar la aprobación de proyectos mineros, agroindustriales o de infraestructura, en áreas que presenten tierras protegidas por las disposiciones de la Ley 387 de 1997, hasta que se complete el ciclo de protección y sean restituidas las tierras a quienes las protegieron mediante este mecanismo legal, que las puso fuera del mercado. Esta medida operaría por 10 años, tiempo prudencial dada la magnitud del área protegida en Antioquia que equivale 97.482 ha.

br
