div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin15.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin15.jpg')

div
  h2 Megaproyectos
  br
  p En el Departamento se dará prioridad a los Tramos III, II y I, en su orden, de Autopistas de La Montaña, por el efecto que tendrían en el desarrollo subregional, mayor que otros trazados y prioridades. La conexión Suroeste-Urabá se aprecia como una oportunidad de aprovechar la capacidad instalada de exportación por la industria bananera, para sacar del país café por esta vía. A los estudios de impacto ambiental que ordena la ley, se deben sumar estudios de impacto territorial que determinen los cambios en la geografía regional que operarán con la puesta en funcionamiento de los proyectos viales, enfatizando en las inversiones para paliar efectos negativos y para aprovechar oportunidades de desarrollo local. Este mismo tipo de estudios deberán acompañar los proyectos de generación hidroeléctrica de Pescadero-Ituango y Samaná Sur.
  br
  p El robustecimiento de un centro subregional de frontera como Apartadó mediante el mejoramiento de las vías de acceso de la región central de Antioquia y la implementación de la troncal de las Américas, suponen uno de los insumos básicos en la consolidación del desarrollo portuario de Urabá, que si bien es cierto, resulta suficiente para los volúmenes de exportación actual de banano y plátano, recientemente piña y flores, bien podría resultar limitado frente a la intención expresa de exportar ganado en pie y a canal a los países de Líbano y China, toda vez que una significativa porción de la geografía regional (norte de Urabá y suroeste de Córdoba) actualmente permanece en ganadería extensiva.
  br
  p Bien se podría exhortar la necesidad antioqueña de recuperar el Puerto de Berrío y con esto insistir en la navegabilidad del río Magdalena y la oportunidad de crear allí un Centro de Transferencia Multimodal, asunto de toda la vigencia tanto con el Tramo III de Autopistas de la Montaña como con la recuperación del sistema ferroviario en el enlace entre el ferrocarril del Pacífico y el del Atlántico, actualmente inconexo.
  br
  p En el Departamento no se deben autorizar proyectos de micro centrales por debajo de 20 MW cuando la capacidad de la fuente sea mayor, con el fin de favorecer las rentas municipales. En todo caso, en el evento de estos proyectos deberá primar el uso social del agua por comunidades locales y el concesionario de la fuente se obliga a garantizarlo. Para tal efecto los concesionarios podrán trabajar en acuerdos comunidad-empresa para el cuidado y uso adecuado de las fuentes asociadas a micro céntrales. Esta iniciativa se debe elevar a política energética departamental, instrumento que además deberá fijar el umbral del potencial hidroeléctrico que será objeto de proyectos de generación de energía en atención entre otras, a los usos previos del agua autorizados u otorgados por ministerio de ley.
  br
  p Donde se hallen establecidas y en producción centrales hidroeléctricas, el Departamento solicitará la revisión a quien corresponda de los dineros que por impuesto predial e industria y comercio deben liquidar estas compañías a los municipios. De igual manera solicitará la revisión de la exención de impuestos por rango de cantidad de energía generada y prima de respaldo por potencia.
  br
  p Para la implementación de los planes maestros de acueductos regionales de prestación de servicios públicos, se debe iniciar en las subregiones con los más bajos indicadores de prestación de agua potable (Occidente, Nordeste, Bajo Cauca y Magdalena Medio) a la larga los más afectados por un conjunto de situaciones entre las que cabe mencionar la producción minera, la deforestación y la escasés de áreas naturales protegidas.

br
