div.mapa 
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div
  h2 Conflicto por la tenencia de la Tierra
  br
  p En Antioquia se debe propender por organizar un servicio público de formalización de la propiedad rural, dentro del proyecto de Ordenamiento Social de La propiedad Rural. Se proponen para este proyecto tres fases a saber: 
  br
  ol
    li 1. La solicitud de Antioquia al Gobierno Nacional de las competencias en materia de titulación de baldíos, para lo cual se puede invocar la experiencia reciente del convenio citado atrás, con soporte en las disposiciones sobre descentralización que trae la ley 160 de 1994. 
    br
    li 2. Se emprende un programa de titulación de baldíos rurales en Antioquia a cargo de la Unidad de Tierras del Departamento que se creará para este fin específico y para atender temas de posesiones y otras formas de tenencia.
    br
    li 3. Tomando como base la región de Urabá se emprende un programa de formalización que debe atender todas las situaciones de posesiones y tenedores de tierras rurales, en asocio con los municipios de la subregión.
  br
  p Las fases mencionadas pueden ser paralelas guardando los tiempos de los procesos.
  br
  p Un segundo objetivo dentro de este lineamiento es atender al tema de la protección de tierras de la población desplazada, ahora en el marco de la ley de Tierras. Además de la cooperación con las unidades especializadas creadas recientemente por Minagricultura en Antioquia, se propone, a nivel territorial que se tomen dos acciones concretas: 
  br
  p La primera es ampliar la consulta a las comunidades del Cañon del Melcocho en jurisdicción del Carmen de Viboral, San José de Apartadó en Apartadó y Alto Cimitarra en Remedios-Segovia, para la eventual creación de Zonas de Reserva Campesina , con arreglo a lo establecido en la Ley 160 de 1994. Se trataría de reconocer en esas zonas la organización campesina, la lucha por la tierra y la vulnerabilidad de sus habitantes frente a riesgos de despojo aún latentes. Igualmente, implementar medidas económicas y sociales que permitan la consolidación de los distritos agrarios en el Oriente de Antioquia, como una "propuesta que busca proteger las economías campesinas y tener una estructura socioproductiva rural, incentivar la producción agroecológica y el mercado justo, promover la soberanía alimentaria y generar bienestar y calidad de vida para la población rural"
  br
  p La segunda es evitar la aprobación de proyectos mineros, agroindustriales o de infraestructura, en áreas que presenten tierras protegidas por las disposiciones de la Ley 387 de 1997, hasta que se complete el ciclo de protección y sean restituidas las tierras a quienes las protegieron mediante este mecanismo legal, que las puso fuera del mercado. Esta medida operaría por 10 años, tiempo prudencial dada la magnitud del área protegida en Antioquia que equivale 97.482 ha.

br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
