div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin18.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin18.jpg')

div
  h2 Áreas con potencial pecuario
  br
  p En aras de propiciar la competitividad del uso pecuario del suelo y atenuar los efectos que sobre el medio ambiente genera la actividad ganadera, desde las Secretarías de Agricultura y Desarrollo Rural y Medio Ambiente se impulsará y promoverá la responsabilidad social y paisajística con la transformación de dichos usos del suelo en sistemas silvopastoriles y mejoramiento del paisaje con reconstrucción de corredores ribereños y cercas vivas que recuperan conectividad ecológica en las fincas y en el nivel subregional, favoreciendo la recuperación de biodiversidad, garantizando manejo de trazabilidad y mejoramiento de indicadores de productividad y de rentabilidad.
  br
  p El cambio a sistemas silvopastoriles en la ganadería se puede apoyar en la generación de un sistema de incentivos y compensaciones por la recuperación de servicios ambientales que estos sistemas propicien. Para ello se debe gestionar la constitución de un Fondo de compensaciones articulado al proyecto Ganadería Colombiana Sostenible que busca implementar a una mayor escala los resultados del proyecto GEF/Banco Mundial "Enfoques Silvopastoriles Integrados para el Manejo de Ecosistemas" del cual el país hizo parte con Costa Rica, Nicaragua. 
  br
  p El Departamento establecerá metas progresivas de implementación de dicho proyecto soportado en asistencia técnica, gestión con fuentes públicas y privadas del Fondo de compensación por servicios ambientales y generación de las infraestructuras de apoyo en las subregiones que posibiliten la articulación a cadenas de comercialización y transformación de productos cárnicos y lácteos.
  br
  p Debe buscarse la protección de los suelos clasificados en estas categorías a fin de garantizar la seguridad alimentaria y la competitividad de las subregiones, de acuerdo con lo establecido en el Art. 4 del Decreto 3600 de 2007.

br
div#fill