div.mapa
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div.mapa 
  a#single_image(href='/images/Mapas/Mapa3.jpg')
    img(src='/images/Mapas/Mapa3.jpg', width='352')

div 
  h2 Áreas protegidas vs. Títulos y actividad minera 
  br
  p En el Departamento hay 24 áreas protegidas que ocupan 7,66% del territorio (485.528,7 ha). En Antioquia se han otorgado 1504 títulos mineros sobre 838.781,19 ha equivalentes al 13,23% del territorio departamental, que corresponden casi al doble respecto a las áreas protegidas mediante alguna figura formal reconocida en el Decreto 2372 de 2011. Áreas protegidas y títulos mineros coinciden el 28.403 ha; que equivalen el 5,85% del total de áreas protegidas y 3,39% de los títulos mineros concedidos. La tensión tiene lugar en su mayoría en la subregión del suroeste para explotación aurífera, pero afecta a 16 de las 24 áreas protegidas del Departamento. 
  br
  p Antioquia dará prioridad a la función protectora sobre la minería en las áreas declaradas para tal fin, atendiendo al hecho de que el impacto sobre la actividad minera sobre esta decisión, será en todo caso menor que la opción contraria. Sólo se afectarían 28.403 ha en títulos mineros, y se preservaría de esta actividad al 66,6% de las áreas protegidas de Antioquia. En consecuencia se estudiará la continuidad de títulos mineros en áreas protegidas y en el futuro, el Departamento no avalará los títulos mineros concedidos sobre áreas protegidas actuales o sobre las iniciativas de conservación reconocidas en estos lineamientos, que se eleven a categoría de áreas protegidas.
br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
