div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin22.jpg', width="1000px")
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin22.jpg')

div
  h2 Áreas con potencial desarrollo de procesos urbanos
  br
  p En el Departamento existen procesos de urbanización significativos y con una fuerte tendencia a la consolidación en las subregiones de Oriente y Occidente, los que debido a sus ventajas de localización y a las pocas probabilidades de ser revertidos se inscriben dentro de esta categoría. Así mismo se identifica un potencial para la localización agroindustrial en zonas específicas de la subregión Norte. Esta categoría también incluye el suelo urbano actualmente definido para cada municipio. Bajo las condiciones definidas, se incluyen 64.301 ha. 
  br
  p Los procesos urbanos que vienen consolidándose respetarán los nodos y corredores de la Red Ecológica Principal. En este sentido las nuevas actuaciones procurarán por el mantenimiento o restauración de la vegetación autóctona y en el caso de cursos fluviales por la restauración de la vegetación ribereña, a fin de incrementar en la medida de lo posible la función conectora de estos corredores, e influir positivamente en la calidad del paisaje de los espacios urbanos o suburbanos que estos cursos recorran.
  br
  p En caso de ampliación del perímetro urbano y/o suelos destinados a la expansión urbana, el municipio, a través del Plan de Ordenamiento Territorial o de su revisión, justificará debidamente la programación de estos nuevos crecimientos, frente a la ocupación actual del suelo urbano, el crecimiento demogáfico y frente al tamaño de suelo suburbano actual y programado.
  br
  p Los nuevos desarrollos justificarán y garantizarán la relación efectiva entre la oferta y la demanda de agua, el manejo integral de residuos sólidos, el saneamiento básico, y el saneamiento hídrico de las quebradas, lo cual incluye la estrategia de recolección, transporte, separación y disposición de las aguas residuales y lluvias.
  br
  p Se procurará por desarrollos con bajas densidades de ocupación y la integración de estos con el paisaje y el entorno.
  br
  p Se procurará por evitar la conurbación suburbana y de los suelos de expansión entre municipios, con el objetivo de preservar los posibles corredores de conectividad ecológica y dejar abiertas las posibilidades para suelos de conservación, así como preservar las actividades productivas preexistentes.

br
