div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin21.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin21.jpg')

div
  h2 Áreas con potencial minero
  br
  p Tratándose de un potencial asociado al subsuelo, este no es exclusivo sino que se superpone con otros potenciales asociados al uso del suelo, en consecuencia sobre un área con potencial minero se presentan potenciales agrícolas, pecuarios, agropecuarios y forestales.
  br
  p Los títulos que actualmente se encuentren en fases de exploración y/o explotación y que no pongan en riesgo la existencia de otras actividades o usos del suelo indispensable o necesario para la garantía de la seguridad alimentaria municipal o subregional, se constituyen en zonas de prioridad para la minería.
  br
  p En las áreas en las cuales el potencial minero compite con la presencia de comunidades campesinas asociadas a usos pecuarios, agrarios y agropecuarios (zonas definidas en el Artículo 4 del Decreto 3600 de 2007 como Categorías de Protección en Suelo Rural y denominadas "Áreas para la producción agrícola y ganadera y de explotación de recursos naturales"), se dará prioridad al uso otorgado por dichas comunidades, previa consulta con las mismas. 
  br
  p En áreas que el ordenamiento territorial municipal haya identificado como abastecedoras de acueductos urbanos y rurales o áreas asociadas a infraestructuras de saneamiento básico o al manejo y disposición de residuos sólidos (zonas definidas en el Artículo 4 del Decreto 3600 de 2007 como Categorías de Protección en Suelo Rural y denominadas "Áreas del sistema de servicios públicos domiciliarios"), se priorizará el uso protector sobre el uso minero.
  br
  p En áreas objeto de protección patrimonial de población desplazada (ley 387 de 1997) y en las áreas identificadas como objeto de restitución de tierras o reparación a víctimas del conflicto, el Departamento no concederá nuevos títulos mineros y revocará los existentes. 
  br
  p En el Departamento deberá adelantarse un proyecto de revisión de títulos mineros otorgados sobre áreas con poblaciones vulnerables por desplazamiento y conflicto armado, así como en las áreas con virtudes asociadas a las "Áreas para la producción agrícola y ganadera y de explotación de recursos naturales" y a las "Áreas del sistema de servicios públicos domiciliarios", definidas en el Artículo 4 del Decreto 3600 de 2007.

br
