div.mapa 
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div
  h2 Áreas con potencial desarrollo de procesos urbanos
  br
  p En el Departamento existen procesos de urbanización significativos y con una fuerte tendencia a la consolidación en las subregiones de Oriente y Occidente, los que debido a sus ventajas de localización y a las pocas probabilidades de ser revertidos se inscriben dentro de esta categoría. Así mismo se identifica un potencial para la localización agroindustrial en zonas específicas de la subregión Norte. Esta categoría también incluye el suelo urbano actualmente definido para cada municipio. Bajo las condiciones definidas, se incluyen 64.301 ha. 
  br
  p Los procesos urbanos que vienen consolidándose respetarán los nodos y corredores de la Red Ecológica Principal. En este sentido las nuevas actuaciones procurarán por el mantenimiento o restauración de la vegetación autóctona y en el caso de cursos fluviales por la restauración de la vegetación ribereña, a fin de incrementar en la medida de lo posible la función conectora de estos corredores, e influir positivamente en la calidad del paisaje de los espacios urbanos o suburbanos que estos cursos recorran.
  br
  p En caso de ampliación del perímetro urbano y/o suelos destinados a la expansión urbana, el municipio, a través del Plan de Ordenamiento Territorial o de su revisión, justificará debidamente la programación de estos nuevos crecimientos, frente a la ocupación actual del suelo urbano, el crecimiento demogáfico y frente al tamaño de suelo suburbano actual y programado.
  br
  p Los nuevos desarrollos justificarán y garantizarán la relación efectiva entre la oferta y la demanda de agua, el manejo integral de residuos sólidos, el saneamiento básico, y el saneamiento hídrico de las quebradas, lo cual incluye la estrategia de recolección, transporte, separación y disposición de las aguas residuales y lluvias.
  br
  p Se procurará por desarrollos con bajas densidades de ocupación y la integración de estos con el paisaje y el entorno.
  br
  p Se procurará por evitar la conurbación suburbana y de los suelos de expansión entre municipios, con el objetivo de preservar los posibles corredores de conectividad ecológica y dejar abiertas las posibilidades para suelos de conservación, así como preservar las actividades productivas preexistentes.

br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
