div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin20.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin20.jpg')

div
  h2 Áreas con potencial forestal protector
  br
  p El Departamento en asociación con los municipios y las autoridades ambientales, promoverá la protección, uso y aprovechamiento sostenible de los bosques por parte de las comunidades que se encuentran allí asentadas, mediante la implementación de un programa integral orientado a vincular a los campesinos en la conservación de los bosques que habitan, como una manera alternativa de obtención de ingresos; éste incluirá un componente de educación ambiental y el pago de compensaciones por los bienes y servicios ambientales que prestan los ecosistemas protegidos.
  br
  p Una vez se haya hecho la sustracción de los bosques de ley 2ª de 1959, estudios específicos en estas áreas (reservas de la ley 2 de 1959 vs. títulos y actividad minera) indicarán aquellas que resulten con singularidad ecosistémica y que no tengan representación en el SIDAP, las cuales deberán entrar a hacer parte del sistema de áreas protegidas bajo alguna de las figuras del Decreto 2372 de 2010.
  br
  p En estos sitios se restringirá la titulación de predios privados para explotación y aprovechamiento de recursos mineros, agrícolas, forestales comerciales o pecuarios. 

br
div#fill
div#fill
div#fill
div#fill
div#fill