div.mapa
  a#single_image(href='/images/Mapas/Mapa4.jpg')
    img(src='/images/Mapas/Mapa4.jpg', width='352')

div.mapa 
  a#single_image(href='/images/Mapas/Mapa5.jpg')
    img(src='/images/Mapas/Mapa5.jpg', width='352')

div 
  h1 Lineamiento 2
  br
  h2 Texto Tensiones y Potencialidades 
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
