div.mapa 
  a#single_image(href='/images/nuevoLook/MapasLineamientos/lin3.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin3.jpg')

div 
  h2 Área protegida vs. Centros poblados mayores y procesos de urbanización 
  br
  p En el Departamento de Antioquia se presentan dos sectores con procesos urbanos dentro de la delimitación de áreas protegidas que cubren una superficie de 8.878 ha.
  br
  p En el caso de la Reserva Forestal Protectora del Río Nare debe aplicarse el Plan de Manejo correspondiente, los objetivos y el régimen de uso y ocupación previstos en la Resolución 1510 de 5 de Agosto de 2010 del Ministerio del Medio Ambiente.
  br
  p En el caso de la Reserva Forestal Protectora del Río León, mientras se formula un plan de manejo y los estudios detallados de amenaza y riesgo que definan determinaciones sobre los procesos urbanos actuales, se procurará por desarrollos que impliquen el menor consumo de suelo en virtud de una densidad mayor de los predios existentes, o desarrollos en altura siempre y cuando las condiciones técnicas lo permitan, y se respetarán los cuerpos y corrientes de agua a fin de asegurar los corredores biológicos del Río León hacia el interior.
  br
  p Es necesario que en el corto plazo Corpourabá, en asocio con el Departamento y el municipio de Turbo, formulen e implementen el plan de manejo de la Reserva Forestal Protectora del Río León.
  br
  p En el futuro el Departamento de Antioquia no avalará la creación de áreas protegidas sobre las zonas urbanas y de expansión definidas en los planes de ordenamiento territoriales, con excepción de áreas que se determinen posean singularidades ecosistémicas.
br
div#fill