div.mapa 
  a#single_image(href='/images/Mapas/Mapa5.jpg')
    img(src='/images/Mapas/Mapa5.jpg', width='352')

div 
  h2 Área protegida vs. Centros poblados mayores y procesos de urbanización 
  br
  p En el Departamento de Antioquia se presentan dos sectores con procesos urbanos dentro de la delimitación de áreas protegidas que cubren una superficie de 8.878 ha.
  br
  p En el caso de la Reserva Forestal Protectora del Río Nare debe aplicarse el Plan de Manejo correspondiente, los objetivos y el régimen de uso y ocupación previstos en la Resolución 1510 de 5 de Agosto de 2010 del Ministerio del Medio Ambiente.
  br
  p En el caso de la Reserva Forestal Protectora del Río León, mientras se formula un plan de manejo y los estudios detallados de amenaza y riesgo que definan determinaciones sobre los procesos urbanos actuales, se procurará por desarrollos que impliquen el menor consumo de suelo en virtud de una densidad mayor de los predios existentes, o desarrollos en altura siempre y cuando las condiciones técnicas lo permitan, y se respetarán los cuerpos y corrientes de agua a fin de asegurar los corredores biológicos del Río León hacia el interior.
  br
  p Es necesario que en el corto plazo Corpourabá, en asocio con el Departamento y el municipio de Turbo, formulen e implementen el plan de manejo de la Reserva Forestal Protectora del Río León.
  br
  p En el futuro el Departamento de Antioquia no avalará la creación de áreas protegidas sobre las zonas urbanas y de expansión definidas en los planes de ordenamiento territoriales, con excepción de áreas que se determinen posean singularidades ecosistémicas.
br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
