div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin4.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin4.jpg')

div 
  h2 Reservas de la ley 2º de 1959 vs. Títulos y actividad minera 
  br
  p La cuarta parte de los títulos mineros concedidos en Antioquia (25%), se localizan dentro de la zona de reserva forestal de Ley 2 de 1959. Así las cosas las restricciones objetivas al desarrollo de la minería recaen sobre una figura incierta en sus objetivos hoy, aun cuando tuvo sentido al momento de su creación como reserva de explotación maderera (Decreto Ley 2811 de 1974).
  br
  p El Departamento de Antioquia, con las entidades territoriales implicadas con áreas de Ley 2 y con el apoyo de las Corporaciones Autónomas Regionales - CAR - promoverá la redelimitación y sustracción de zonas específicas de la reserva forestal, que por las condiciones de intervención antrópica que presentan en la actualidad, no se requieran para consolidar el Sistema Departamental de Áreas Protegidas SIDAP. Como resultado de esta iniciativa, en el corto plazo deben resultar tres tipos de zonas como mínimo: Áreas de protección (a ser reconocidas dentro de las figuras que trae el Decreto 2372 de 2010); áreas con potencial minero y zonas de actividad agroproductiva campesina, con potenciales de producción que el mismo ejercicio de sustracción deberá determinar.
  br
  p Previendo que parte de la economía de las familias campesinas que habitan las zonas de reserva de ley segunda está asociada al desarrollo informal de actividades mineras tradicionales, el Departamento y los municipios darán prioridad a estas comunidades en lo referente a concesión de títulos mineros en las áreas que se definan con potencial para este uso; en cuanto a los títulos que ya han sido otorgados, se adelantarán procesos de negociación con los titulares, orientados a la entrega de un porcentaje del área a las comunidades que han explotado tradicionalmente, los cuales incluirán un acompañamiento técnico y ambiental.
br
div#fill