div.mapa 
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div 
  h2 Reservas de la ley 2º de 1959 vs. Títulos y actividad minera 
  br
  p La cuarta parte de los títulos mineros concedidos en Antioquia (25%), se localizan dentro de la zona de reserva forestal de Ley 2 de 1959. Así las cosas las restricciones objetivas al desarrollo de la minería recaen sobre una figura incierta en sus objetivos hoy, aun cuando tuvo sentido al momento de su creación como reserva de explotación maderera (Decreto Ley 2811 de 1974).
  br
  p El Departamento de Antioquia, con las entidades territoriales implicadas con áreas de Ley 2 y con el apoyo de las Corporaciones Autónomas Regionales - CAR - promoverá la redelimitación y sustracción de zonas específicas de la reserva forestal, que por las condiciones de intervención antrópica que presentan en la actualidad, no se requieran para consolidar el Sistema Departamental de Áreas Protegidas SIDAP. Como resultado de esta iniciativa, en el corto plazo deben resultar tres tipos de zonas como mínimo: Áreas de protección (a ser reconocidas dentro de las figuras que trae el Decreto 2372 de 2010); áreas con potencial minero y zonas de actividad agroproductiva campesina, con potenciales de producción que el mismo ejercicio de sustracción deberá determinar.
  br
  p Previendo que parte de la economía de las familias campesinas que habitan las zonas de reserva de ley segunda está asociada al desarrollo informal de actividades mineras tradicionales, el Departamento y los municipios darán prioridad a estas comunidades en lo referente a concesión de títulos mineros en las áreas que se definan con potencial para este uso; en cuanto a los títulos que ya han sido otorgados, se adelantarán procesos de negociación con los titulares, orientados a la entrega de un porcentaje del área a las comunidades que han explotado tradicionalmente, los cuales incluirán un acompañamiento técnico y ambiental.
br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
