div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin5.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin5.jpg')

div 
  h2 Iniciativas de conservación vs. Títulos y actividad minera
  br
  p Las iniciativas de conservación ocupan el 11,88% del área departamental y constituyen un potencial para tener bajo una figura de protección contemplada en el Decreto 2372 de 2010. Por otra parte, el 19,54% del área del Departamento está concedido a títulos mineros. 
  br
  p El Departamento, los Municipios y las Corporaciones Autónomas Regionales deberán consolidar el Sistema Departamental de Áreas Protegidas, elevando a algunas de las categorías del Decreto 2372 de 2010 o de las normas que lo modifiquen o sustituyan, las iniciativas de conservación contempladas en este lineamiento. Mientras tanto se revisarán los títulos mineros otorgados sobre estas áreas y no se avalarán futuros títulos mineros a no ser que estudios específicos desestimen la importancia de la iniciativa de conservación.
br
div#fill
div#fill
div#fill
div#fill
div#fill
div#fill