div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin6.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin6.jpg')

div 
  h2 Iniciativas de conservación vs. Uso pecuario, agrario y agropecuario
  br
  p En el Departamento se encuentran bajo la categoría de Iniciativas de conservación 11 unidades que cubren 752.238.34 ha (11,88% del territorio departamental). A su vez, se presentan 2.917.871.59 ha (46.13%) en usos agrícolas, agropecuario y pecuario: 199.164,95 ha, 3,14% del área en uso agrícola, 607.338,46 ha, 9,57% del área departamental en uso agropecuario y 2.102.208,38 ha, el 33.15% del territorio en uso pecuario. 
  br
  p El 37,92% del área de las iniciativas de conservación (285.601,57 ha), presentan tensiones por usos agrícola, agropecuario y pecuario. Esta tensión se distribuye así: 12.595,4 ha, el 1,67% de iniciativas de conservación afectadas por usos agrícolas; 23.829,17 ha, 3,16% de las iniciativas de conservación afectadas por uso agropecuario y 249.177 ha, el 33% del área de las iniciativas de conservación afectada por uso pecuario. 
  br
  p La tensión tiene lugar en las subregiones: Magdalena Medio (47,17%), Oriente (31,95%), Bajo Cauca (10,36%), Suroeste (5,42%), Occidente (4,46%), Nordeste (0,41%), Urabá (0,15%) y Norte (0,03%), y afecta a todas las incitativas de conservación del Departamento. 
  br
  p Dada la pérdida de biodiversidad y de conectividad ecológica que implica la implementación de usos agrícolas, agropecuarios y pecuarios en áreas de especial interés ecosistémico y la alta afectación encontrada en las iniciativas de conservación del Departamento por estos usos, es prioritario limitar su proliferación y valorar la importancia de los bienes y servicios ecosistémicos que las Iniciativas de conservación contienen . 
  br
  p El Departamento de Antioquia, las autoridades ambientales y los municipios propenderán por la recuperación de la función protectora de las incitativas de conservación afectadas por los usos agrícolas, agropecuarios y pecuarios, en virtud de que estos usos afectan fuertemente la calidad ecosistémica de las mismas. 
  br
  p El Departamento en asocio con los municipios y las autoridades ambientales promoverán e implementarán acuerdos de conservación con las comunidades y propietarios que habitan éstas áreas, implementando ejercicios de planificación predio a predio que propicien la recuperación o reparación ecológica de las áreas en las iniciativas de conservación afectadas por usos agrícolas, agropecuarios y pecuarios, en concordancia con los respectivos planes de manejo, cuando los tengan, y en caso de no existir se propenderán por la formulación de los mismos. En coherencia con lo anterior se promoverá el cambio hacia sistemas agroecológicos  y silvopastoriles mediante la operación del sistema de compensaciones e incentivos para dichos cambios, para lo cual el Departamento en asocio con los municipios y las autoridades ambientales creará y operará un fondo de compensación. A su vez, se propenderá por elevar a la categoría de áreas protegidas dichas iniciativas de conservación que garantice la conservación de la diversidad biológica y la sostenibilidad y mantenimiento de sus bienes y servicios ecosistémicos.
br
