div.mapa 
  a#single_image(href='/images/Mapas/Mapa2.jpg')
    img(src='/images/Mapas/Mapa2.jpg', width='352')

div 
  h2 Iniciativas de conservación vs. Uso pecuario, agrario y agropecuario
  br
  p En el Departamento se encuentran bajo la categoría de Iniciativas de conservación 11 unidades que cubren 752.238.34 ha (11,88% del territorio departamental). A su vez, se presentan 2.917.871.59 ha (46.13%) en usos agrícolas, agropecuario y pecuario: 199.164,95 ha, 3,14% del área en uso agrícola, 607.338,46 ha, 9,57% del área departamental en uso agropecuario y 2.102.208,38 ha, el 33.15% del territorio en uso pecuario. 
  br
  p El 37,92% del área de las iniciativas de conservación (285.601,57 ha), presentan tensiones por usos agrícola, agropecuario y pecuario. Esta tensión se distribuye así: 12.595,4 ha, el 1,67% de iniciativas de conservación afectadas por usos agrícolas; 23.829,17 ha, 3,16% de las iniciativas de conservación afectadas por uso agropecuario y 249.177 ha, el 33% del área de las iniciativas de conservación afectada por uso pecuario. 
  br
  p La tensión tiene lugar en las subregiones: Magdalena Medio (47,17%), Oriente (31,95%), Bajo Cauca (10,36%), Suroeste (5,42%), Occidente (4,46%), Nordeste (0,41%), Urabá (0,15%) y Norte (0,03%), y afecta a todas las incitativas de conservación del Departamento. 
  br
  p Dada la pérdida de biodiversidad y de conectividad ecológica que implica la implementación de usos agrícolas, agropecuarios y pecuarios en áreas de especial interés ecosistémico y la alta afectación encontrada en las iniciativas de conservación del Departamento por estos usos, es prioritario limitar su proliferación y valorar la importancia de los bienes y servicios ecosistémicos que las Iniciativas de conservación contienen . 
  br
  p El Departamento de Antioquia, las autoridades ambientales y los municipios propenderán por la recuperación de la función protectora de las incitativas de conservación afectadas por los usos agrícolas, agropecuarios y pecuarios, en virtud de que estos usos afectan fuertemente la calidad ecosistémica de las mismas. 
  br
  p El Departamento en asocio con los municipios y las autoridades ambientales promoverán e implementarán acuerdos de conservación con las comunidades y propietarios que habitan éstas áreas, implementando ejercicios de planificación predio a predio que propicien la recuperación o reparación ecológica de las áreas en las iniciativas de conservación afectadas por usos agrícolas, agropecuarios y pecuarios, en concordancia con los respectivos planes de manejo, cuando los tengan, y en caso de no existir se propenderán por la formulación de los mismos. En coherencia con lo anterior se promoverá el cambio hacia sistemas agroecológicos  y silvopastoriles mediante la operación del sistema de compensaciones e incentivos para dichos cambios, para lo cual el Departamento en asocio con los municipios y las autoridades ambientales creará y operará un fondo de compensación. A su vez, se propenderá por elevar a la categoría de áreas protegidas dichas iniciativas de conservación que garantice la conservación de la diversidad biológica y la sostenibilidad y mantenimiento de sus bienes y servicios ecosistémicos.
br
div 
  h2 Texto Lineamiento
  br
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus nisl, aliquet ac elementum quis, viverra vel nibh. Aenean tempor arcu id magna gravida sit amet rutrum mi aliquet. Quisque sodales imperdiet hendrerit. In hac habitasse platea dictumst. In massa felis, vehicula ac auctor sit amet, euismod vel quam. Donec dolor leo, lacinia id cursus consequat, feugiat eget lorem. Vivamus at ante massa, ut porttitor sem.
  br
  p Aenean blandit, elit a hendrerit sagittis, lacus ligula condimentum urna, id lacinia orci dolor vitae lorem. Curabitur varius erat et leo porttitor blandit. Donec commodo rhoncus tellus tristique sagittis. Nullam eu erat orci, at scelerisque nibh. Proin fermentum egestas iaculis. Suspendisse a purus ac libero ullamcorper vestibulum hendrerit a mauris. Sed nisl diam, vulputate et facilisis vitae, adipiscing quis ante. Nulla congue molestie elementum. Fusce non luctus lorem. Morbi ultricies consectetur purus, vel scelerisque ipsum interdum nec. Donec consectetur elit id erat accumsan eu scelerisque sem pharetra. Praesent tortor diam, convallis a bibendum nec, congue id dolor. Pellentesque at erat lorem. Maecenas elementum varius tristique.
  br
  p Quisque sit amet ipsum ut eros faucibus lobortis in sed turpis. Sed mauris lorem, dictum id gravida in, convallis eget nisi. Pellentesque ligula nisl, vehicula vitae convallis sed, volutpat nec libero. Maecenas eu lacinia enim. Vestibulum bibendum, lacus eget ultricies consectetur, nisl purus placerat ipsum, non condimentum augue metus ac risus. Integer pulvinar, elit nec convallis elementum, metus augue pulvinar ante, at sollicitudin lorem quam a purus. Maecenas ac dapibus erat. Duis facilisis nulla quis lorem suscipit id rutrum tortor vehicula. Etiam congue, diam nec porta accumsan, enim turpis commodo ligula, vel sodales quam sapien quis urna.
  br
  p Proin vel elit odio, elementum consequat lorem. Nunc malesuada consequat ante, in rhoncus mauris porta ut. Ut sed eros nisi, id mattis velit. Donec mattis est vitae justo sollicitudin vitae venenatis lorem tempor. In congue interdum sagittis. Phasellus ultricies dui a massa volutpat interdum. Aliquam quam felis, interdum vitae convallis vitae, imperdiet eget sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis purus erat, sit amet volutpat turpis. Fusce gravida mauris sed nisl viverra vehicula. Aenean erat sapien, blandit at ultricies a, lacinia eget dolor. Duis scelerisque nulla non sapien adipiscing lacinia at quis justo. Duis et leo vel elit lobortis vestibulum.
  br
  p Sed et egestas magna. Morbi magna neque, varius at consequat eget, molestie vitae lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Quisque condimentum congue enim, nec aliquet felis hendrerit sit amet. Nam sollicitudin porta urna. Quisque in dignissim odio. Fusce eget tellus id neque auctor egestas. Aenean at velit lorem, suscipit interdum orci.
  br
  p Etiam tempus lacinia nisl. In in dui quis leo feugiat fermentum vitae et metus. Praesent eu mollis magna. Sed non risus diam. Donec a sapien urna. Sed tempus justo sed nisi fermentum a ultricies orci porttitor. Mauris ut turpis metus, eget cursus dolor. Sed vitae libero sed urna aliquam imperdiet ut in eros. Nullam quis ipsum et erat congue faucibus et id sem. Donec ornare, libero sit amet ullamcorper consequat, odio enim semper nunc, ut sollicitudin est erat in FINAL.
