div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin8.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin8.jpg')

div
  h2 Centros poblados mayores y procesos de urbanización vs. Títulos y actividad minera
  br
  p En el Departamento de Antioquia existe una tensión entre la actividad minera y procesos urbanos en 50 cabeceras municipales, además de diferentes centros poblados localizados en diferentes subregiones, con una superficie afectada de 21.116 ha. La subregión que presenta esta condición con mayor superficie es Nordeste con 14.351 ha.
  br
  p En el Departamento se deben redelimitar los títulos mineros para que se garantice que el perímetro urbano, el suelo de expansión y las áreas suburbanas existentes y programadas en los planes de ordenamiento territorial, queden por fuera de la eventual actividad minera. Las áreas que los municipios destinen a estas categorías de clasificación del suelo y que se encuentren sujetas a actividad minera, deberán ser restituidas en condiciones tales que permitan los usos del suelo indicados en el respectivo plan de ordenamiento territorial. Este mismo lineamiento se aplicará también para los perímetros de los centros poblados rurales y cabeceras corregimentales, que se fijen en los términos que señala el Decreto 3600 de 2007.
  br
  p Si los municipios no tienen definido un suelo de expansión, se debe fijar una distancia mínima a partir del perímetro urbano, la cual debe permanecer libre de actividad minera con el objetivo de que estas actuaciones no afecten a la población residente.
  br
  p Para el caso de los títulos mineros para la explotación de arenas y gravas naturales destinadas a la construcción y localizadas en los suelos de expansión urbana fijados en los Planes de Ordenamiento Territorial, será permitida dicha explotación, conforme a los términos establecidos en el respectivo estudio de impacto ambiental, siempre que la ocupación del suelo no se haga efectiva por el desarrollo previsto.
  br
  p Bajo cualquier situación enmarcada en este tipo de tensión prevalecerá el uso urbano sobre el uso minero, de manera que se impida la generación de impactos socioambientales sobre las poblaciones actuales o futuras y el deterioro ambiental de zonas que en el corto o mediano plazo serán ocupadas.

br
