div.mapa 
  a#lineamiento(href='/images/nuevoLook/MapasLineamientos/lin9.jpg')
    img(src='/images/nuevoLook/MapasLineamientos/thumbnails/t_lin9.jpg')

div
  h2 Centros poblados mayores y procesos de urbanización vs. Actividad petrolera y/o agroindustrial
  br
  p Existe una tensión entre la actividad petrolera y los centros poblados mayores en la subregión del Magdalena Medio, concretamente en el municipio de Yondó, en donde se superponen en una superficie de 926 ha; y una tensión entre el uso agroindustrial y los centros poblados en la subregión de Urabá, en 21.669 ha.
  br
  p En el Departamento debe garantizarse que permanezcan libres de explotaciones y exploraciones petroleras y del uso de agroquímicos y fumigaciones, todas las zonas urbanas, el suelo de expansión urbana y las áreas suburbanas existentes y programadas en los Planes de Ordenamiento Territorial; este mismo lineamiento es aplicable a los perímetros de los centros poblados rurales, a las cabeceras corregimentales y a sus zonas de expansión en caso de poseerlas, que se fijen en los términos del Decreto 3600 de 2007 y la Ley 388 de 1997. 
  br
  p En los casos en que los municipios no tengan definido un suelo de expansión, se recomienda fijar una distancia mínima a partir del perímetro urbano, la cual deberá permanecer libre de explotaciones de petróleo y del uso de agroquímicos y fumigaciones, con el objetivo de que estas actuaciones no afecten a la población residente.
  br
  p El Departamento promoverá, en coordinación con las Autoridades Ambientales, la gestión ambiental de las explotaciones petroleras y agroindustriales, incorporando un control riguroso de las emisiones ambientales que hacen. Promoverá el cierre o suspensión de pozos en exploración o en explotación que pongan en riesgo la vida humana. A su vez, impulsará la revisión de tecnologías en uso para disposición de aguas industriales y demás procedimientos asociados.
  br
  p Se debe adelantar un programa de vigilancia epidemiológica en las poblaciones afectadas por fumigaciones aéreas y exploraciones y explotaciones petroleras.

br
