div#centered-content
  h1 Lineamientos
  br
  h2 Próximamente podrá conocer los LOTA formulados para Antioquia
  p En la actualidad se está desarrollando la socialización de resultados del Proyecto LOTA Fase II en las nueve subregiones del departamento. El propósito es continuar fomentando la participación de los actores estratégicos para revisar los avances del equipo técnico y lograr que los lineamientos de ordenación territorial para Antioquia que se han formulado sean revisados con los habitantes de las subregiones para que puedan hacer ajustes antes de ser publicados. 
  br
  p Esta es la agenda de talleres para la socialización del diagnóstico de potencialidades y tensiones encontradas en el territorio y el debate sobre los lineamientos construidos:
  br
  br
  table
    tbody
      tr
        th Fecha 
        th Subregión 
        th Lugar de encuentro
      tr
        td Febrero 3
        td Norte
        td Universidad Católica del Norte- Santa Rosa de Osos
      tr
        td Febrero 15
        td Valle de Aburrá
        td Aula Múltiple- Paraninfo Universidad de Antioquia- Medellín
      tr
        td Febrero 20
        td Occidente
        td Institución Educativa Arturo Velásquez- Santa Fe de Antioquia
      tr
        td Febrero 20
        td Magdalena Medio
        td Ciudadela Educativa y Cultural- Puerto Berrío
      tr
        td Febrero 23
        td Suroeste
        td Sede Club Kiwanis- Andes
      tr
        td Febrero 23
        td Nordeste
        td Casa de Justicia- Vegachí
      tr
        td Febrero 28
        td Bajo Cauca
        td Universidad de Antioquia- Caucasia
      tr
        td Febrero 28
        td Urabá
        td Ciudadela Educativa y Cultural- Apartadó
      tr
        td Marzo 1
        td Oriente
        td Auditorio Cornare- El Santuario
