div#centered-content
  h1 Presentación
  br
  p La formulación de Lineamientos de Ordenación Territorial para Antioquia –LOTA- Fase II es un proyecto de la Comisión Tripartita, ejecutado por la Universidad Nacional, la Universidad de Antioquia, la Universidad Pontificia Bolivariana, la Universidad de Medellín y la Escuela de Ingeniería de Antioquia, que pretende suplir la necesidad de un instrumento de planificación y de gestión territorial que permita avanzar en la integración y el equilibrio interterritorial.
  br
  h2 Objetivo general LOTA fase II 
  p Construir los Lineamientos de Ordenación Territorial para el departamento de Antioquia a partir de los antecedentes de la fase I, ajustándolos, complementándolos y validándolos a través de un proceso participativo que involucre a los actores públicos y privados que intervienen sobre el territorio, para estructurar una política pública departamental que garantice la relación e integración territorial, con fundamento en los principios del desarrollo sostenible y el valor de la solidaridad entre los territorios que lo conforman.
  br
  h2 Enfoque y principios metodológicos 
  p LOTA fase II retoma el enfoque conceptual y metodológico que se utilizó en la fase I de “planificación enfocada a la acción”. La metodología de trabajo se fundamenta en cuatro principios: 
  br
  ol
    li 1. Complementariedad: se parte de los avances de LOTA I, los complementa e incorpora temas recientes (cambio climático, megaproyectos recientemente aprobados)
    br
    li 2. Participación y Comunicación: se propician espacios para el debate social y la participación activa de los diferentes actores.
    br
    li 3. Viabilidad: radica en la pertinencia del contenido de los lineamientos que deben poder afectar los procesos de planificación territorial de escala subregional y local. 
    br
    li 4. Rigor Técnico: las universidades comprometen toda su experiencia y conocimiento e identifican necesidades que deberán alimentar futuros ejercicios de planificación.
  br
  h2 Temas de análisis en LOTA fase II
  ol
    li 
      b 1. Base Natural del Departamento 
      ul
        li - Sistema Departamental de Áreas Protegidas SIDAP 
        li - Vocaciones económicas subregionales (usos de la tierra)
        li - Dinámica y Uso del Litoral Costero
    br
    li 
      b 2. Infraestructura y Megaproyectos 
      ul 
        li - Servicios públicos 
        li - Infraestructura de Movilidad
        li - Megaproyectos
    br
    li 
      b 3. Productividad 
      ul
        li - Vocaciones económicas 
        li - Minería
    br
    li 
      b 4. Socioterritorial 
      ul
        li - Dinámica demográfica 
        li - Fronteras departamentales 
        li - Político institucional
    br
    li 
      b 5. Sistema Urbano Regional 
      ul
        li - Jerarquías, centros 
        li - Equipamientos
  br
  a#pdf(href='/docs/InformacionGeneral ProyectoLotafaseII.pdf') Leer más 