div#inner-wrap
  div#content-row
    div#left-content
      img#paginaInterna(src="/images/paginaInterna2.jpg")
      div#dairo
        a(href="http://www.flickr.com/people/dairocorrea/",target="blank") Fotos por Dairo Correa

    div#right-content
      div#links
        a(href="/proyecto/lota2") Presentación LOTA fase II
        br
        a(href="/proyecto/quienes") Quiénes somos
  div#content-row
    div#left-content
      br
      p La formulación de Lineamientos de Ordenación Territorial para Antioquia –LOTA- Fase II es un proyecto de la Comisión Tripartita, ejecutado por la Universidad Nacional, la Universidad de Antioquia, la Universidad Pontificia Bolivariana, la Universidad de Medellín y la Escuela de Ingeniería de Antioquia, que pretende suplir la necesidad de un instrumento de planificación y de gestión territorial que permita avanzar en la integración y el equilibrio interterritorial.
      br
      h2 Objetivo general LOTA fase II 
      p Construir los Lineamientos de Ordenación Territorial para el departamento de Antioquia a partir de los antecedentes de la fase I, ajustándolos, complementándolos y validándolos a través de un proceso participativo que involucre a los actores públicos y privados que intervienen sobre el territorio, para estructurar una política pública departamental que garantice la relación e integración territorial, con fundamento en los principios del desarrollo sostenible y el valor de la solidaridad entre los territorios que lo conforman.
      br
      h2 Enfoque y principios metodológicos 
      p LOTA fase II retoma el enfoque conceptual y metodológico que se utilizó en la fase I de “planificación enfocada a la acción”. La metodología de trabajo se fundamenta en cuatro principios: 
      br
      ol
      li 1. Complementariedad: se parte de los avances de LOTA I, los complementa e incorpora temas recientes (cambio climático, megaproyectos recientemente aprobados)
      br
      li 2. Participación y Comunicación: se propician espacios para el debate social y la participación activa de los diferentes actores.
      br
      li 3. Viabilidad: radica en la pertinencia del contenido de los lineamientos que deben poder afectar los procesos de planificación territorial de escala subregional y local. 
      br
      li 4. Rigor Técnico: las universidades comprometen toda su experiencia y conocimiento e identifican necesidades que deberán alimentar futuros ejercicios de planificación.
      br
      a#pdf(href='/docs/InformacionGeneral ProyectoLotafaseII.pdf') Leer más 

    div#right-content
      div#recuadro
        div#contenido
          p LOTA Fase II busca establecer lineamientos básicos territoriales de escala regional (departamental), como marco de referencia para los diferentes procesos de planeación que vienen constituyéndose en su jurisdicción, así como para orientar adecuadamente la localización espacial de los proyectos que en materia económica, sociocultural o de infraestructura se formulen en Antioquia.