div#centered-content
  h1 Análisis y cartografía
  p Durante 2011 se realizó un importante trabajo cartográfico para representar la organización territorial del departamento e identificar las tensiones presentadas entre los diferentes componentes de análisis. Esta cartografía fue socializada y complementada con los actores estratégicos de cada subregión que asistieron a los talleres LOTA Fase II. 
  br
  ul
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_BajoCauca.pdf') Estructura de organización territorial Subregión Bajo Cauca
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Nordeste.pdf') Estructura de organización territorial Subregión Nordeste
    li#pdf
      a(href='/docs/cartografia/estructura_ordenamiento_territorial_MagdalenaMedio.pdf') Estructura de organización territorial Subregión Magdalena Medio
    li#pdf
      a(href='/docs/cartografia/estrutura_ordenaciвn_territorial_Suroeste.pdf') Estructura de organización territorial Subregión Suroeste
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Norte.pdf') Estructura de organización territorial Subregión Norte
    li#pdf
      a(href='/docs/cartografia/estructura_ordenaciвn_territorial_Oriente.pdf') Estructura de organización territorial Subregión Oriente
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Occidente.pdf') Estructura de organización territorial Subregión Occidente
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Uraba.pdf') Estructura de organización territorial Subregión Urabá
    li#pdf
      a(href='/docs/cartografia/Mapas_sintesis_encuentro_ValleAburra_2011.pdf') Mapas síntesis presentados en el Encuentro de discusión técnica Subregión Valle de Aburrá