div#inner-wrap
  div#centered-content
    img#flotaderecha(src='/images/Participacion.jpg')
    h2 Construyendo juntos acuerdos territoriales
    p LOTA fase II asume como criterio fundamental la participación de actores estratégicos públicos y privados en todas las subregiones. Se trata de instalar socialmente el proceso para movilizar opiniones, ideas, aspiraciones y proyectos de la comunidad antioqueña, en torno a los lineamientos. Se realizan talleres subregionales y reuniones con expertos para trabajar juntos en las propuestas territoriales y en su viabilidad, sostenibilidad y gestión. 
    br
    h2 Objetivos de la estrategia de participación, concertación y comunicación 
    ul
      li - Posibilitar múltiples espacios de participación con la presencia de actores públicos, privados y de diversos sectores sociales y comunitarios, en los que se adelanten procesos de consulta, negociación y concertación para la revisión y ajuste de los Lineamientos de Ordenamiento Territorial para Antioquia fase II.
      li - Realizar un proceso de información y comunicación permanente dirigido al reconocimiento y posicionamiento político y social de los lineamientos. 
      li - Desarrollar una estrategia de sistematización, difusión de avances, y socialización de los resultados del proceso.
    br 
    h2 Estrategias 
    ul
      li - Estrategia de convocatoria para la participación 
      li - Estrategia de sensibilización e información permanente para la movilización 
      li - Estrategia de sistematización y socialización

