div#centered-content
  h1 Quiénes somos
  br
  div.quienes
    div.imagen
      a(href="http://www.areadigital.gov.co/comisiontripartita/Paginas/noticias.aspx", target="blank")
        img(src="/images/comision3tita.png")
    div
      h3 Comisión Tripartita
      p Acuerdo de voluntades entre la Gobernación de Antioquia, la Alcaldía de Medellín y el  Área Metropolitana del Valle de Aburrá,  para aunar esfuerzos en la promoción del desarrollo, el ordenamiento territorial y la competitividad regional.
  
  div.quienes
    div.imagen
      a(href="http://www.udea.edu.co", target="blank")
        img(src="/images/udea.png")
    div
      h3 Universidad de Antioquia- Instituto de Estudios Regionales –Iner-
      p Instituto dedicado a investigar, analizar, interpretar, debatir y difundir, con rigor académico, temas y problemas sociales, políticos, culturales, económicos, ambientales e históricos de la realidad regional y territorial de Colombia, para contribuir a la comprensión y solución de los mismos.
  
  div.quienes
    div.imagen
      a(href="http://www.medellin.unal.edu.co/", target="blank")
        img(src="/images/unal.png")
    div
      h3 Universidad Nacional de Colombia- Instituto de Estudios Ambientales –IDEA-
      p Instituto que busca contribuir al conocimiento del ambiente, al aprovechamiento sostenible de sus potencialidades y a la solución de los problemas del trópico, para mejorar la calidad de vida mediante la creación de pensamiento, la generación de procesos educativos, la investigación científica y el desarrollo tecnológico.
  
  div.quienes
    div.imagen
      a(href="http://www.udem.edu.co", target="blank")
        img(src="/images/udem.png")
    div
      h3 Universidad de Medellín- Programa de Ingeniería Ambiental- Grupo de Estudios y Mediciones Ambientales -GEMA-
      p Equipo interdisciplinario comprometido socialmente con la generación de alternativas de solución a los problemas ambientales. Su objetivo es fomentar y consolidar procesos de investigación ambiental para aportar al desarrollo armónico local y global.
  
  div.quienes
    div.imagen
      a(href="http://www.upb.edu.co/medellin", target="blank")
        img(src="/images/upb.png")    
    div
      h3 Universidad Pontificia Bolivariana
      p La Universidad Pontificia Bolivariana cuenta con este grupo de investigación a través del cual busca fortalecer el impacto de la formación investigativa en el pregrado y aportar a la formación investigativa de estudiantes y docentes. Además, realizar actividades de investigación, docencia y  consultoría.
  div.quienes
    div.imagen
      a(href="http://www.eia.edu.co", target="blank")
        img(src="/images/eia.png")
    div
      h3 Escuela de Ingeniería de Antioquia- Unidad Académica Civil, Ambiental e Industrial. Área Académica Movilidad, Planeación Territorial y SIG
      p Unidad encargada de orientar las actividades de docencia, investigación, extensión e internacionalización de la EIA a través de la oferta de cursos de pregrado, posgrado y extensión, el desarrollo de proyectos de investigación y la creación de redes de investigación en los ámbitos nacional e internacional en los temas de movilidad, ordenamiento territorial y sistemas de información geográfica (SIG).
        