div#left-content
  h1 Análisis y cartografía
  br
  p Durante 2011 se realizó un importante trabajo cartográfico para representar la organización territorial del departamento e identificar las tensiones presentadas entre los diferentes componentes de análisis. Esta cartografía fue socializada y complementada con los actores estratégicos de cada subregión que asistieron a los talleres LOTA Fase II. 
  br
  ul
    h2 Taller Subregión Urabá
    p Municipio de Carepa, 13 de septiembre, 37 participantes, trabajo subgrupos
    br

    a.grouped_elements(href="/images/Galeria/talleres/Urabа/Uraba2.JPG",rel="Uraba")
      img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Uraba2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа1.JPG",rel="Uraba")
      img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Urabа1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Urabа/Urabа3.JPG",rel="Uraba")
      img(src="/images/Galeria/thumbnail/talleres/Urabа/w_Urabа3.JPG", width=130, heigth=98)
    br
    br
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Uraba.pdf') Estructura de organización territorial Subregión Urabá
    br
    br
    h2 Taller Subregión Norte
    p Municipio de Santa Rosa de Osos, 11 de octubre, 46 participantes, trabajo por subgrupos-socioterritorial
    br

    a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte1.JPG",rel="Norte")
      img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte2.JPG",rel="Norte")
      img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Norte/Norte3.JPG",rel="Norte")
      img(src="/images/Galeria/thumbnail/talleres/Norte/w_Norte3.JPG", width=130, heigth=98)
    br
    br

    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Norte.pdf') Estructura de organización territorial Subregión Norte

    br
    br
    h2 Taller Subregión Occidente
    p Municipio de Santa Fe de Antioquia, 13 de octubre, 26 participantes, trabajo por subgrupos-Urbano Regional
    br
    a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente1.JPG",rel="Occidente")
      img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente2.JPG",rel="Occidente")
      img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Occidente/Occidente3.JPG",rel="Occidente")
      img(src="/images/Galeria/thumbnail/talleres/Occidente/w_Occidente3.JPG", width=130, heigth=98)
    br
    br
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Occidente.pdf') Estructura de organización territorial Subregión Occidente
    br
    br

    h2 Taller Subregión Oriente
    p Municipio del Carmen de Viboral, 21 de octubre, 73 participantes,trabajo por subgrupos- Urbano Regional
    br

    a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente1.jpg",rel="Oriente")
      img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente1.jpg", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente2.JPG",rel="Oriente")
      img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Oriente/Oriente3.jpg",rel="Oriente")
      img(src="/images/Galeria/thumbnail/talleres/Oriente/w_Oriente3.jpg", width=130, heigth=98)
    br
    br
 
    li#pdf
      a(href='/docs/cartografia/estructura_ordenaciвn_territorial_Oriente.pdf') Estructura de organización territorial Subregión Oriente
    br
    br
    h2 Talleres Subregión Suroeste

    p Municipio de Amagá, 10 de noviembre, 14 participantes, trabajo subgrupos
    br
    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste1.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste2.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste3.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste3.JPG", width=130, heigth=98)
    br
    p Municipio de Andes, 10 de noviembre, 18 participantes, trabajo subgrupos
    br

    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste4.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste4.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste5.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste5.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Suroeste/Suroeste6.JPG",rel="Suroeste")
      img(src="/images/Galeria/thumbnail/talleres/Suroeste/w_Suroeste6.JPG", width=130, heigth=98)
    br
    br


    li#pdf
      a(href='/docs/cartografia/estrutura_ordenaciвn_territorial_Suroeste.pdf') Estructura de organización territorial Subregión Suroeste
    br
    br

    h2 Taller Subregión Bajo Cauca
    p Municipio de Caucasia, 23 de noviembre, 25 participantes
    br

    a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca1.JPG",rel="BajoCauca")
      img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca2.JPG",rel="BajoCauca")
      img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/BajoCauca/BajoCauca3.JPG",rel="BajoCauca")
      img(src="/images/Galeria/thumbnail/talleres/BajoCauca/w_BajoCauca3.JPG", width=130, heigth=98)
    br
    br
    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_BajoCauca.pdf') Estructura de organización territorial Subregión Bajo Cauca

    br
    br

    h2 Taller Subregión Nordeste
    p Municipio de Vegachí, 29 de noviembre, 23 participantes
    br

    a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste1.jpg",rel="Nordeste")
      img(src="/images/Galeria/thumbnail/talleres/Nordeste/w_Nordeste1.jpg", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/Nordeste/Nordeste2.jpg",rel="Nordeste")
      img(src="/images/Galeria/thumbnail/talleres/Nordeste/w_Nordeste2.jpg", width=130, heigth=98)
    br
    br

    li#pdf
      a(href='/docs/cartografia/estructura_ordenacion_territorial_Nordeste.pdf') Estructura de organización territorial Subregión Nordeste
    br
    br
    h2 Taller Subregión Magdalena Medio
    p Municipio de Puerto Berrío, 6 de diciembre, 18 participantes
    br

    a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio1.JPG",rel="MagdalenaMedio")
      img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio2.JPG",rel="MagdalenaMedio")
      img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/MagdalenaMedio/MagadalenaMedio3.JPG",rel="MagdalenaMedio")
      img(src="/images/Galeria/thumbnail/talleres/MagdalenaMedio/w_MagadalenaMedio3.JPG", width=130, heigth=98)
    br
    br
    li#pdf
      a(href='/docs/cartografia/estructura_ordenamiento_territorial_MagdalenaMedio.pdf') Estructura de organización territorial Subregión Magdalena Medio
    br
    br

    h2 Taller Subregión Valle de Aburrá
    p Municipio de Medellín, 13 de diciembre, 40 participantes
    br
    a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа1.JPG",rel="ValleAburra")
      img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа1.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа2.JPG",rel="ValleAburra")
      img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа2.JPG", width=130, heigth=98)
    a.grouped_elements(href="/images/Galeria/talleres/ValledeAburrа/ValledeAburrа3.JPG",rel="ValleAburra")
      img(src="/images/Galeria/thumbnail/talleres/ValledeAburrа/w_ValledeAburrа3.JPG", width=130, heigth=98)

    li#pdf
      a(href='/docs/cartografia/Mapas_sintesis_encuentro_ValleAburra_2011.pdf') Mapas síntesis presentados en el Encuentro de discusión técnica Subregión Valle de Aburrá

div#right-content
  p En 2012, el propósito es regresar a las subregiones para socializar el diagnóstico global de potencialidades y tensiones encontradas en el territorio, así como los lineamientos de ordenación territorial para Antioquia que se han formulado.
  
  p
    a(href='/lineamientos') Programación