div#centered-content
  h1 Talleres LOTA 2012
  br
  p A continuación, las propuestas preliminares que se han socializado en los talleres subregionales LOTA Fase II, que aún están en proceso de ajustes:  
  br
  h2 Taller Subregión Norte
  p Municipio de Santa Rosa de Osos, 3 de febrero, 59 participantes.

  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte1.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte2.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte3.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte3.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_norte.pdf') Diagnóstico, tensiones y potencialidades subregion Norte

  br
  h2 Taller Subregión Valle de Aburrá
  p Municipio de Medellín, 15 de febrero, 16 participantes

  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra1.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra2.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra3.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra3.JPG", width=130, heigth=98)

  br
  br
  li#pdf
    a(href='/docs/cartografia/presentacion_encuentro_de_discusion_valle_aburra.pdf') Presentación encuentro de discusión Valle de Aburrá

  br
  h2 Taller Subregión Occidente
  p Municipio de Santa Fe de Antioquia, 20 de febrero, 42 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/Occidente/Occidente1.JPG",rel="Occi")
    img(src="/images/Galeria/thumbnail/talleres2012/Occidente/w_Occidente1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Occidente/Occidente2.JPG",rel="Occi")
    img(src="/images/Galeria/thumbnail/talleres2012/Occidente/w_Occidente2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Occidente/Occidente3.JPG",rel="Occi")
    img(src="/images/Galeria/thumbnail/talleres2012/Occidente/w_Occidente3.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_occidente.pdf') Diagnóstico tensiones y potencialidades Subregión Occidente
  br
  h2 Taller Subregión Magdalena Medio
  p Municipio de Puerto Berrío, 20 de febrero, 37 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/MagdalenaMedio/MagdalenaMedio1.jpg",rel="Magda")
    img(src="/images/Galeria/thumbnail/talleres2012/MagdalenaMedio/w_MagdalenaMedio1.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/MagdalenaMedio/MagdalenaMedio2.jpg",rel="Magda")
    img(src="/images/Galeria/thumbnail/talleres2012/MagdalenaMedio/w_MagdalenaMedio2.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/MagdalenaMedio/MagdalenaMedio3.jpg",rel="Magda")
    img(src="/images/Galeria/thumbnail/talleres2012/MagdalenaMedio/w_MagdalenaMedio3.jpg", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_magdalena_medio.pdf') Diagnóstico tensiones y potencialidades Subregión Magdalena Medio

  br
  h2 Taller Subregión Nordeste
  p Municipio de Vegachí, 23 de febrero, 40 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/Nordeste/Nordeste1.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/talleres2012/Nordeste/w_Nordeste1.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Nordeste/Nordeste2.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/talleres2012/Nordeste/w_Nordeste2.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Nordeste/Nordeste3.jpg",rel="Nordeste")
    img(src="/images/Galeria/thumbnail/talleres2012/Nordeste/w_Nordeste3.jpg", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_nordeste.pdf') Diagnóstico tensiones y potencialidades Subregión Nordeste

  br
  h2 Taller Subregión Suroeste 
  p Municipio de Andes, 23 de febrero, 33 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/Suroeste/Suroeste1.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres2012/Suroeste/w_Suroeste1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Suroeste/Suroeste3.JPG",rel="Suroeste")
    img(src="/images/Galeria/thumbnail/talleres2012/Suroeste/w_Suroeste3.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnosticos_tensiones_y_potencialidades_subregion_suroeste.pdf') Diagnósticos tensiones y potencialidades Subregión Suroeste

  br
  h2 Taller Subregión Bajo Cauca
  p Municipio de Caucasia, martes 28 de febrero, 21 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/BajoCauca/BajoCauca1.JPG",rel="BCauca")
    img(src="/images/Galeria/thumbnail/talleres2012/BajoCauca/w_BajoCauca1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/BajoCauca/BajoCauca2.JPG",rel="BCauca")
    img(src="/images/Galeria/thumbnail/talleres2012/BajoCauca/w_BajoCauca2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/BajoCauca/BajoCauca3.JPG",rel="BCauca")
    img(src="/images/Galeria/thumbnail/talleres2012/BajoCauca/w_BajoCauca3.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_bajo_cauca.pdf') Diagnósticos tensiones y potencialidades Subregión Bajo Cauca
  
  br 
  h2 Taller Subregión Urabá
  p Municipio de Apartadó, martes 28 de febrero, 38 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/Uraba/Uraba1.jpg",rel="Ura")
    img(src="/images/Galeria/thumbnail/talleres2012/Uraba/w_Uraba1.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Uraba/Uraba4.jpg",rel="Ura")
    img(src="/images/Galeria/thumbnail/talleres2012/Uraba/w_Uraba4.jpg", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Uraba/Uraba3.jpg",rel="Ura")
    img(src="/images/Galeria/thumbnail/talleres2012/Uraba/w_Uraba3.jpg", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_uraba.pdf') Diagnóstico tensiones y potencialidades Subregión Urabá

  br
  h2 Taller Subregión Oriente
  p Municipio de El Santuario, miércoles 7 de marzo, 85 participantes
  a.grouped_elements(href="/images/Galeria/talleres2012/Oriente/Oriente1.JPG",rel="Ori")
    img(src="/images/Galeria/thumbnail/talleres2012/Oriente/w_Oriente1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Oriente/Oriente2.JPG",rel="Ori")
    img(src="/images/Galeria/thumbnail/talleres2012/Oriente/w_Oriente2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Oriente/Oriente3.JPG",rel="Ori")
    img(src="/images/Galeria/thumbnail/talleres2012/Oriente/w_Oriente3.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_oriente.pdf') Diagnóstico tensiones y potencialidades Subregión Oriente
div#fill
div#fill
div#fill