div#centered-content
  h1 Talleres LOTA 2012
  br
  p En 2012, nuestro propósito es regresar a las subregiones para socializar el diagnóstico global de potencialidades y tensiones encontradas en el territorio, así como la propuesta de lineamientos de ordenación territorial para Antioquia. El cronograma de estos encuentros es:  
  br
  h2 Taller Subregión Norte
  p Municipio de Santa Rosa de Osos, 3 de febrero, 59 participantes.

  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte1.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte2.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte3.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte3.JPG", width=130, heigth=98)
  p
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte4.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte4.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte5.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte5.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/Norte/Norte6.JPG",rel="Norte")
    img(src="/images/Galeria/thumbnail/talleres2012/Norte/w_Norte6.JPG", width=130, heigth=98)
  br
  br
  li#pdf
    a(href='/docs/cartografia/diagnostico_tensiones_y_potencialidades_subregion_norte.pdf') Diagnóstico, tensione y potencialidades subregion Norte

  br
  h2 Taller Subregión Valle de Aburrá
  p Municipio de Medellín, 15 de febrero, 16 participantes

  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra1.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra1.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra2.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra2.JPG", width=130, heigth=98)
  a.grouped_elements(href="/images/Galeria/talleres2012/ValledeAburra/Aburra3.JPG",rel="Vallede")
    img(src="/images/Galeria/thumbnail/talleres2012/ValledeAburra/w_Aburra3.JPG", width=130, heigth=98)

  br
  br
  li#pdf
    a(href='/docs/cartografia/presentacion_encuentro_de_discusion_valle_aburra.pdf') Presentación encuentro de discusión Valle de Aburrá

  br
  h2 Taller Subregión Occidente
  p Municipio de Santa Fe de Antioquia, 20 de febrero, 42 participantes
  p Próximamente Fotos
  p Próximamente PPT subregión
  br
  br
  h2 Taller Subregión Magdalena Medio
  p Municipio de Puerto Berrío, 20 de febrero, 37 participantes
  p Próximamente Fotos
  p Próximamente PPT subregión



div#fill
div#fill
div#fill