div#left-content
  h1 Talleres Lota fase II
  p Durante 2011 se realizaron talleres en las nueve subregiones de Antioquia para presentar los resultados de la primera fase de LOTA y discutir y analizar, con los actores estratégicos, la organización territorial propuesta por LOTA fase II como insumo para la posterior formulación de lineamientos.
  br
  h2 Taller Subregión Urabá
  p 13 de septiembre, municipio de Carepa, 37 participantes
  p Fotos taller (al pasar el cursor sobre la foto indique de qué se trata)
  br
  h2 Taller Subregión Norte
  p 11 de octubre, municipio de Santa Rosa de Osos, 46 participantes
  p Fotos taller
  br
  h2 Taller Subregión Occidente
  p El 13 de octubre, municipio de Santa Fe de Antioquia, 26 participantes

div#right-content  
  p Poner a un lado de la página, como cápsula, las fechas de los talleres subregionales 2012 para la socialización de lineamientos.