div#centered-content
  h1 Talleres Lota fase II
div#left-content
  br
  p Durante 2011 se realizaron talleres en las nueve subregiones de Antioquia para presentar los resultados de la primera fase de LOTA y discutir y analizar, con los actores estratégicos, la organización territorial propuesta por LOTA fase II como insumo para la posterior formulación de lineamientos.
  br
  h2 Taller Subregión Urabá
  p Municipio de Carepa, 13 de septiembre, 37 participantes
  br
  h2 Taller Subregión Norte
  p Municipio de Santa Rosa de Osos, 11 de octubre, 46 participantes
  br
  h2 Taller Subregión Occidente
  p Municipio de Santa Fe de Antioquia, 13 de octubre, 26 participantes
  br
  h2 Taller Subregión Oriente
  p Municipio del Carmen de Viboral, 21 de octubre, 73 participantes
  br
  h2 Talleres Subregión Suroeste
  p Municipio de Amagá, 10 de noviembre, 14 participantes
  br
  h2 Municipio de Andes, 10 de noviembre, 18 participantes
  br
  h2 Taller Subregión Bajo Cauca
  p Municipio de Caucasia, 23 de noviembre, 25 participantes
  br
  h2 Taller Subregión Nordeste
  p Municipio de Vegachí, 29 de noviembre, 23 participantes
  br
  h2 Taller Subregión Magdalena Medio
  p Municipio de Puerto Berrío, 6 de diciembre, 18 participantes
  br
  h2 Taller Subregión Valle de Aburrá
  p Municipio de Medellín, 13 de diciembre, 40 participantes

div#right-content
  p En 2012, el propósito es regresar a las subregiones para socializar el diagnóstico global de potencialidades y tensiones encontradas en el territorio, así como los lineamientos de ordenación territorial para Antioquia que se han formulado.
  
  p
    a(href='/lineamientos') Programación