////////////////////////////////////////////////
//                   UTILS    
////////////////////////////////////////////////

corner-each(tl, tr, br, bl)
  border-radius tl
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)

bx-shadow(shw-size, shw-color)
  -moz-box-shadow: 0px 0px shw-size shw-color
  -webkit-box-shadow: 0px 0px shw-size shw-color
  box-shadow: 0px 0px shw-size shw-color

txt-shadow(shw-size, shw-color)
  -moz-text-shadow: 0px 0px shw-size shw-color
  -webkit-tex-shadow: 0px 0px shw-size shw-color
  text-shadow: 0px 0px shw-size shw-color


bg-gradient(color1,color2)
  background-image: -moz-linear-gradient(top, color1, color2)
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, color1),color-stop(1, color2))
  background-image: -webkit-linear-gradient(top, color1, color2)
  background-image: -moz-linear-gradient(top, color1, color2)
  background-image: -ms-linear-gradient(top, color1, color2)
  background-image: -o-linear-gradient(top, color1, color2)

////////////////////////////////////////////////

/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline

/*
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure,
footer, header, hgroup, menu,
nav, section, li
  display block

/*
-----------------------------------------------------------------------------*/
verde-claro= #b1c903
verde-obscuro= #046729
verde-medio= #91bb163

verde-claro-alpha= #b1c90370
verde-obscuro-alpha= #04672970
verde-medio-alpha= #91bb1670
verde-oliva= #c2d69b

verde-clarito= #deeaae

body
  background-image: url("/images/nuevoLook/header-bg.jpg")
  background-repeat: no-repeat
  background-position: top
  font: 14px Verdana,Arial,sans-serif

#top
  //background-image: url("/images/nuevoLook/slices_fondo/slice_0_0.png")
  //background-repeat: no-repeat
  //background-position: top
  display: block
  .wrap
    #logo
      height: 115px
      //background-image: url("/images/nuevoLook/logo.png")
      //background-repeat: no-repeat
      //border: 1px black solid
    #menu
      height: 58px
      //border: 1px black solid
      background-image: url("/images/nuevoLook/barraMenu.png")
      background-repeat: no-repeat 
  ul
    float: right
    li
      float: left
      margin: 3px
#slide-banner
  //background-image: url("/images/nuevoLook/slices_fondo/slice_1_0.png")
  //background-repeat: no-repeat
  //background-position: top
  #slide-img
    corner(6px)
  #slides
    //border: 1px grey solid
    corner(6px)
    background-color: white
    padding: 3px
    margin: 0 auto
    bx-shadow(10px, black)
  #dairo
    a
      color: white
      padding-left: 6px
    position: relative
    top: -25px
    left: 780px
    width: 170px
    display: block
    background-color: #0f0f0f70



#construccion
  p
    color: white
    padding: 3px
  position: relative
  top: -65px
  left: 780px
  width: 200px
  display: block
  background-color: #0f0f0f70


#slogan
  padding-top: 110px
  img
    margin: 0 auto
    display: block

#wrap-recuadro
  padding-right: 15px
  padding-left: 15px
  position: relative;    
  background-color: white
  z-index: -1
  border: 1px grey solid
  bx-shadow(10px, black)
  corner(6px)
  //padding-top: 120px
  width: 980px;
  margin: 0 auto;

#wrap-content
  padding-right: 15px
  padding-left: 15px
  position: relative;    
  background-color: white
  z-index: -1
  border: 1px grey solid
  bx-shadow(10px, black)
  corner(6px)
  //padding-top: 120px
  width: 980px;
  margin: 0 auto;


p
  text-align justify
  color: black

.logo
  display: block
  float: left
  padding-top: 13px
  p
    color: white
    text-shadow: 1px 1px 1px verde-obscuro

#home-header
//  background: verde-obscuro

#header
//  background: verde-claro

#inner-wrap
  //display: table
  //padding-right: 25px
  //padding-left: 25px
  background-color: white
  //border: 1px grey solid
  //bx-shadow(10px, black)
  corner(6px)
  //top: -250px
  //position: relative

#titulo-p
  //background-image: url("/images/nuevoLook/slices_fondo/sliceint_1_0.png")
  //background-repeat: no-repeat
  //background-position: top
  //height: 354px
  h1
    padding: 5px

#content
  //background-image: url("/images/nuevoLook/slices_fondo/slice_3_0.png")
  //background-repeat: no-repeat
  //background-position: bottom
  .wrap
    //border: 1px black solid
    //background-color: white
    //padding-top: 15px
    padding-bottom: 15px
    h3
      color: verde-obscuro
    h2
      color: verde-obscuro
      font-size: 18px
    h1
      color: white
      font-size: 30px
      txt-shadow(10px, grey)
      //background-color: verde-obscuro
    #centered-content
      margin: 0 auto
      #contIndex
        //corner(6px)
        //background-color: white
        display: inline
        text: center
        width: 100%
        //border: 1px black solid
        margin: 0 auto;
        #video
          display: table
          margin: 10px auto
          .video_lota
            display: table-cell
            padding: 10px
            border: 1px grey solid
            corner(6px)
            height: 345px
            width: 600px
            bx-shadow(10px,black)
        #tres_cuadros
          //border: 1px grey solid
          display: inline-block
          margin: 10px auto
          padding-top: 40px
          .cuadro
            float: left
            padding: 10px
            margin-left: 23px
            //background-color: white
            corner(6px)
            height: 304px
            width: 260px
            border: 1px grey solid
            bx-shadow(10px, black)
            img
              margin-top: 10px
              corner-bottom(10px)
      width: 98%
      .quienes
        .imagen
          width:125px
          height:70px
          float:left
        margin: 15px
        display: inline-table
    #content-row
      display: table-row
      #left-content
        width: 80%
        display: table-cell
        img#paginaInterna
          padding-top: 5px
          corner(4px)
          position: relative
        #dairo
          a
            color: white
            padding-left: 6px
          position: relative
          top: -21px
          left: 580px
          width: 170px
          display: block
          background-color: #0f0f0f70

      #right-content
        display: table-cell
        text-align: right
        vertical-align: middle
        #links
          display: inline-block

#centered-content
  img#paginaInterna
    padding-top: 5px
    corner(4px)
    position: relative
  #dairo
    a
      color: white
      padding-left: 6px
    position: relative
    top: -21px
    left: 780px
    width: 170px
    display: block
    background-color: #0f0f0f70


#bottom
  //background-image: url("/images/nuevoLook/footer-bg.png")
  //background-repeat: no-repeat
  //background-position: bottom
  position: relative
  padding-top: 20px
  //top: 1px
  z-index: 5
  .wrap
    .footer
      img
        //border: 1px black solid



#superwrap
  //width: 1217px
  margin: 0 auto
  background-image: url("/images/nuevoLook/footer-bg.jpg")
  background-repeat: no-repeat
  background-position: bottom
  position: relative
  z-index: 0

.wrap
  width: 960px
  margin: 0 auto

th
  background-color: verde-oliva
  border-width: 1px
  border-style: solid
  border-color: verde-obscuro
  border-collapse: collapse
  padding: 2px
  margin: 2px auto

tr,td,table
  border-width: 1px
  border-style: solid
  border-color: verde-obscuro
  border-collapse: collapse
  padding: 2px
  margin: 2px auto

#separador
  border-right-style: solid
  border-right-color: verde-obscuro
  border-right-width: 2px

#nav
  display: inline-block
  li
    float: left
    position: relative
    list-style: none

/* main level link */
#nav a
  corner(6px)
  background: verde-obscuro
  display: inline-block
  padding: 10px
  float: left
  color: white
  text-decoration: none
  &:hover
    background-color: white
    color: verde-obscuro

/* main level link hover */
#nav .current a, #nav li:hover > a
  corner(6px)
  background: verde-obscuro
  color: white
  text-decoration: none
  &:hover
    background-color: white
    color: verde-obscuro

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a
  corner(6px)
  background: verde-obscuro
  color: white
  text-decoration: none

#nav ul a:hover
  corner(6px)
  background: verde-obscuro
  display: inline-block
  color: white
  text-decoration: none

#nav ul
  display: none
  position: absolute
  top: 35px
  left: 0

#nav li:hover > ul
  corner(6px)
  background: verde-obscuro
  display: inline-block
  color: white
  text-decoration: none

#nav ul li
  corner(6px)
  background: verde-obscuro
  display: inline-block
  color: white
  text-decoration: none

#nav ul a
  corner(6px)
  background: verde-obscuro
  display: inline-block
  float: left
  color: white
  text-decoration: none

#nav:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

#pdf
  list-style: url("/images/icono-pdf.png") inside;
  display: list-item;

b
  color: verde-obscuro

a
 text-decoration: none

#fill
  height: 50px

#floating-banner
  height: 300px

#floating-footer
  position: static
  height: 10px

#yapaso
  color: grey

#centrado
  p
    text-align: center

#flotaderecha
  float: right
  padding: 5px
  margin-left: 5px

#recuadro
  margin-right: 5px
  #titulo
    p
      b
        color: white
      font-size: 12px
      text-align: right
    p#subtitulo
      font-size: 12px
      color: white
    background-color: verde-obscuro
    margin: 10px 15px 0px 30px 
    corner-top(6px)
    padding: 11px
  #contenido
    background-color: verde-clarito
    margin: 0px 10px 10px 10px
    corner(6px)
    padding: 11px
    p 
      font-size: 14px
      text-align: center
      color: verde-obscuro
    ul 
      padding-left: 10px
      li
        list-style: disc 
        display: list-item
        color: verde-obscuro  
        font-size: 14px

#noticias
  top: 0
  left: 800px
  position: absolute
  #titulo
    p
      font-size: 14px
      text-align: right
    p#subtitulo
      font-size: 12px
    background-color: verde-claro-alpha
    margin: 10px 15px 0px 30px 
    corner-top(6px)
    padding: 11px
  #contenido
    background-color: verde-obscuro-alpha
    margin: 0px 10px 10px 10px
    corner(6px)
    padding: 11px
    p
      font-size: 14px
      text-align: center    

.contacto
  font-size: 16px
  text-align: center

#ContentLineamiento
  //border: 1px solid
  display: table
  width: 100%
  height: 800px
  
.MenuLineamiento
  display: block
  //table-cell
  //margin: 10px
  position: relative
  div
    //padding: 10px
    //margin: 5px
    //word-break: break-all
    a.llinea
      border: 1px solid black
      display: block
      text-decoration: none
      padding: 5px

.TextoLineamiento
  width: 96%
  display: block
  //table-cell
  margin: 10px
  padding: 10px
  border: 1px solid grey
  corner(6px)
  //height: 550px
  h1
    display: block
  .mapa
    float: right
    //border: 1px solid black
    //width: 352px
    //height: 490px
    margin-top: 30px
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 10px
    position: static
    p
      text-align: center

#fancybox-content
  width: 1000px
  height: 1429px  