/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/*
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
li {
  display: block;
}
/*
-----------------------------------------------------------------------------*/
body {
  background-image: url("/images/nuevoLook/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  font: 14px Verdana, Arial, sans-serif;
}
#top {
  display: block;
}
#top .wrap #logo {
  height: 115px;
}
#top .wrap #menu {
  height: 58px;
  background-image: url("/images/nuevoLook/barraMenu.png");
  background-repeat: no-repeat;
}
#top ul {
  float: right;
}
#top ul li {
  float: left;
  margin: 3px;
}
#slide-banner #slide-img {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
#slide-banner #slides {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background-color: #fff;
  padding: 3px;
  margin: 0 auto;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
#slide-banner #dairo {
  position: relative;
  top: -20px;
  left: 780px;
  width: 170px;
  display: block;
  background-color: rgba(15,15,15,0.44);
}
#slide-banner #dairo a {
  color: #fff;
  padding-left: 6px;
}
#construccion {
  position: relative;
  top: -65px;
  left: 780px;
  width: 200px;
  display: block;
  background-color: rgba(15,15,15,0.44);
}
#construccion p {
  color: #fff;
  padding: 3px;
}
#slogan {
  padding-top: 110px;
}
#slogan img {
  margin: 0 auto;
  display: block;
}
#wrap-recuadro {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  background-color: #fff;
  z-index: -1;
  border: 1px #808080 solid;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  width: 980px;
  margin: 0 auto;
}
#wrap-content {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  background-color: #fff;
  z-index: -1;
  border: 1px #808080 solid;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  width: 980px;
  margin: 0 auto;
}
p {
  text-align: justify;
  color: #000;
}
.logo {
  display: block;
  float: left;
  padding-top: 13px;
}
.logo p {
  color: #fff;
  text-shadow: 1px 1px 1px #046729;
}
#home-header,
#header,
#inner-wrap {
  background-color: #fff;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
#titulo-p h1 {
  padding: 5px;
}
#content .wrap {
  padding-bottom: 15px;
}
#content .wrap h3 {
  color: #046729;
}
#content .wrap h2 {
  color: #046729;
  font-size: 18px;
}
#content .wrap h1 {
  color: #fff;
  font-size: 30px;
  -moz-text-shadow: 0px 0px 10px #808080;
  -webkit-tex-shadow: 0px 0px 10px #808080;
  text-shadow: 0px 0px 10px #808080;
}
#content .wrap #centered-content {
  margin: 0 auto;
  width: 98%;
}
#content .wrap #centered-content #contIndex {
  display: block;
  width: 100%;
  margin: 0 auto;
}
#content .wrap #centered-content #contIndex #video {
  display: table;
  margin: 10px auto;
}
#content .wrap #centered-content #contIndex #video .video_lota {
  display: table-cell;
  padding: 10px;
  border: 1px #808080 solid;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  height: 345px;
  width: 600px;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
#content .wrap #centered-content #contIndex #tres_cuadros {
  display: block;
  margin: 10px auto;
  padding-top: 40px;
  vertical-align: baseline;
}
#content .wrap #centered-content #contIndex #tres_cuadros .cuadro {
  padding: 10px;
  margin-left: 23px;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  height: 304px;
  width: 260px;
  border: 1px #808080 solid;
  display: inline-block;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
#content .wrap #centered-content #contIndex #tres_cuadros .cuadro img {
  margin-top: 10px;
  border-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#content .wrap #centered-content .quienes {
  margin: 15px;
  display: inline-table;
}
#content .wrap #centered-content .quienes .imagen {
  width: 125px;
  height: 70px;
  float: left;
}
#content .wrap #content-row {
  display: table-row;
}
#content .wrap #content-row #left-content {
  width: 80%;
  display: table-cell;
  padding-right: 10px;
}
#content .wrap #content-row #right-content {
  background-color: #deeaae;
  width: 20%;
  display: table-cell;
}
#bottom {
  position: relative;
  padding-top: 20px;
  z-index: 5;
}
#superwrap {
  margin: 0 auto;
  background-image: url("/images/nuevoLook/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  z-index: 0;
}
.wrap {
  width: 960px;
  margin: 0 auto;
}
th {
  background-color: #c2d69b;
  border-width: 1px;
  border-style: solid;
  border-color: #046729;
  border-collapse: collapse;
  padding: 2px;
  margin: 2px auto;
}
tr,
td,
table {
  border-width: 1px;
  border-style: solid;
  border-color: #046729;
  border-collapse: collapse;
  padding: 2px;
  margin: 2px auto;
}
#separador {
  border-right-style: solid;
  border-right-color: #046729;
  border-right-width: 2px;
}
#nav {
  display: inline-block;
}
#nav li {
  float: left;
  position: relative;
  list-style: none;
}
/* main level link */
#nav a {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  padding: 10px;
  float: left;
  color: #fff;
  text-decoration: none;
}
#nav a:hover {
  background-color: #fff;
  color: #046729;
}
/* main level link hover */
#nav .current a,
#nav li:hover > a {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  color: #fff;
  text-decoration: none;
}
#nav .current a:hover,
#nav li:hover > a:hover {
  background-color: #fff;
  color: #046729;
}
/* sub levels link hover */
#nav ul li:hover a,
#nav li:hover li a {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  color: #fff;
  text-decoration: none;
}
#nav ul a:hover {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}
#nav li:hover > ul {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul li {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul a {
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  float: left;
  color: #fff;
  text-decoration: none;
}
#nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pdf {
  list-style: url("/images/icono-pdf.png") inside;
  display: list-item;
}
b {
  color: #046729;
}
a {
  text-decoration: none;
}
#fill {
  height: 50px;
}
#floating-banner {
  height: 300px;
}
#floating-footer {
  position: static;
  height: 10px;
}
#yapaso {
  color: #808080;
}
#centrado p {
  text-align: center;
}
#flotaderecha {
  float: right;
  padding: 5px;
  margin-left: 5px;
}
#recuadro {
  margin-right: 5px;
}
#recuadro #titulo {
  background-color: #046729;
  margin: 10px 15px 0px 30px;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  padding: 11px;
}
#recuadro #titulo p {
  font-size: 12px;
  text-align: right;
}
#recuadro #titulo p b {
  color: #fff;
}
#recuadro #titulo p#subtitulo {
  font-size: 12px;
  color: #fff;
}
#recuadro #contenido {
  margin: 0px 10px 10px 10px;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding: 11px;
}
#recuadro #contenido p {
  font-size: 14px;
  text-align: center;
  color: #046729;
}
#recuadro #contenido ul {
  padding-left: 10px;
}
#recuadro #contenido ul li {
  list-style: disc;
  display: list-item;
  color: #046729;
  font-size: 14px;
}
#noticias {
  top: 0;
  left: 800px;
  position: absolute;
}
#noticias #titulo {
  background-color: rgba(177,201,3,0.44);
  margin: 10px 15px 0px 30px;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  padding: 11px;
}
#noticias #titulo p {
  font-size: 14px;
  text-align: right;
}
#noticias #titulo p#subtitulo {
  font-size: 12px;
}
#noticias #contenido {
  background-color: rgba(4,103,41,0.44);
  margin: 0px 10px 10px 10px;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding: 11px;
}
#noticias #contenido p {
  font-size: 14px;
  text-align: center;
}
.contacto {
  font-size: 16px;
  text-align: center;
}
#ContentLineamiento {
  display: table;
  width: 100%;
  height: 800px;
}
.MenuLineamiento {
  display: block;
  position: relative;
}
.MenuLineamiento div a.llinea {
  border: 1px solid #000;
  display: block;
  text-decoration: none;
  padding: 5px;
}
.TextoLineamiento {
  width: 96%;
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
.TextoLineamiento h1 {
  display: block;
}
.TextoLineamiento .mapa {
  float: right;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: static;
}
.TextoLineamiento .mapa p {
  text-align: center;
}
#fancybox-content {
  width: 1000px;
  height: 1429px;
}
