/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/*
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
li {
  display: block;
}
/*
-----------------------------------------------------------------------------*/
body {
  background: #b1c903;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#top .wrap {
  background-color: #fff;
}
#top .wrap #menu {
  margin-right: 6px;
  background-color: #fff;
}
#top ul {
  float: right;
}
#top ul li {
  float: left;
  margin: 3px;
}
p {
  text-align: justify;
}
.logo {
  display: block;
  float: left;
  padding-top: 13px;
}
.logo p {
  color: #fff;
  text-shadow: 1px 1px 1px #046729;
}
#home-header {
  background: #046729;
}
#header {
  background: #b1c903;
}
#content .wrap {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
#content .wrap h3 {
  color: #046729;
}
#content .wrap h2 {
  color: #046729;
  font-size: 18px;
}
#content .wrap h1 {
  color: #fff;
  font-size: 24px;
  background-color: #046729;
}
#content .wrap #centered-content {
  margin: 0 auto;
  width: 960px;
}
#content .wrap #centered-content {
  width: 98%;
}
#content .wrap #centered-content .quienes {
  margin: 15px;
  display: inline-table;
}
#content .wrap #centered-content .quienes .imagen {
  width: 125px;
  height: 70px;
  float: left;
}
#content .wrap #left-content {
  width: 78%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
#content .wrap #right-content {
  background-color: #deeaae;
  width: 19%;
  top: 0;
  float: right;
  display: inline-block;
}
#bottom {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #046729;
  background-color: #fff;
}
#bottom .wrap {
  background-color: #fff;
}
#bottom .wrap .footer {
  horizontal-baseline: right;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
#bottom .wrap .footer img {
  vertical-align: middle;
  padding-right: 6px;
  padding-left: 6px;
}
#menu {
  padding-top: 8px;
  float: right;
}
.wrap {
  width: 960px;
  margin: 0 auto;
}
th,
tr,
td,
table {
  border-width: 2px;
  border-style: solid;
  border-color: #046729;
  border-collapse: collapse;
  padding: 2px;
  margin: 2px auto;
}
#separador {
  border-right-style: solid;
  border-right-color: #046729;
  border-right-width: 2px;
}
#nav {
  display: inline-block;
}
#nav li {
  float: left;
  position: relative;
  list-style: none;
}
/* main level link */
#nav a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  padding: 10px;
  float: left;
  color: #fff;
  text-decoration: none;
}
#nav a:hover {
  background-color: #fff;
  color: #046729;
}
/* main level link hover */
#nav .current a,
#nav li:hover > a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  color: #fff;
  text-decoration: none;
}
#nav .current a:hover,
#nav li:hover > a:hover {
  background-color: #fff;
  color: #046729;
}
/* sub levels link hover */
#nav ul li:hover a,
#nav li:hover li a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  color: #fff;
  text-decoration: none;
}
#nav ul a:hover {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}
#nav li:hover > ul {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul li {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#nav ul a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #046729;
  display: inline-block;
  float: left;
  color: #fff;
  text-decoration: none;
}
#nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pdf {
  list-style: url("/images/icono-pdf.png") inside;
  display: list-item;
}
b {
  color: #046729;
}
#fill {
  height: 26px;
}
#yapaso {
  color: #808080;
}
#centrado p {
  text-align: center;
}
#flotaderecha {
  float: right;
  padding: 5px;
  margin-left: 5px;
}
#recuadro {
  margin-right: 5px;
}
#recuadro #titulo {
  background-color: #046729;
  margin: 10px 15px 0px 30px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  padding: 11px;
}
#recuadro #titulo p {
  font-size: 12px;
  text-align: right;
}
#recuadro #titulo p b {
  color: #fff;
}
#recuadro #titulo p#subtitulo {
  font-size: 12px;
  color: #fff;
}
#recuadro #contenido {
  background-color: #fff;
  margin: 0px 10px 10px 10px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding: 11px;
}
#recuadro #contenido p {
  font-size: 14px;
  text-align: center;
  color: #046729;
}
#recuadro #contenido ul {
  padding-left: 10px;
}
#recuadro #contenido ul li {
  list-style: disc;
  display: list-item;
  color: #046729;
  font-size: 14px;
}
#noticias {
  top: 0;
  left: 800px;
  position: absolute;
}
#noticias #titulo {
  background-color: rgba(177,201,3,0.44);
  margin: 10px 15px 0px 30px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  padding: 11px;
}
#noticias #titulo p {
  font-size: 14px;
  text-align: right;
}
#noticias #titulo p#subtitulo {
  font-size: 12px;
}
#noticias #contenido {
  background-color: rgba(4,103,41,0.44);
  margin: 0px 10px 10px 10px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding: 11px;
}
#noticias #contenido p {
  font-size: 14px;
  text-align: center;
}
.contacto {
  font-size: 16px;
}
