////////////////////////////////////////////////
//                   UTILS    
////////////////////////////////////////////////

corner-each(tl, tr, br, bl)
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)
////////////////////////////////////////////////

/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline

/*
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure,
footer, header, hgroup, menu,
nav, section, li
  display block

/*
-----------------------------------------------------------------------------*/
verde-claro= #b1c903
verde-obscuro= #046729

body
  background: white
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#top
  background: verde-claro
  height: 94px
  ul
    float: right
    li
      float: left
      margin: 3px
      a
        corner(6px)
        background: verde-obscuro
        display: inline-block
        padding: 10px
        float: left
        color: white
        text-decoration: none
        &:hover
          background-color: white
          color: verde-obscuro

p
  text-align justify

.logo
  display: block
  float: left
  padding-top: 13px
  p
    color: white

#home-header
  background: verde-obscuro

#header
  background: verde-claro

#content
  background: white
  .wrap
    padding-top: 15px
    padding-bottom: 15px
    h1
      color: verde-obscuro
      font-size: 24px
#bottom
  border-top-width: 2px
  border-top-style: solid
  border-top-color: verde-obscuro
  .wrap
    .footer
      img
        vertical-align: middle
        padding-right: 6px
        padding-left: 6px

#menu
  padding-top: 28px
  float: right

.wrap
  width: 974px
  margin: 0 auto

.footer
  padding-top: 15px
  padding-bottom: 15px
  display: block
  float: right

#separador
  border-right-style: solid
  border-right-color: verde-claro
  border-right-width: 2px

#nav
  display: inline-block
  li
    float: left
    position: relative
    list-style: none

/* main level link */
#nav a
  corner(6px)
  background: verde-obscuro
  padding: 10px
  color: white
  text-decoration: none
  
/* main level link hover */
#nav .current a, #nav li:hover > a
  corner(6px)
  background: verde-obscuro
  padding: 10px
  color: white
  text-decoration: none

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a
  corner(6px)
  background: verde-obscuro
  padding: 10px
  color: white
  text-decoration: none

#nav ul a:hover
  corner(6px)
  background: verde-obscuro
  display: inline-block
  padding: 10px
  color: white
  text-decoration: none

#nav ul
  display: none
  position: absolute
  top: 35px
  left: 0

#nav li:hover > ul
  corner(6px)
  background: verde-obscuro
  display: inline-block
  padding: 10px
  color: white
  text-decoration: none

#nav ul li
  corner(6px)
  background: verde-obscuro
  display: inline-block
  padding: 10px
  color: white
  text-decoration: none

#nav ul a
  corner(6px)
  background: verde-obscuro
  display: inline-block
  padding: 10px
  float: left
  color: white
  text-decoration: none

#nav:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0
